Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

feat(lesson-api): implement list lessons api (#203)
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

fix(gateway): fix teacher response
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/response/teacher.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
Labels: backend (gateway), docs, test

fix(gateway): fix small
  api/internal/gateway/entity/subject_test.go
Labels: backend (gateway), test

fix(gateway): fix small
  api/internal/gateway/entity/subject_test.go
Labels: backend (gateway), test

fix(gateway): fix small
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Labels: backend (gateway), test

fix(gateway): fix teacher response (#204)
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/response/teacher.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
Labels: backend (gateway), docs, test

feat(gateway): update student response
  api/internal/gateway/entity/student_subject.go
  api/internal/gateway/entity/student_subject_test.go
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

feat(gateway): update student response (#205)
  api/internal/gateway/entity/student_subject.go
  api/internal/gateway/entity/student_subject_test.go
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

feat(gateway): define REST specification
  docs/swagger/student/openapi.yaml
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/_studentId/index.yaml
Labels: docs

fix: delete needless path
  docker-compose.yaml
Labels: none

feat(lesson-api): implement list submissions api
  api/internal/lesson/api/shift.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/student_shift.go
  api/internal/lesson/database/student_shift_test.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

fix(lesson-api): fix small
  api/internal/lesson/api/shift_test.go
Labels: backend (lesson), test

fix(lesson-api): fix small
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
Labels: backend (lesson)

Feat/lesson api/implement list submissions (#207)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/student_shift.go
  api/internal/lesson/database/student_shift_test.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(gateway): implement list submissions api
  api/internal/gateway/entity/student_shift.go
  api/internal/gateway/entity/student_shift_test.go
  api/internal/gateway/entity/teacher_shift.go
  api/internal/gateway/entity/teacher_shift_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/submissions/_submissionId.yaml
Labels: backend (gateway), docs, test

fix: migrate task
  Makefile
Labels: none

feat(gateway): [wip] create test code
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

fix: migrate task (#209)
  Makefile
Labels: none

fix(gateway): fix small
  api/internal/gateway/entity/student_shift_test.go
  api/internal/gateway/entity/teacher_shift_test.go
Labels: backend (gateway), test

style: useXX hook に書き換え
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher)

fix: 背景色を変更
  web/teacher/src/layouts/default.vue
Labels: frontend (teacher)

fix: cardにborderをつける
  web/teacher/src/components/templates/TheSettingTop.vue
Labels: frontend (teacher)

fix: ブース設定を一番上に持ってくる
  web/teacher/src/components/templates/TheClassroomSetting.vue
Labels: frontend (teacher)

fix: 「戻る」ボタンを配置するページを変更
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher)

Add: added update mail page
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/types/form/teacher.ts
Labels: frontend (teacher)

Fix: やまちゅんの苦情を修正
  web/teacher/src/pages/settings/mail.vue
Labels: frontend (teacher)

feat(user-api): implement multi get teachers
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user), test

feat(user-api): fix small
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
Labels: backend (user)

feat(gateway): implement list submissions api (#208)
  api/internal/gateway/entity/student_shift.go
  api/internal/gateway/entity/student_shift_test.go
  api/internal/gateway/entity/teacher_shift.go
  api/internal/gateway/entity/teacher_shift_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/submissions/_submissionId.yaml
Labels: backend (gateway), docs, test

Add: Added update mail page (#211)
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/types/form/teacher.ts
Labels: frontend (teacher)

feat(user-api): implement multi get teachers (#213)
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user), test

fix: 不要な部分を削除
  web/teacher/src/layouts/default.vue
Labels: frontend (teacher)

Refactor: にしくんの苦情を修正
  web/teacher/src/pages/settings/mail.vue
Labels: frontend (teacher)

feat: 開講科目設定画面のpageを作成
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher)

設定画面のUIを調整 (#210)
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher)

Refactor: にしくんの苦情を修正 (#214)
  web/teacher/src/pages/settings/mail.vue
Labels: frontend (teacher)

feat(user-api): implement multi get students
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
  api/proto/user/student.proto
Labels: backend (user), test

feat(user-api): fix small
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Labels: backend (user), test

style: delete needless code
  docs/swagger/student/openapi.yaml
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
Labels: docs

feat(gateway): define REST specification
  docs/swagger/student/openapi.yaml
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/_studentId/index.yaml
Labels: docs
