Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

fix(web/teacher): fix edit schedule logic
  web/teacher/src/components/organisms/TheRegularHolidaySettingForm.vue
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/middleware/authenticated.ts
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/store/classroom.ts
Labels: frontend (teacher)

fix(web/teacher): fix edit schedule logic (#314)
  web/teacher/src/components/organisms/TheRegularHolidaySettingForm.vue
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/middleware/authenticated.ts
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/store/classroom.ts
Labels: frontend (teacher)

Infra/terraform (#308)
  .gitignore
  infra/terraform/.terraform/modules/modules.json
  infra/terraform/gke/gke_cluster.tf
  infra/terraform/main.tf
  infra/terraform/provider.tf
  infra/terraform/pubsub.tf
  infra/terraform/sql/cloud_sql.tf
  infra/terraform/variables.tf
Labels: infra (terraform)

Fix: fixed middleware
  vetur.config.js
  web/teacher/src/middleware/authenticated.ts
Labels: frontend (teacher)

fix(web/teacher): fix middleware logic
  web/teacher/src/middleware/authenticated.ts
Labels: frontend (teacher)

feat(web/student): update middleware logic
  web/student/src/middleware/authenticated.ts
  web/student/src/store/common.ts
  web/student/src/types/store/common.ts
Labels: frontend (student)

fix: ロケールの設定をjaに変更
  web/student/nuxt.config.js
  web/teacher/nuxt.config.js
Labels: frontend (student), frontend (teacher)

feat(web/student): update middleware logic (#316)
  web/student/src/middleware/authenticated.ts
  web/student/src/store/common.ts
  web/student/src/types/store/common.ts
Labels: frontend (student)

fix: 記述位置の変更
  web/student/nuxt.config.js
  web/teacher/nuxt.config.js
Labels: frontend (student), frontend (teacher)

fix(web): hidden hamburger menu in signin
  web/student/src/components/organisms/TheHeader.vue
  web/student/src/layouts/auth.vue
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/layouts/auth.vue
Labels: frontend (student), frontend (teacher)

feat(gateway): add field to list shifts response
  api/internal/gateway/entity/teacher_submission.go
  api/internal/gateway/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Labels: backend (gateway), test

feat(docs): add swagger
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: docs

feat(gateway): add field to list shifts response (#326)
  api/internal/gateway/entity/teacher_submission.go
  api/internal/gateway/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

feat(lesson-api): implement list teacher submissions by teacher ids
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(web/teacher): add submission flag
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheShiftTeacherTable.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
Labels: frontend (teacher)

fix(lesson-api): fix small
  api/internal/lesson/database/teacher_submission_test.go
Labels: backend (lesson), test

fix(web/teacher): fix small
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

fix(lesson-api): fix small
  api/internal/lesson/database/teacher_submission_test.go
Labels: backend (lesson), test

feat(lesson-api): implement list teacher submissions by teacher ids (#327)
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(gateway): update list shifts api
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Labels: backend (gateway), test

fix(web): hidden hamburger menu in signin (#325)
  web/student/src/components/organisms/TheHeader.vue
  web/student/src/layouts/auth.vue
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/layouts/auth.vue
Labels: frontend (student), frontend (teacher)

feat(web/teacher): add submission flag (#328)
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheShiftTeacherTable.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

feat(gateway): update list shifts api (#329)
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Labels: backend (gateway), test

fix: add terraform-provider into gitignore
  .gitignore
  infra/terraform/.gitignore
Labels: infra (terraform)

fix: delete needless file
  infra/terraform/.gitignore
  infra/terraform/.terraform/modules/modules.json
Labels: infra (terraform)

feat: 「閉じる」ボタンの追加
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher)

feat(web/teacher): add remaining total in student submission
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/store/shift.ts
Labels: frontend (teacher)

feat: 「閉じる」ボタンの追加 (#331)
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher)

feat(web/teacher): add remaining total in student submission (#332)
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/store/shift.ts
Labels: frontend (teacher)

chore: add gitignore and change name
  infra/terraform/.gitignore
  infra/terraform/main.tf
  infra/terraform/sql/cloud_sql.tf
  vetur.config.js
Labels: infra (terraform)

infra: add terraform
  infra/terraform/examples/main.tf
Labels: infra (terraform)

chore: ignore tfstate, tfvars
  .gitignore
Labels: none

fix: delete examples, secondary_ranges
  infra/terraform/examples/main.tf
Labels: infra (terraform)

fix: add terraform-provider into gitignore
  .gitignore
Labels: none

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysq/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
