Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

feat(web/teacher): implement list lessons per user dialog
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/shift.ts
Labels: frontend (teacher)

fix(web/teacher): fix small
  web/teacher/src/store/shift.ts
Labels: frontend (teacher)

feat(web/teacher): implement list lessons per user dialog (#236)
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/shift.ts
Labels: frontend (teacher)

feat(lesson-api): implement update lesson api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(lesson-api): implement update lesson api (#238)
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(gateway): implement update lesson api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/request/lesson.go
  docs/swagger/teacher/components/schemas/v1/lessons.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/_lessonId.yaml
Labels: backend (gateway), docs, test

feat: 科目作成時にスナックバーでフィードバックを追加
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher)

feat(lesson-api): implement delete lesson api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(gateway): implement update lesson api (#239)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/request/lesson.go
  docs/swagger/teacher/components/schemas/v1/lessons.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/_lessonId.yaml
Labels: backend (gateway), docs, test

feat(lesson-api): implement delete lesson api (#240)
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(gateway): implement delete lesson api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/_lessonId.yaml
Labels: backend (gateway), docs, test

feat(Gateway): add DeleteStudent mock (#233)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  docs/swagger/teacher/paths/v1/students/_studentId/index.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement delete lesson api (#241)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/_lessonId.yaml
Labels: backend (gateway), docs, test

fix: 失敗していたテストケースを修正
  web/teacher/src/store/lesson.ts
  web/teacher/test/helpers/store-helper.ts
Labels: frontend (teacher)

feat(lesson-api): add field to shift summary entity
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/entity/lesson.go
  api/internal/lesson/entity/lesson_test.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/validation/lesson_test.go
  api/mock/lesson/database/database.go
  api/proto/lesson/service.proto
  api/proto/lesson/shift_summary.proto
  infra/mysql/schema/2022013001-lessons-aadd-column-to-shift-summaries.sql
Labels: backend (lesson), test

test: createSubjectメソッドのテストを記述
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

feat(lesson-api): add field to shift summary entity (#242)
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/entity/lesson.go
  api/internal/lesson/entity/lesson_test.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/validation/lesson_test.go
  api/mock/lesson/database/database.go
  api/proto/lesson/service.proto
  api/proto/lesson/shift_summary.proto
  infra/mysql/schema/2022013001-lessons-aadd-column-to-shift-summaries.sql
Labels: backend (lesson), test

feat(gateway): add fields lesson decided
  api/internal/gateway/entity/shift_summary_test.go
  api/internal/gateway/teacher/v1/entity/shift_summary.go
  api/internal/gateway/teacher/v1/entity/shift_summary_test.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

feat(gateway): add fields lesson decided (#243)
  api/internal/gateway/entity/shift_summary_test.go
  api/internal/gateway/teacher/v1/entity/shift_summary.go
  api/internal/gateway/teacher/v1/entity/shift_summary_test.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

feat(lesson-api): implement udpate shift decided api
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(lesson-api): implement udpate shift decided api (#245)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(gateway): implement udpate shift decided api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/request/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/decided.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement udpate shift decided api (#246)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/request/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/decided.yaml
Labels: backend (gateway), docs, test

teacher-web: 科目追加機能の実装 (#244)
  web/teacher/src/lib/convert.ts
  web/teacher/src/pages/settings/subjects.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/subject.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/subject.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

feat: 科目更新・削除のメソッドを追加
  web/teacher/src/store/lesson.ts
  web/teacher/src/types/form/subject.ts
Labels: frontend (teacher)

feat: 科目編集・削除機能の実装
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher)

feat(web/teacher): add shift decided status
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
Labels: frontend (teacher)

fix(web/teacher): fix small
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/test/components/organisms/TheShiftTopCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix small
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

feat(web/teacher): add shift decided status (#247)
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/organisms/TheShiftTopCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

feat(lesson-api): implement list lessons by duration
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/entity/shift.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(gateway): implement list lessons by duration
  api/internal/gateway/entity/lesson.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/lesson.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/lessons.response.yaml
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/lessons/index.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/index.yaml
Labels: backend (gateway), docs, test

feat(lesson-api): implement list lessons by duration (#248)
  api/internal/gateway/entity/lesson.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/lesson.go
  api/internal/gateway/teacher/v1/response/shift.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/entity/shift.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
  docs/swagger/teacher/components/schemas/v1/lessons.response.yaml
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/lessons/index.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/index.yaml
Labels: backend (gateway), backend (lesson), docs, test

Add: added update mail API by BFF (#228)
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/teacher.ts
Labels: frontend (teacher)

test: editSubjectのテストケースを追加
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

test: deleteSubjectのテストケースを追加
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

test: 異常系のチェックを追加
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

fix(lesson-api): fix list lessons api response
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
Labels: backend (lesson), test

feat(web/teacher): implement list lessons api client
  web/teacher/src/components/templates/TheTop.vue
  web/teacher/src/pages/index.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/lesson.ts
Labels: frontend (teacher)

test: internal server error になる異常系のテストケースを追加
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
