Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (admin), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), backend (other), infra (docker), infra (firestore), infra (terraform), docs, proto, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (admin):
- api/**/admin/**/*
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*
backend (other):
- '!api/**/admin/**/*'
- '!api/**/classroom/**/*'
- '!api/**/gateway/**/*'
- '!api/**/lesson/**/*'
- '!api/**/messenger/**/*'
- '!api/**/user/**/*'
- '!api/**/workbook/**/*'

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (firestore):
- infra/firestore/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
proto:
- proto/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

feat: setup backend project
  api/.gitignore
  api/.go-version
  api/bin/.keep
  api/cmd/.keep
  api/config/.keep
  api/go.mod
  api/go.sum
  api/hack/.keep
  api/internal/.keep
  api/mock/.keep
  api/pkg/firebase/authentication/client.go
  api/pkg/firebase/authentication/client_test.go
  api/pkg/firebase/client.go
  api/pkg/firebase/client_test.go
  api/pkg/firebase/firestore/client.go
  api/pkg/firebase/firestore/client_test.go
  api/pkg/firebase/storage/client.go
  api/pkg/http/http.go
  api/pkg/http/http_test.go
  api/pkg/http/metrics.go
  api/pkg/http/metrics_test.go
  api/pkg/log/logger.go
  api/pkg/log/logger_test.go
  api/proto/.keep
  api/third_party/.keep
  api/tmp/.keep
  docker-compose.yaml
  infra/docker/infra/firebase/Dockerfile
  infra/firebase/.firebaserc
  infra/firebase/.gitignore
  infra/firebase/firebase.json
Labels: backend (other), infra (docker), test

feat: setup ci/cd workflow
  .github/workflows/ci-backend-for-all.yaml
  api/.golangci.yaml
  api/Makefile
  api/hack/.keep
  api/hack/build-mocks.sh
  api/mock/.keep
  docker-compose.ci.yaml
Labels: backend (other), workflow

feat: implement teacher gateway exec command
  api/cmd/.keep
  api/cmd/gateway/teacher/main.go
  api/config/.keep
  api/config/gateway/teacher/config.go
  api/go.mod
  api/go.sum
  api/internal/.keep
  api/internal/gateway/cmd/teacher/exec.go
  api/internal/gateway/cmd/teacher/registry.go
  api/internal/gateway/cmd/teacher/router.go
  api/pkg/cors/cors.go
  api/pkg/cors/cors_test.go
  api/pkg/cors/gin.go
  api/pkg/cors/gin_test.go
  api/pkg/log/gin.go
  api/pkg/log/gin_test.go
  api/pkg/log/logger.go
  api/pkg/log/logger_test.go
Labels: backend (gateway), backend (other), test

feat: implement user service server exec command
  api/cmd/user/server/main.go
  api/config/user/server/config.go
  api/go.mod
  api/go.sum
  api/hack/build-mocks.sh
  api/internal/gateway/cmd/teacher/registry.go
  api/internal/gateway/cmd/teacher/router.go
  api/internal/user/api/api.go
  api/internal/user/api/api_test.go
  api/internal/user/api/hello.go
  api/internal/user/api/hello_test.go
  api/internal/user/cmd/server/exec.go
  api/internal/user/cmd/server/registy.go
  api/internal/user/validation/hello.go
  api/internal/user/validation/hello_test.go
  api/internal/user/validation/validator.go
  api/internal/user/validation/validator_test.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/validation/validator.go
  api/pkg/grpc/options.go
  api/pkg/grpc/options_test.go
  api/pkg/grpc/server.go
  api/pkg/grpc/server_test.go
  api/pkg/http/http_test.go
  api/pkg/jst/jst.go
  api/proto/.keep
  api/proto/user/service.proto
Labels: backend (gateway), backend (user), backend (other), test

feat: implement gateway exec command
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/gateway/teacher/v1/handler/hello.go
  api/internal/gateway/teacher/v1/handler/hello_test.go
  api/internal/gateway/teacher/v1/request/hello.go
  api/internal/gateway/teacher/v1/response/hello.go
  api/internal/gateway/util/metadata.go
  api/internal/gateway/util/metadata_test.go
  api/internal/gateway/util/response.go
  api/internal/gateway/util/response_test.go
  api/internal/user/api/api_test.go
  api/pkg/metadata/gin.go
  api/pkg/metadata/gin_test.go
  api/pkg/metadata/metadata.go
  api/pkg/metadata/metadata_test.go
  api/tmp/.keep
  api/tmp/calmato.png
Labels: backend (gateway), backend (user), backend (other), test

feat: implement gateway exec command
  .github/workflows/ci-backend-for-all.yaml
  api/Makefile
  api/config/gateway/teacher/config.go
  api/internal/gateway/cmd/teacher/exec.go
  api/internal/gateway/cmd/teacher/registry.go
  api/internal/gateway/cmd/teacher/router.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/user/cmd/server/exec.go
  docker-compose.yaml
  infra/docker/api/gateway/teacher/Dockerfile
  infra/docker/api/gateway/teacher/Dockerfile.development
  infra/docker/api/user/server/Dockerfile
  infra/docker/api/user/server/Dockerfile.development
Labels: backend (gateway), backend (user), backend (other), infra (docker), workflow

feat: setup swagger
  docker-compose.yaml
  docs/.keep
  docs/swagger/.gitignore
  docs/swagger/.node-version
  docs/swagger/Makefile
  docs/swagger/openapitools.json
  docs/swagger/package.json
  docs/swagger/teacher/components/schemas/common.yaml
  docs/swagger/teacher/components/schemas/v1/user.request.yaml
  docs/swagger/teacher/components/schemas/v1/user.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/hello.index.yaml
  docs/swagger/yarn.lock
  infra/docker/infra/swagger/generator/Dockerfile
  infra/docker/infra/swagger/teacher/Dockerfile
  proto/.keep
Labels: backend (other), infra (docker), docs, proto

feat: setup protoc exec container
  .env.temp
  Makefile
  docker-compose.yaml
  infra/docker/infra/proto/Dockerfile
Labels: backend (other), infra (docker)

fix: lint
  api/Makefile
  api/internal/gateway/util/response.go
  api/internal/user/cmd/server/exec.go
  api/pkg/grpc/options.go
  api/pkg/grpc/options_test.go
  api/pkg/grpc/server.go
  api/pkg/grpc/server_test.go
  api/pkg/http/http.go
  api/pkg/http/metrics.go
Labels: backend (gateway), backend (user), backend (other), test

feat: setup teacher web app
  web/teacher/.babelrc
  web/teacher/.editorconfig
  web/teacher/.env.temp
  web/teacher/.eslintrc.js
  web/teacher/.gitignore
  web/teacher/.prettierrc
  web/teacher/jest.config.js
  web/teacher/nuxt.config.js
  web/teacher/package.json
  web/teacher/src/assets/variables.scss
  web/teacher/src/components/atoms/.keep
  web/teacher/src/components/molecules/.keep
  web/teacher/src/components/organisms/.keep
  web/teacher/src/components/templates/SignIn.vue
  web/teacher/src/components/templates/Top.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/layouts/error.vue
  web/teacher/src/middleware/.keep
  web/teacher/src/pages/index.vue
  web/teacher/src/pages/signin.vue
  web/teacher/src/plugins/axios-accessor.ts
  web/teacher/src/plugins/axios.ts
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/static/favicon.ico
  web/teacher/src/static/v.png
  web/teacher/src/static/vuetify-logo.svg
  web/teacher/src/store/README.md
  web/teacher/src/store/common.ts
  web/teacher/src/store/index.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/.keep
  web/teacher/src/types/props/.keep
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/index.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/helpers/setup.ts
  web/teacher/tsconfig.json
  web/teacher/yarn.lock
Labels: frontend (teacher), backend (other)

feat: setup test helpers
  web/teacher/src/types/api/exception.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/helpers/component-helper.ts
  web/teacher/test/helpers/setup.ts
  web/teacher/test/helpers/store-helper.ts
Labels: frontend (teacher), backend (other)

fix: backend test codes
  api/internal/gateway/util/metadata_test.go
  api/internal/gateway/util/response.go
  api/internal/gateway/util/response_test.go
  api/pkg/http/metrics_test.go
  web/shared/.keep
  web/student/.keep
Labels: frontend (shared), frontend (student), backend (gateway), backend (other), test

fix: lint
  web/teacher/.eslintrc.js
  web/teacher/jest.config.js
  web/teacher/nuxt.config.js
  web/teacher/package.json
  web/teacher/src/components/templates/SignIn.vue
  web/teacher/src/components/templates/Top.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/layouts/error.vue
  web/teacher/src/pages/index.vue
  web/teacher/src/pages/signin.vue
  web/teacher/src/store/common.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/yarn.lock
Labels: frontend (teacher), backend (other)

feat: setup frontend test
  web/teacher/.babelrc
  web/teacher/jest.config.js
  web/teacher/package.json
  web/teacher/src/components/templates/SignIn.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/exception.ts
  web/teacher/src/types/vue-shim.d.ts
  web/teacher/test/components/atoms/.keep
  web/teacher/test/components/molecules/.keep
  web/teacher/test/components/organisms/.keep
  web/teacher/test/components/templates/SignIn.test.ts
  web/teacher/test/components/templates/Top.test.ts
  web/teacher/test/helpers/setup.ts
  web/teacher/test/pages/.keep
  web/teacher/test/store/common.test.ts
  web/teacher/test/store/user.test.ts
  web/teacher/yarn.lock
Labels: frontend (teacher), backend (other), test

feat: setup frontend infrastructure
  .env.temp
  .github/workflows/ci-frontend-for-all.yaml
  docker-compose.yaml
  infra/docker/web/teacher/Dockerfile.development
Labels: backend (other), infra (docker), workflow

feat: implement calendar component in top page
  web/teacher/nuxt.config.js
  web/teacher/package.json
  web/teacher/src/components/organisms/.keep
  web/teacher/src/components/organisms/TheCalendarBody.vue
  web/teacher/src/components/organisms/TheCalendarHeader.vue
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/components/templates/Top.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/layouts/error.vue
  web/teacher/src/pages/index.vue
  web/teacher/src/static/error-404.png
  web/teacher/src/static/error-500.png
  web/teacher/src/types/props/.keep
  web/teacher/src/types/props/calendar.ts
  web/teacher/test/components/organisms/.keep
  web/teacher/test/components/organisms/TheCalendarBody.test.ts
  web/teacher/test/components/organisms/TheCalendarHeader.test.ts
  web/teacher/test/components/organisms/TheHeader.test.ts
  web/teacher/test/components/templates/Top.test.ts
  web/teacher/yarn.lock
Labels: frontend (teacher), backend (other), test

feat: create workflow for deploy user api image
  .github/workflows/cd-api-user-for-main.yaml
Labels: backend (other), workflow

feat: create workflow for deploy teacher gateway image
  .github/workflows/cd-gateway-teacher-for-main.yaml
Labels: backend (other), workflow

feat: create workflow for deploy teacher web app
  .github/workflows/cd-gateway-teacher-for-main.yaml
  .github/workflows/cd-web-teacher-for-main.yaml
  web/teacher/.firebase/hosting.ZGlzdA.cache
  web/teacher/.firebaserc
  web/teacher/firebase.json
Labels: frontend (teacher), backend (other), workflow

feat: update workflow for deploy user api image
  .github/workflows/cd-api-user-for-main.yaml
Labels: backend (other), workflow

feat: update workflow for deploy tewacher web app
  web/teacher/.firebaserc
Labels: frontend (teacher), backend (other)

fix: typo
  .github/workflows/cd-web-teacher-for-main.yaml
Labels: backend (other), workflow

fix: deploy site
  .github/workflows/cd-web-teacher-for-main.yaml
  web/teacher/firebase.json
Labels: frontend (teacher), backend (other), workflow

fix: deploy site
  .github/workflows/cd-web-teacher-for-main.yaml
Labels: backend (other), workflow

fix: deploy site
  web/teacher/firebase.json
Labels: frontend (teacher), backend (other)

feat: implement gcr cleaner function
  infra/docker/infra/functions/gcr-cleaner/Dockerfile
  infra/functions/gcr-cleaner/README.md
  infra/functions/gcr-cleaner/cmd/cli/main.go
  infra/functions/gcr-cleaner/cmd/server/main.go
  infra/functions/gcr-cleaner/go.mod
  infra/functions/gcr-cleaner/go.sum
  infra/functions/gcr-cleaner/internal/server/cache.go
  infra/functions/gcr-cleaner/internal/server/server.go
  infra/functions/gcr-cleaner/pkg/gcrcleaner/cleaner.go
Labels: backend (other), infra (docker)

feat: implement lesson store
  web/teacher/src/components/organisms/TheCalendarHeader.vue
  web/teacher/src/components/templates/Top.vue
  web/teacher/src/pages/index.vue
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), backend (other), test

feat: update test helper
  web/teacher/test/helpers/store-helper.ts
Labels: frontend (teacher), backend (other)

feat(web/teacher): implement menu component
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/components/organisms/TheMenu.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/types/props/menu.ts
  web/teacher/test/components/organisms/TheHeader.test.ts
  web/teacher/test/components/organisms/TheMenu.test.ts
Labels: frontend (teacher), backend (other), test

feat: implement schedule detail dialog
  web/teacher/src/components/organisms/TheCalendarBody.vue
  web/teacher/src/components/organisms/TheCalendarDetail.vue
  web/teacher/src/components/organisms/TheCalendarHeader.vue
  web/teacher/src/components/templates/Top.vue
  web/teacher/src/pages/index.vue
  web/teacher/src/plugins/dayjs.ts
  web/teacher/src/types/props/calendar.ts
  web/teacher/test/components/organisms/TheCalendarBody.test.ts
  web/teacher/test/components/organisms/TheCalendarDetail.test.ts
  web/teacher/test/components/templates/Top.test.ts
Labels: frontend (teacher), backend (other), test

fix: time format
  web/teacher/src/components/organisms/TheCalendarBody.vue
  web/teacher/src/components/templates/Top.vue
  web/teacher/src/store/lesson.ts
  web/teacher/test/components/organisms/TheCalendarBody.test.ts
  web/teacher/test/components/organisms/TheCalendarDetail.test.ts
  web/teacher/test/components/templates/Top.test.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), backend (other), test
