Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

test(web/teacher): fix test code
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

feat(web/teacher): implement create shifts dialog (#111)
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/components/atoms/TheTextField.vue
  web/teacher/src/components/molecules/.keep
  web/teacher/src/components/molecules/TheDatePicker.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/plugins/vee-validate.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/shift.ts
  web/teacher/src/types/form/util.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/molecules/.keep
  web/teacher/test/components/molecules/TheDatePicker.test.ts
  web/teacher/test/components/organisms/TheShiftNewCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

fix(infra): update makefile (#109)
  Makefile
Labels: none

feat(api): sort list shifts response
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift_test.go
  api/proto/lesson/service.proto
Labels: backend (gateway), backend (lesson), test

fix(*): add error handling when record already exists at create
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/database/database.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/database/database.go
  api/internal/user/database/database.go
Labels: backend (classroom), backend (lesson), backend (user), test

Update shift_summary_test.go
  api/internal/lesson/database/shift_summary_test.go
Labels: backend (lesson), test

feat(lesson-api): implement update shift summary schedule
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

fix(*): fix lint
  api/internal/classroom/database/database.go
  api/internal/lesson/database/database.go
  api/internal/user/database/database.go
Labels: backend (classroom), backend (lesson), backend (user)

feat(api): sort list shifts response (#112)
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift_test.go
  api/proto/lesson/service.proto
Labels: backend (gateway), backend (lesson), test

fix(*): add error handling when record already exists at create (#113)
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/database/database.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/database/database.go
  api/internal/user/database/database.go
Labels: backend (classroom), backend (lesson), backend (user), test

feat(lesson-api): implement update shift summary schedule (#114)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

test(api): add test code
  api/internal/classroom/database/database_test.go
  api/internal/lesson/database/database_test.go
  api/internal/user/database/database_test.go
Labels: backend (classroom), backend (lesson), backend (user), test

feat(lesson-api): implement delete shift summary
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(gateway): changing list shifts response
  api/internal/gateway/entity/shift.go
  api/internal/gateway/entity/shift_test.go
  api/internal/gateway/teacher/v1/entity/shift.go
  api/internal/gateway/teacher/v1/entity/shift_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

fix(lesson-api): fix small
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/shift_summary_test.go
Labels: backend (lesson), test

fix(gateway): fix small
  api/internal/gateway/teacher/v1/handler/shift.go
Labels: backend (gateway)

test(api): add test code (#115)
  api/internal/classroom/database/database_test.go
  api/internal/lesson/database/database_test.go
  api/internal/user/database/database_test.go
Labels: backend (classroom), backend (lesson), backend (user), test

feat(lesson-api): implement delete shift summary (#117)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

fix(gateway): fix small
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.response.yaml
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: docs

feat(gateway): changing list shifts response (#116)
  api/internal/gateway/entity/shift.go
  api/internal/gateway/entity/shift_test.go
  api/internal/gateway/teacher/v1/entity/shift.go
  api/internal/gateway/teacher/v1/entity/shift_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.response.yaml
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

fix(web/teacher): fix shifts response
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix lint
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix shifts response (#118)
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

feat(web/teacher): implement list shifts api
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/store/shift.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

feat(web/teacher): implement shift update dialog
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/form/shift.ts
  web/teacher/src/types/form/util.ts
  web/teacher/test/components/organisms/TheShiftEditCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

feat(web/teacher): implement shift update dialog (#119)
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/form/shift.ts
  web/teacher/src/types/form/util.ts
  web/teacher/test/components/organisms/TheShiftEditCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

Add: added submission edit type
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionEdit.vue
  web/teacher/src/pages/submissions/teachers/edit.vue
  web/teacher/src/store/submission.ts
  web/teacher/src/types/props/submission.ts
  web/teacher/src/types/store/submission.ts
Labels: frontend (teacher)

feat(gateway): implement update shift summary api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/request/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/index.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/schedule.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement update shift summary api (#120)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/request/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/index.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/schedule.yaml
Labels: backend (gateway), docs, test

feat(web/teacher): implement update shifts
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/store/shift.ts
Labels: frontend (teacher)

fix(lesson-api): fix fill status after shift created
  api/internal/lesson/api/shift.go
Labels: backend (lesson)

feat(web/teacher): implement update shifts (#121)
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/store/shift.ts
Labels: frontend (teacher)

fix(lesson-api): fix fill status after shift created (#122)
  api/internal/lesson/api/shift.go
Labels: backend (lesson)

docs(swagger): add rooms api
  docs/swagger/teacher/openapi.yaml
Labels: docs

docs(swagger): add rooms api (#123)
  docs/swagger/teacher/openapi.yaml
Labels: docs

Add: added props data
  web/teacher/src/components/templates/TheSubmissionEdit.vue
  web/teacher/src/pages/submissions/teachers/edit.vue
Labels: frontend (teacher)

feat: ユーザー情報変更ページの要素を配置
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
Labels: frontend (teacher)

feat: 科目をproprから入れられるようにした
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
Labels: frontend (teacher)

feat: 上位コンポーネントでmoleculesのコンポーネントを呼び出す
  web/teacher/src/components/templates/TheSettingTop.vue
Labels: frontend (teacher)

fix(*): fix upsert teacher subject
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Labels: backend (classroom), backend (gateway), test
