Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

feat: 画面から編集できるようにした
  web/teacher/src/pages/settings/classroom.vue
Labels: frontend (teacher)

fix: gが抜けていたので修正
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher)

Add: added student list
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/organisms/TheTeacherList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
Labels: frontend (teacher)

feat: 定休日/コマ/ブース 設定の編集機能の実装 (#274)
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/store/classroom.ts
  web/teacher/src/types/api/v1/classroom.ts
  web/teacher/src/types/store/classroom.ts
  web/teacher/test/store/classroom.test.ts
Labels: frontend (teacher), test

Fix: fixed test code error
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/form/student.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/organisms/TheTeacherNewForm.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

fix: gが抜けていたので修正 (#275)
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher)

[Student] Implementation list show and create of student (#276)
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/organisms/TheStudentNewForm.vue
  web/teacher/src/components/organisms/TheTeacherList.vue
  web/teacher/src/components/templates/TheStudentNew.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/pages/users/students/new.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/student.ts
  web/teacher/src/types/props/student.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/organisms/TheTeacherNewForm.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix lessons dialog (#272)
  web/teacher/src/store/shift.ts
Labels: frontend (teacher)

feat(web/teacher): add subject name field (#271)
  web/teacher/src/components/organisms/TheCalendarBody.vue
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/lib/convert.ts
  web/teacher/src/pages/index.vue
  web/teacher/src/types/store/lesson.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

fix(gateway): fix update student subjects (#270)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
Labels: backend (gateway), docs, test

fix(messenger-api): fix small
  api/internal/messenger/mailer/sender_test.go
Labels: backend (messenger), test

fix(messenger-api): fix small
  api/internal/messenger/mailer/builder_test.go
Labels: backend (messenger), test

fix(messenger-api): fix small
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/messenger/notifier/notifier.go
  api/pkg/pubsub/puller.go
Labels: backend (lesson), backend (messenger), test

fix(messenger-api): fix small
  .github/workflows/cd-api-messenger-for-main.yaml
  .github/workflows/ci-backend-for-all.yaml
  api/internal/messenger/notifier/notifier.go
Labels: backend (messenger), workflow

fix(messenger-api): fix small
  .github/workflows/ci-backend-for-all.yaml
  api/internal/messenger/notifier/notifier_test.go
Labels: backend (messenger), test, workflow

fix(web/student): fix disable dark mode
  web/student/nuxt.config.js
Labels: frontend (student)

fix(web/student): fix disable dark mode (#278)
  web/student/nuxt.config.js
Labels: frontend (student)

feat(web/teacher): implement api client for update student
  web/teacher/src/components/organisms/TheStudentEditCard.vue
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/student.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

feat(web/teacher): implement api client for update student (#280)
  web/teacher/src/components/organisms/TheStudentEditCard.vue
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/student.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

refactor(web/teacher): refactor shift dialog
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Labels: frontend (teacher)

fix(web/teacher): fix update auth page
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/pages/settings/password.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/auth.ts
Labels: frontend (teacher)

fix(web/teacher): fix lesson list layout
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
Labels: frontend (teacher)

fix(lesson-api): fix notify lesson decided
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
Labels: backend (lesson), test

chore(*): udpate start container commands
  Makefile
Labels: none

refactor(web/teacher): refactor shift dialog (#281)
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Labels: frontend (teacher)

fix(web/teacher): fix update auth page (#282)
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/pages/settings/password.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/auth.ts
Labels: frontend (teacher)

fix(web/teacher): fix lesson list layout (#283)
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
Labels: frontend (teacher)

fix(lesson-api): fix notify lesson decided (#284)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
Labels: backend (lesson), test

chore(*): udpate start container commands (#285)
  Makefile
Labels: none

feat(kubernetes): setup kubernetes manifests
  .github/workflows/cd-api-classroom-for-main.yaml
  .github/workflows/cd-api-gateway-for-main.yaml
  .github/workflows/cd-api-lesson-for-main.yaml
  .github/workflows/cd-api-messenger-for-main.yaml
  .github/workflows/cd-api-user-for-main.yaml
  infra/docker/api/messenger/notifier/Dockerfile
  infra/docker/api/messenger/server/Dockerfile
  infra/kubernetes/.gitignore
  infra/kubernetes/Makefile
  infra/kubernetes/stg/default/classroom-api.deployment.yaml.temp
  infra/kubernetes/stg/default/classroom-api.secret.yaml.temp
  infra/kubernetes/stg/default/classroom-api.service.yaml
  infra/kubernetes/stg/default/common.ingress.yaml
  infra/kubernetes/stg/default/common.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.deployment.yaml.temp
  infra/kubernetes/stg/default/lesson-api.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.service.yaml
  infra/kubernetes/stg/default/messenger-api.deployment.yaml.temp
  infra/kubernetes/stg/default/messenger-api.secret.yaml.temp
  infra/kubernetes/stg/default/messenger-api.service.yaml
  infra/kubernetes/stg/default/messenger-notifier.deployment.yaml.temp
  infra/kubernetes/stg/default/messenger-notifier.secret.yaml.temp
  infra/kubernetes/stg/default/student-gateway.deployment.yaml.temp
  infra/kubernetes/stg/default/student-gateway.service.yaml
  infra/kubernetes/stg/default/teacher-gateway.deployment.yaml.temp
  infra/kubernetes/stg/default/teacher-gateway.service.yaml
  infra/kubernetes/stg/default/user-api.deployment.yaml.temp
  infra/kubernetes/stg/default/user-api.secret.yaml.temp
  infra/kubernetes/stg/default/user-api.service.yaml
Labels: infra (docker), workflow

feat(kubernetes): setup kubernetes manifests (#286)
  .github/workflows/cd-api-classroom-for-main.yaml
  .github/workflows/cd-api-gateway-for-main.yaml
  .github/workflows/cd-api-lesson-for-main.yaml
  .github/workflows/cd-api-messenger-for-main.yaml
  .github/workflows/cd-api-user-for-main.yaml
  infra/docker/api/messenger/notifier/Dockerfile
  infra/docker/api/messenger/server/Dockerfile
  infra/kubernetes/.gitignore
  infra/kubernetes/Makefile
  infra/kubernetes/stg/default/classroom-api.deployment.yaml.temp
  infra/kubernetes/stg/default/classroom-api.secret.yaml.temp
  infra/kubernetes/stg/default/classroom-api.service.yaml
  infra/kubernetes/stg/default/common.ingress.yaml
  infra/kubernetes/stg/default/common.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.deployment.yaml.temp
  infra/kubernetes/stg/default/lesson-api.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.service.yaml
  infra/kubernetes/stg/default/messenger-api.deployment.yaml.temp
  infra/kubernetes/stg/default/messenger-api.secret.yaml.temp
  infra/kubernetes/stg/default/messenger-api.service.yaml
  infra/kubernetes/stg/default/messenger-notifier.deployment.yaml.temp
  infra/kubernetes/stg/default/messenger-notifier.secret.yaml.temp
  infra/kubernetes/stg/default/student-gateway.deployment.yaml.temp
  infra/kubernetes/stg/default/student-gateway.service.yaml
  infra/kubernetes/stg/default/teacher-gateway.deployment.yaml.temp
  infra/kubernetes/stg/default/teacher-gateway.service.yaml
  infra/kubernetes/stg/default/user-api.deployment.yaml.temp
  infra/kubernetes/stg/default/user-api.secret.yaml.temp
  infra/kubernetes/stg/default/user-api.service.yaml
Labels: infra (docker), workflow

feat(api): update execute config
  api/config/classroom/server/config.go
  api/config/gateway/student/config.go
  api/config/gateway/teacher/config.go
  api/config/lesson/server/config.go
  api/config/user/server/config.go
  api/internal/classroom/cmd/server/exec.go
  api/internal/lesson/cmd/server/exec.go
  api/internal/user/cmd/server/exec.go
Labels: backend (classroom), backend (gateway), backend (lesson), backend (user)

feat(api): update execute config (#287)
  api/config/classroom/server/config.go
  api/config/gateway/student/config.go
  api/config/gateway/teacher/config.go
  api/config/lesson/server/config.go
  api/config/user/server/config.go
  api/internal/classroom/cmd/server/exec.go
  api/internal/lesson/cmd/server/exec.go
  api/internal/user/cmd/server/exec.go
Labels: backend (classroom), backend (gateway), backend (lesson), backend (user)

fix(api): add error log for execute
  api/cmd/classroom/server/main.go
  api/cmd/gateway/student/main.go
  api/cmd/gateway/teacher/main.go
  api/cmd/lesson/server/main.go
  api/cmd/messenger/notifier/main.go
  api/cmd/messenger/server/main.go
  api/cmd/user/server/main.go
Labels: backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user)

fix(kubernetes): fix api config
  api/config/user/server/config.go
  api/internal/user/cmd/server/exec.go
  api/internal/user/cmd/server/registy.go
  infra/kubernetes/stg/default/classroom-api.deployment.yaml.temp
  infra/kubernetes/stg/default/common.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.deployment.yaml.temp
  infra/kubernetes/stg/default/user-api.deployment.yaml.temp
Labels: backend (user)

fix(kubernetes): fix api config (#288)
  api/config/user/server/config.go
  api/internal/user/cmd/server/exec.go
  api/internal/user/cmd/server/registy.go
  infra/kubernetes/stg/default/classroom-api.deployment.yaml.temp
  infra/kubernetes/stg/default/common.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.deployment.yaml.temp
  infra/kubernetes/stg/default/user-api.deployment.yaml.temp
Labels: backend (user)

Add: added student submission list page
  web/student/src/components/templates/TheSubmissionTop.vue
  web/student/src/pages/submissions/index.vue
  web/student/src/plugins/store-accessor.ts
  web/student/src/store/submission.ts
  web/student/src/types/api/v1/index.ts
  web/student/src/types/api/v1/submission.ts
  web/student/src/types/store/common.ts
  web/student/src/types/store/index.ts
  web/student/src/types/store/submission.ts
Labels: frontend (student)

chore(web/teacher): remove firebase cache
  web/teacher/.firebase/hosting.ZGlzdA.cache
Labels: frontend (teacher)

Fix/infra/fix manifests (#290)
  web/teacher/.firebase/hosting.ZGlzdA.cache
Labels: frontend (teacher)

Refactor: refactored シフト -> 授業
  web/student/src/components/templates/TheSubmissionTop.vue
Labels: frontend (student)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
