Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix: Promise.All に変更
  web/teacher/src/middleware/authenticated.ts
Labels: frontend (teacher)

feat: Classroomのstoreを追加
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/classroom.ts
  web/teacher/src/store/subject.ts
Labels: frontend (teacher)

feat(lesson-api): implement student shift template api
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/student_shift_template.go
  api/internal/lesson/database/student_shift_template_test.go
  api/internal/lesson/entity/student_shift_template.go
  api/internal/lesson/entity/student_shift_template_test.go
  api/internal/lesson/validation/student_shift.go
  api/internal/lesson/validation/student_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
  api/proto/lesson/student_shift.proto
  api/proto/lesson/student_submission.proto
  infra/mysql/schema/2022020201-lessons-create-table-student-shift-templates.sql
Labels: backend (lesson), test

feat(gateway): implement subjects api (#262)
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/subject.go
  api/internal/gateway/student/v1/handler/subject_test.go
  api/internal/gateway/student/v1/response/subject.go
  docs/swagger/student/components/schemas/v1/subjects.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/subjects/index.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement submission api (#261) (#263)
  api/internal/gateway/student/v1/entity/lesson.go
  api/internal/gateway/student/v1/entity/lesson_test.go
  api/internal/gateway/student/v1/entity/teacher.go
  api/internal/gateway/student/v1/entity/teacher_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/lesson.go
  api/internal/gateway/student/v1/handler/lesson_test.go
  api/internal/gateway/student/v1/response/lesson.go
  docs/swagger/student/components/schemas/v1/lessons.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/lessons/index.yaml
Labels: backend (gateway), docs, test

feat(lesson-api): implement student shift template api (#265)
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/student_shift_template.go
  api/internal/lesson/database/student_shift_template_test.go
  api/internal/lesson/entity/student_shift_template.go
  api/internal/lesson/entity/student_shift_template_test.go
  api/internal/lesson/validation/student_shift.go
  api/internal/lesson/validation/student_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
  api/proto/lesson/student_shift.proto
  api/proto/lesson/student_submission.proto
  infra/mysql/schema/2022020201-lessons-create-table-student-shift-templates.sql
Labels: backend (lesson), test

feat(gatewat): implement submission template api
  api/internal/gateway/entity/student_shift_template.go
  api/internal/gateway/entity/student_shift_template_test.go
  api/internal/gateway/entity/student_submission.go
  api/internal/gateway/entity/student_submission_test.go
  api/internal/gateway/student/v1/entity/studeht_shift_template_test.go
  api/internal/gateway/student/v1/entity/student_shift.go
  api/internal/gateway/student/v1/entity/student_shift_template.go
  api/internal/gateway/student/v1/entity/student_shift_test.go
  api/internal/gateway/student/v1/entity/student_submission.go
  api/internal/gateway/student/v1/entity/student_submission_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/submission.go
  api/internal/gateway/student/v1/handler/submission_test.go
  api/internal/gateway/student/v1/request/submission.go
  api/internal/gateway/student/v1/response/submission.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/entity/student_shift_template.go
  api/internal/lesson/entity/student_shift_template_test.go
  api/proto/lesson/student_shift.proto
  docs/swagger/student/components/schemas/v1/submissions.request.yaml
  docs/swagger/student/components/schemas/v1/submissions.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/me/submission.yaml
Labels: backend (gateway), backend (lesson), docs, test

fix(gateway): fix lint
  api/internal/gateway/entity/student_shift_template.go
  api/internal/gateway/student/v1/entity/student_shift_template.go
  api/internal/gateway/student/v1/handler/submission.go
Labels: backend (gateway)

refactor(web/teacher): refactor shift store code
  web/teacher/src/lib/convert.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/subject.ts
Labels: frontend (teacher)

fix(gateway): fix small
  api/internal/gateway/entity/student_submission_test.go
Labels: backend (gateway), test

fix(gateway): fix small
  api/internal/gateway/student/v1/entity/student_shift_test.go
Labels: backend (gateway), test

refactor(web/teacher): refactor shift store code (#267)
  web/teacher/src/lib/convert.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/subject.ts
Labels: frontend (teacher)

feat(gateway): implement submission template api (#266)
  api/internal/gateway/entity/student_shift_template.go
  api/internal/gateway/entity/student_shift_template_test.go
  api/internal/gateway/entity/student_submission.go
  api/internal/gateway/entity/student_submission_test.go
  api/internal/gateway/student/v1/entity/studeht_shift_template_test.go
  api/internal/gateway/student/v1/entity/student_shift.go
  api/internal/gateway/student/v1/entity/student_shift_template.go
  api/internal/gateway/student/v1/entity/student_shift_test.go
  api/internal/gateway/student/v1/entity/student_submission.go
  api/internal/gateway/student/v1/entity/student_submission_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/submission.go
  api/internal/gateway/student/v1/handler/submission_test.go
  api/internal/gateway/student/v1/request/submission.go
  api/internal/gateway/student/v1/response/submission.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/entity/student_shift_template.go
  api/internal/lesson/entity/student_shift_template_test.go
  api/proto/lesson/student_shift.proto
  docs/swagger/student/components/schemas/v1/submissions.request.yaml
  docs/swagger/student/components/schemas/v1/submissions.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/me/submission.yaml
Labels: backend (gateway), backend (lesson), docs, test

feat: getter系のアクセサを追加
  web/teacher/src/store/classroom.ts
Labels: frontend (teacher)

feat: middlewareでapiアクセスする
  web/teacher/src/middleware/authenticated.ts
Labels: frontend (teacher)

fix: Storeから取得したデータを使って表示する
  web/teacher/src/components/organisms/TheRegularHolidaySettingForm.vue
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/pages/settings/classroom.vue
Labels: frontend (teacher)

fix: ブースを10まで選択できるようにする
  web/teacher/src/components/organisms/TheBoothSettingForm.vue
Labels: frontend (teacher)

test: classroomのテストを追加
  web/teacher/src/store/classroom.ts
  web/teacher/test/helpers/api-mock/classroom.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/classroom.test.ts
Labels: frontend (teacher), test

style: 不要なimportの削除
  web/teacher/test/store/classroom.test.ts
Labels: frontend (teacher), test

test: getSchedulesByApiの正常系のテストを追加
  web/teacher/test/store/classroom.test.ts
Labels: frontend (teacher), test

style: prettierの設定を調整
  web/teacher/test/store/classroom.test.ts
Labels: frontend (teacher), test

style: セミコロンを消す
  web/teacher/test/store/classroom.test.ts
Labels: frontend (teacher), test

style: prettierの設定を反映
  web/teacher/test/store/classroom.test.ts
Labels: frontend (teacher), test

test: テストを追加
  web/teacher/test/store/classroom.test.ts
Labels: frontend (teacher), test

test: 異常系のテストケースを追加
  web/teacher/test/store/classroom.test.ts
Labels: frontend (teacher), test

feat: フロントエンドにAPIから取得した教室情報を反映 (#268)
  web/teacher/src/components/organisms/TheBoothSettingForm.vue
  web/teacher/src/components/organisms/TheRegularHolidaySettingForm.vue
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/middleware/authenticated.ts
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/classroom.ts
  web/teacher/src/types/api/v1/classroom.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/store/classroom.ts
  web/teacher/src/types/store/index.ts
  web/teacher/test/helpers/api-mock/classroom.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/classroom.test.ts
Labels: frontend (teacher), test

fix(gateway): remove filter subjects
  api/internal/gateway/student/v1/entity/student.go
  api/internal/gateway/student/v1/entity/subject.go
  api/internal/gateway/student/v1/entity/subject_test.go
  api/internal/gateway/student/v1/handler/auth.go
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
Labels: backend (gateway), docs, test

fix(gateway): remove filter subjects (#269)
  api/internal/gateway/student/v1/entity/student.go
  api/internal/gateway/student/v1/entity/subject.go
  api/internal/gateway/student/v1/entity/subject_test.go
  api/internal/gateway/student/v1/handler/auth.go
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
Labels: backend (gateway), docs, test

Add: added sutdent create
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/organisms/TheStudentNewForm.vue
  web/teacher/src/components/templates/TheStudentNew.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/students/new.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/student.ts
  web/teacher/src/types/props/student.ts
Labels: frontend (teacher)

fix(gateway): fix update student subjects
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
Labels: backend (gateway), docs, test

feat: ブース数設定変更機能の実装
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/store/classroom.ts
Labels: frontend (teacher)

feat(web/teacher): add subject name field
  web/teacher/src/components/organisms/TheCalendarBody.vue
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/lib/convert.ts
  web/teacher/src/pages/index.vue
  web/teacher/src/types/store/lesson.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix small
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix lessons dialog
  web/teacher/src/store/shift.ts
Labels: frontend (teacher)

fix(classroom-api): fix multiple update schedule
  api/internal/classroom/database/schedule.go
Labels: backend (classroom)

fix(gateway): fix lint
  api/internal/gateway/teacher/v1/handler/api.go
Labels: backend (gateway)

fix(classroom-api): fix multiple update schedule (#273)
  api/internal/classroom/database/schedule.go
Labels: backend (classroom)

Add: added student list show
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/store/user.ts
Labels: frontend (teacher)

type: 型定義を追加
  web/teacher/src/types/api/v1/classroom.ts
  web/teacher/src/types/store/classroom.ts
Labels: frontend (teacher)

feat: storeのロジックとテストの実装
  web/teacher/src/store/classroom.ts
  web/teacher/test/store/classroom.test.ts
Labels: frontend (teacher), test
