Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix(api): fix jst package
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
Labels: backend (gateway), test

fix(*): fix upsert teacher subject (#124)
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Labels: backend (classroom), backend (gateway), test

feat(lesson-api): implement upsert teacher shifts
  api/config/lesson/server/config.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/cmd/server/exec.go
  api/internal/lesson/cmd/server/registry.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/entity/teacher_shift.go
  api/internal/lesson/entity/teacher_shift_test.go
  api/internal/lesson/entity/teacher_submission.go
  api/internal/lesson/entity/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/common.proto
  api/proto/lesson/service.proto
  api/proto/lesson/teacher_shift.proto
  api/proto/lesson/teacher_submission.proto
  docker-compose.yaml
  infra/mysql/schema/2022010101-lessons-create-table-teacher-shifts.sql
Labels: backend (lesson), test

fix(lesson-api): fix small
  api/internal/lesson/api/api.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/entity/shift.go
  api/internal/lesson/entity/shift_test.go
Labels: backend (lesson), test

feat(api): add grpc error handling
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/user/api/api.go
  api/internal/user/api/api_test.go
Labels: backend (classroom), backend (lesson), backend (user), test

Update shift.go
  api/internal/lesson/entity/shift.go
Labels: backend (lesson)

fix(api): fix small
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
Labels: test

fix(lesson-api): fix small
  api/internal/lesson/database/shift_test.go
Labels: backend (lesson), test

feat(api): add grpc error handling (#127)
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/user/api/api.go
  api/internal/user/api/api_test.go
Labels: backend (classroom), backend (lesson), backend (user), test

feat(lesson-api): implement upsert teacher shifts (#126)
  api/config/lesson/server/config.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/cmd/server/exec.go
  api/internal/lesson/cmd/server/registry.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/entity/shift.go
  api/internal/lesson/entity/shift_test.go
  api/internal/lesson/entity/teacher_shift.go
  api/internal/lesson/entity/teacher_shift_test.go
  api/internal/lesson/entity/teacher_submission.go
  api/internal/lesson/entity/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/common.proto
  api/proto/lesson/service.proto
  api/proto/lesson/teacher_shift.proto
  api/proto/lesson/teacher_submission.proto
  docker-compose.yaml
  infra/mysql/schema/2022010101-lessons-create-table-teacher-shifts.sql
Labels: backend (lesson), test

fix(classroom-api): fix upsert teacher subject
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
Labels: backend (classroom), test

fix(api): fix jst package (#125)
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
Labels: backend (gateway), test

feat(api): add return fiscal year method
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
Labels: test

fix(classroom-api): fix upsert teacher subject (#128)
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
Labels: backend (classroom), test

feat(api): add return fiscal year method (#129)
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
Labels: test

fix(lesson-api): remove status
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/entity/teacher_submission.go
  api/internal/lesson/entity/teacher_submission_test.go
  api/proto/lesson/common.proto
  api/proto/lesson/teacher_submission.proto
Labels: backend (lesson), test

feat(lesson-api): implement list teacher submissions
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/entity/teacher_submission.go
  api/internal/lesson/entity/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

fix(lesson-api): remove status (#130)
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/entity/teacher_submission.go
  api/internal/lesson/entity/teacher_submission_test.go
  api/proto/lesson/common.proto
  api/proto/lesson/teacher_submission.proto
Labels: backend (lesson), test

feat(lesson-api): implement list teacher submissions (#131)
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/entity/teacher_submission.go
  api/internal/lesson/entity/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat: formをv-modelで制御する
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
Labels: frontend (teacher)

type: 科目更新フォームの型定義を追加
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/lesson.ts
Labels: frontend (teacher)

feat: APIから科目一覧を取得するアクションの実装
  web/teacher/src/store/lesson.ts
Labels: frontend (teacher)

feat: v-modelを使ってpagesコンポーネントの変数とバインドする
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher)

style: console.logの削除
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
Labels: frontend (teacher)

fix: linterが通るように修正
  web/teacher/src/components/atoms/TheSelect.vue
Labels: frontend (teacher)

types: 型定義を更新
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/store/auth.ts
Labels: frontend (teacher)

fix: 型定義に合わせて更新
  web/teacher/test/helpers/api-mock/auth.ts
Labels: frontend (teacher)

feat: 科目一覧を取得する関数の実装
  web/teacher/src/store/lesson.ts
Labels: frontend (teacher)

feat: 自分の担当科目を更新する関数の実装
  web/teacher/src/store/auth.ts
Labels: frontend (teacher)

feat: 認証後に科目一覧をAPIから取得する
  web/teacher/src/middleware/authenticated.ts
Labels: frontend (teacher)

feat: セレクトタグの変化イベントを検知するメソッドの実装
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
  web/teacher/src/components/templates/TheSettingTop.vue
Labels: frontend (teacher)

feat: 変更に合わせて自分の担当科目を更新するように実装
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher)

fix: バックエンドのレスポンスのtypoを修正
  api/internal/gateway/teacher/v1/entity/subject.go
Labels: backend (gateway)

test: テストの修正
  web/teacher/test/store/auth.test.ts
Labels: frontend (teacher), test

style: linterに怒られたの修正
  web/teacher/test/store/auth.test.ts
Labels: frontend (teacher), test

style: console.logの削除
  web/teacher/src/store/auth.ts
Labels: frontend (teacher)

fix(lesson-api): remove status field
  api/internal/lesson/entity/teacher_submission_test.go
Labels: backend (lesson), test

fix(lesson-api): remove status field (#133)
  api/internal/lesson/entity/teacher_submission_test.go
Labels: backend (lesson), test

feat(gateway): implement list teacher submissions api
  api/internal/gateway/entity/shift_summary.go
  api/internal/gateway/entity/shift_summary_test.go
  api/internal/gateway/entity/teacher_submission.go
  api/internal/gateway/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  api/internal/gateway/teacher/v1/response/submission.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/submissions/index.yaml
Labels: backend (gateway), docs, test

style: typoの修正 hand => handle
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher)
