Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

feat(classroom-api): implement student subjects api
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/student_subject.go
  api/internal/classroom/api/student_subject_test.go
  api/internal/classroom/validation/student_subject.go
  api/internal/classroom/validation/student_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/validation/validator.go
Labels: backend (classroom), test

feat(user-api): insert uid in NewStudent method
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Labels: backend (user), test

feat(classroom-api): implement student subjects api (#157)
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/student_subject.go
  api/internal/classroom/api/student_subject_test.go
  api/internal/classroom/validation/student_subject.go
  api/internal/classroom/validation/student_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/validation/validator.go
Labels: backend (classroom), test

feat(gateway): changing update schedules request
  api/internal/gateway/teacher/v1/entity/schedule.go
  api/internal/gateway/teacher/v1/entity/schedule_test.go
  api/internal/gateway/teacher/v1/handler/schedule_test.go
  docs/swagger/teacher/components/schemas/v1/schedules.request.yaml
Labels: backend (gateway), docs, test

fix: typo
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Labels: backend (user), test

feat(user-api): add CreateStudent api
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
Labels: backend (user), test

feat(user-api): implement delete teacher api
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user), test

feat(user-api): implement delete teacher api (#160)
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user), test

feat(user-api): implement update teacher role api
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/entity/teacher.go
  api/internal/user/entity/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user), test

fix(hack): fix small
  api/hack/database-seeds/main.go
Labels: none

feat(user-api): implement update teacher role api (#159)
  api/hack/database-seeds/main.go
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/entity/teacher.go
  api/internal/user/entity/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user), test

feat(gateway): implement teacher api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/teacher.go
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/role.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement teacher api (#161)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/teacher.go
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/role.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement update teacher subjects api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  api/internal/gateway/teacher/v1/request/subject.go
  api/internal/gateway/teacher/v1/request/teacher.go
  api/internal/gateway/teacher/v1/response/teacher.go
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/subjects.yaml
Labels: backend (gateway), docs, test

feat(gateway): changing update schedules request (#158)
  api/internal/gateway/teacher/v1/entity/schedule.go
  api/internal/gateway/teacher/v1/entity/schedule_test.go
  api/internal/gateway/teacher/v1/handler/schedule_test.go
  docs/swagger/teacher/components/schemas/v1/schedules.request.yaml
Labels: backend (gateway), docs, test

fix(gateway): fix lint
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/teacher.go
Labels: backend (gateway)

feat(gateway): implement update teacher subjects api (#162)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  api/internal/gateway/teacher/v1/request/subject.go
  api/internal/gateway/teacher/v1/request/teacher.go
  api/internal/gateway/teacher/v1/response/teacher.go
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/subjects.yaml
Labels: backend (gateway), docs, test

style: delete useless line
  api/internal/user/entity/student_test.go
Labels: backend (user), test

feat(user-api): CreateStudent usecase layer (#148)
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/user/validation/validator.go
Labels: backend (user), test

Add: added basic layout
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionEdit.vue
Labels: frontend (teacher)

feat(web/teacher): implement show teacher dialog
  web/teacher/src/components/atoms/TheSelectWithSlot.vue
  web/teacher/src/components/organisms/TheTeacherList.vue
  web/teacher/src/components/organisms/TheTeacherShowCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/lesson.ts
  web/teacher/src/types/form/teacher.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/user.ts
Labels: frontend (teacher)

fix(web/teacher): fix lint
  web/teacher/src/store/user.ts
Labels: frontend (teacher)

fix: SchoolTypeをenumからunion型に変更
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/subject.ts
  web/teacher/src/types/form/lesson.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/lesson.ts
Labels: frontend (teacher)

feat(user-api): add ListStudents proto
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
Labels: backend (user)

feat(web/teacher): add test codes
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/test/components/atoms/TheSelectWithSlot.test.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/lesson.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix lint
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix small
  web/teacher/src/pages/index.vue
Labels: frontend (teacher)

feat(web/teacher): implement show teacher dialog (#163)
  web/teacher/src/components/atoms/TheSelectWithSlot.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/organisms/TheTeacherList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/index.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/lesson.ts
  web/teacher/src/types/form/teacher.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/atoms/TheSelectWithSlot.test.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/lesson.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

fix(gateway): fix nil pointer for error handling
  api/internal/gateway/teacher/v1/handler/api.go
Labels: backend (gateway)

feat(web/teacher): swith ui by role
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/components/atoms/TheSelectWithSlot.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/types/props/menu.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/auth.test.ts
Labels: frontend (teacher), test

fix: SchoolTypeをUnionにしたのでStudenteも修正
  web/teacher/src/types/store/user.ts
Labels: frontend (teacher)

feat: Typeを変換する関数の実装
  web/teacher/src/lib/convert.ts
  web/teacher/src/lib/index.ts
Labels: frontend (teacher)

fix: 影響箇所のコードを修正
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/helpers/api-mock/auth.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

style: 不要ないimportを削除
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix small
  web/teacher/test/components/organisms/TheMenu.test.ts
  web/teacher/test/components/organisms/TheSidebar.test.ts
Labels: frontend (teacher), test

feat(web/teacher): swith ui by role (#166)
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/components/atoms/TheSelectWithSlot.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/types/props/menu.ts
  web/teacher/test/components/organisms/TheMenu.test.ts
  web/teacher/test/components/organisms/TheSidebar.test.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/auth.test.ts
Labels: frontend (teacher), test

fix(gateway): fix nil pointer for error handling (#165)
  api/internal/gateway/teacher/v1/handler/api.go
Labels: backend (gateway)

feat(web/teacher): implement delete teacher api client
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix small
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
Labels: frontend (teacher), test

Feat/teacher web/delete teacher (#168)
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test
