Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

feat(lesson-api): define student submissions (#177)
  api/internal/lesson/entity/student_shift.go
  api/internal/lesson/entity/student_shift_test.go
  api/internal/lesson/entity/student_submission.go
  api/internal/lesson/entity/student_submission_test.go
  api/proto/lesson/student_shift.proto
  api/proto/lesson/student_submission.proto
  infra/mysql/schema/2022011401-lessons-create-table-student-shifts.sql
Labels: backend (lesson), test

feat(lesson-api): implement student submissions
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/student_shift.go
  api/internal/lesson/database/student_shift_test.go
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
  api/internal/lesson/validation/student_shift.go
  api/internal/lesson/validation/student_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(lesson-api): implement student submissions (#178)
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/student_shift.go
  api/internal/lesson/database/student_shift_test.go
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
  api/internal/lesson/validation/student_shift.go
  api/internal/lesson/validation/student_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(lesson-api): add field to student submission entity
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
  api/internal/lesson/entity/student_submission.go
  api/internal/lesson/entity/student_submission_test.go
  api/proto/lesson/service.proto
  api/proto/lesson/student_submission.proto
  infra/mysql/schema/2022011501-lessons-add-column-to-student-submissions.sql
Labels: backend (lesson), test

Fix: fixed submission-edit page
  web/teacher/src/components/organisms/TheSubmissionList.vue
Labels: frontend (teacher)

Refactor: refactored lint
  web/teacher/src/components/organisms/TheSubmissionList.vue
Labels: frontend (teacher)

Fix: fixed submission-edit page (#179)
  web/teacher/src/components/organisms/TheSubmissionList.vue
Labels: frontend (teacher)

feat(lesson-api): add field to student submission entity (#180)
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
  api/internal/lesson/entity/student_submission.go
  api/internal/lesson/entity/student_submission_test.go
  api/proto/lesson/service.proto
  api/proto/lesson/student_submission.proto
  infra/mysql/schema/2022011501-lessons-add-column-to-student-submissions.sql
Labels: backend (lesson), test

types: 型定義を追加
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/setting.ts
Labels: frontend (teacher)

fix: コンポーネント化
  web/teacher/src/components/molecules/TheHourFormItem.vue
  web/teacher/src/components/organisms/TheBoothSettingForm.vue
  web/teacher/src/components/organisms/TheHourSettingForm.vue
  web/teacher/src/components/organisms/TheRegularHolidaySettingForm.vue
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/pages/settings/classroom.vue
Labels: frontend (teacher)

feat(lesson-api): implement list student submissions api
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
  api/internal/lesson/validation/student_shift.go
  api/internal/lesson/validation/student_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(lesson-api): implement list student submissions api (#182)
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
  api/internal/lesson/validation/student_shift.go
  api/internal/lesson/validation/student_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

test(user-api):add ListStudents test
  api/internal/user/api/student_test.go
Labels: backend (user), test

feat(gateway): update list shifts api response
  api/internal/gateway/entity/student.go
  api/internal/gateway/entity/student_shift.go
  api/internal/gateway/entity/student_shift_test.go
  api/internal/gateway/entity/student_submission.go
  api/internal/gateway/entity/student_submission_test.go
  api/internal/gateway/entity/teacher_test.go
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

fix(gateway): fix lint
  api/internal/gateway/teacher/v1/handler/shift.go
Labels: backend (gateway)

feat(gateway): update list shifts api response (#183)
  api/internal/gateway/entity/student.go
  api/internal/gateway/entity/student_shift.go
  api/internal/gateway/entity/student_shift_test.go
  api/internal/gateway/entity/student_submission.go
  api/internal/gateway/entity/student_submission_test.go
  api/internal/gateway/entity/teacher_test.go
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

fix: 指摘箇所の修正
  web/teacher/src/components/molecules/TheHourFormItem.vue
  web/teacher/src/pages/settings/classroom.vue
Labels: frontend (teacher)

fix: 設定画面のmenuを一つに統合した
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/types/props/setting.ts
Labels: frontend (teacher)

fix: testの修正
  web/teacher/test/components/templates/TheSettingTop.test.ts
Labels: frontend (teacher), test

fix: error because of not wrap method
  api/internal/user/api/student.go
Labels: backend (user)

style: delete duplicated line
  api/internal/user/api/student.go
Labels: backend (user)

fix: add missing test
  api/internal/user/database/student_test.go
  api/internal/user/validation/student_test.go
Labels: backend (user), test

feat(user-api): ListStudents usecase layer (#173)
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user), test

fix(typo):translate ListStudentRequest
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Labels: backend (gateway), test

feat(lesson-api): define lesson entity
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/entity/lesson.go
  api/mock/lesson/database/database.go
  infra/mysql/schema/2022011601-lessons-create-table-lessons.sql
Labels: backend (lesson), test

feat(lesson-api): define lesson entity (#185)
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/entity/lesson.go
  api/mock/lesson/database/database.go
  infra/mysql/schema/2022011601-lessons-create-table-lessons.sql
Labels: backend (lesson), test

fix(typo):translate ListStudentRequest (#184)
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Labels: backend (gateway), test

feat(user-api): add DeleteStudent Proto
  api/proto/user/service.proto
Labels: backend (user)

chore: make mockgen
  api/mock/proto/user/service_grpc.pb.go.go
Labels: backend (user)

fix(lesson-api): fix test code in lesson db
  api/internal/lesson/database/lesson_test.go
Labels: backend (lesson), test

fix(lesson-api): fix test code in lesson db (#187)
  api/internal/lesson/database/lesson_test.go
Labels: backend (lesson), test

feat(user-api): add DeleteStudent Proto (#186)
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
Labels: backend (user)

feat(classroom-api): implement get room api
  api/internal/classroom/api/room.go
  api/internal/classroom/api/room_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/room.go
  api/internal/classroom/database/room_test.go
  api/internal/classroom/entity/room.go
  api/internal/classroom/entity/room_test.go
  api/internal/classroom/validation/room.go
  api/internal/classroom/validation/room_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/room.proto
  api/proto/classroom/service.proto
Labels: backend (classroom), test

feat(classroom-api): implement get room api (#188)
  api/internal/classroom/api/room.go
  api/internal/classroom/api/room_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/room.go
  api/internal/classroom/database/room_test.go
  api/internal/classroom/entity/room.go
  api/internal/classroom/entity/room_test.go
  api/internal/classroom/validation/room.go
  api/internal/classroom/validation/room_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/room.proto
  api/proto/classroom/service.proto
Labels: backend (classroom), test

wip
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/lesson.proto
  api/proto/lesson/service.proto
Labels: backend (lesson)

feat(user-api):add Delete interface
  api/internal/user/database/database.go
Labels: backend (user)

feat(user-api): add DeleteStudent datails
  api/internal/user/database/student.go
Labels: backend (user)

test: add DeleteStudent method test
  api/internal/user/database/student_test.go
Labels: backend (user), test

chore: make mockgen
  api/mock/user/database/database.go
Labels: backend (user)

feat(lesson-api): implement create lesson api
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/entity/lesson.go
  api/internal/lesson/entity/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
Labels: backend (lesson), test
