Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix(classroom-api): fix small
  api/internal/classroom/database/teacher_subject_test.go
Labels: backend (classroom), test

feat(classroom-api): implement update teacher subjects (#69)
  api/hack/database-seeds/main.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/entity/teacher_subject_test.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Labels: backend (classroom), test

feat(gateway): implement update my subjects
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  docs/swagger/teacher/paths/v1/me/subjects.yaml
Labels: backend (gateway), docs, test

fix(gateway): fix small
  api/internal/gateway/teacher/v1/handler/subject.go
Labels: backend (gateway)

feat(gateway): implement update my subjects (#70)
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  docs/swagger/teacher/paths/v1/me/subjects.yaml
Labels: backend (gateway), docs, test

refactor(classroom-api): remove update api response
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/proto/classroom/service.proto
Labels: backend (classroom), backend (gateway), test

refactor(classroom-api): remove update api response (#71)
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/proto/classroom/service.proto
Labels: backend (classroom), backend (gateway), test

api: add student struct
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Labels: backend (user), test

add test for get student api
  api/internal/user/database/student_test.go
Labels: backend (user), test

make mockgen
  api/mock/user/database/database.go
Labels: backend (user)

feat(user-api): implement update teacher api
  api/internal/user/api/api.go
  api/internal/user/api/api_test.go
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user), test

feat(user-api): implement update teacher api (#73)
  api/internal/user/api/api.go
  api/internal/user/api/api_test.go
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user), test

feat(gateway): implement update email and password api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/request/auth.go
Labels: backend (gateway), test

feat(docs): add
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/me/mail.yaml
  docs/swagger/teacher/paths/v1/me/password.yaml
Labels: docs

fix(docs): fix small
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
Labels: docs

feat(gateway): implement update email and password api (#74)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/me/mail.yaml
  docs/swagger/teacher/paths/v1/me/password.yaml
Labels: backend (gateway), docs, test

feat(gateway): add query path in list subjects api
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  docs/swagger/teacher/paths/v1/me/index.yaml
  docs/swagger/teacher/paths/v1/subjects/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_id.yaml
  docs/swagger/teacher/paths/v1/teachers/index.yaml
Labels: backend (gateway), docs, test

feat(gateway): add query path in list subjects api (#75)
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  docs/swagger/teacher/paths/v1/me/index.yaml
  docs/swagger/teacher/paths/v1/subjects/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_id.yaml
  docs/swagger/teacher/paths/v1/teachers/index.yaml
Labels: backend (gateway), docs, test

feat(classroom-api): implement list schedules api
  api/go.mod
  api/go.sum
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/schedule.go
  api/internal/classroom/api/schedule_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/schedule.go
  api/internal/classroom/database/schedule_test.go
  api/internal/classroom/entity/schedule.go
  api/internal/classroom/entity/schedule_test.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/validation/schedule.go
  api/internal/classroom/validation/schedule_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
  api/proto/classroom/schedule.proto
  api/proto/classroom/service.proto
  infra/mysql/schema/2021122401-classrooms-alter-table-schedules.sql
Labels: backend (classroom), test

fix(infra): fix small
  infra/mysql/schema/2021122401-classrooms-alter-table-schedules.sql
Labels: none

feat(classroom-api): implement list schedules api (#76)
  api/go.mod
  api/go.sum
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/schedule.go
  api/internal/classroom/api/schedule_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/schedule.go
  api/internal/classroom/database/schedule_test.go
  api/internal/classroom/entity/schedule.go
  api/internal/classroom/entity/schedule_test.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/validation/schedule.go
  api/internal/classroom/validation/schedule_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
  api/proto/classroom/schedule.proto
  api/proto/classroom/service.proto
  infra/mysql/schema/2021122401-classrooms-alter-table-schedules.sql
Labels: backend (classroom), test

Add: added submission page
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/types/props/submission.ts
Labels: frontend (teacher)

Fix: solve build error
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/types/props/submission.ts
Labels: frontend (teacher)

Update README.md
  README.md
Labels: none

chore: yarn.lockを再生成
  web/teacher/yarn.lock
Labels: frontend (teacher)

Fix: fixed layout
  web/teacher/src/pages/submissions/index.vue
Labels: frontend (teacher)

Fix: fixed text cecnter
  web/teacher/src/pages/submissions/index.vue
Labels: frontend (teacher)

chore(functions): update deps (#66)
  infra/functions/gcr-cleaner/go.mod
  infra/functions/gcr-cleaner/go.sum
Labels: infra (functions)

feat(classroom-api): implement update schedules api
  api/internal/classroom/api/schedule.go
  api/internal/classroom/api/schedule_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/schedule.go
  api/internal/classroom/database/schedule_test.go
  api/internal/classroom/entity/schedule.go
  api/internal/classroom/entity/schedule_test.go
  api/internal/classroom/validation/schedule.go
  api/internal/classroom/validation/schedule_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Labels: backend (classroom), test

feat(classroom-api): implement update schedules api (#79)
  api/internal/classroom/api/schedule.go
  api/internal/classroom/api/schedule_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/schedule.go
  api/internal/classroom/database/schedule_test.go
  api/internal/classroom/entity/schedule.go
  api/internal/classroom/entity/schedule_test.go
  api/internal/classroom/validation/schedule.go
  api/internal/classroom/validation/schedule_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Labels: backend (classroom), test

style : insert type and change function's names
  api/internal/user/database/student_test.go
  api/internal/user/entity/student_test.go
Labels: backend (user), test

feat(gateway): implement schedule api
  api/internal/gateway/entity/schedule.go
  api/internal/gateway/entity/schedule_test.go
  api/internal/gateway/teacher/v1/entity/schedule.go
  api/internal/gateway/teacher/v1/entity/schedule_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/schedule.go
  api/internal/gateway/teacher/v1/handler/schedule_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  api/internal/gateway/teacher/v1/request/schedule.go
  api/internal/gateway/teacher/v1/request/teacher.go
  api/internal/gateway/teacher/v1/response/auth.go
  api/internal/gateway/teacher/v1/response/schedule.go
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.request.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.response.yaml
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/schedules/index.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement schedule api (#80)
  api/internal/gateway/entity/schedule.go
  api/internal/gateway/entity/schedule_test.go
  api/internal/gateway/teacher/v1/entity/schedule.go
  api/internal/gateway/teacher/v1/entity/schedule_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/schedule.go
  api/internal/gateway/teacher/v1/handler/schedule_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  api/internal/gateway/teacher/v1/request/schedule.go
  api/internal/gateway/teacher/v1/request/teacher.go
  api/internal/gateway/teacher/v1/response/auth.go
  api/internal/gateway/teacher/v1/response/schedule.go
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.request.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.response.yaml
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/schedules/index.yaml
Labels: backend (gateway), docs, test

feat(classroom-api): implement subject api
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/validation/subject.go
  api/internal/classroom/validation/subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Labels: backend (classroom), test

fix(classroom-api): fix small
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
Labels: backend (classroom), test

feat(classroom-api): implement subject api (#81)
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/validation/subject.go
  api/internal/classroom/validation/subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Labels: backend (classroom), test

feat(gateway): implement subject api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/request/subject.go
  api/internal/gateway/teacher/v1/response/subject.go
  docs/swagger/teacher/components/schemas/v1/subjects.request.yaml
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/subjects/_id.yaml
Labels: backend (gateway), docs, test

refactor(classroom-api): refactor upper case to color code
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
Labels: backend (classroom), test

fix(gateway): fix small
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
Labels: backend (gateway), test

refactor(classroom-api): refactor upper case to color code (#83)
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
Labels: backend (classroom), test
