Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

feat(web/teacher): implement teacher submissions api
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/store/submission.ts
  web/teacher/src/types/store/submission.ts
  web/teacher/test/components/templates/TheSubmissionTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/submission.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/submission.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix small
  web/teacher/test/store/submission.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix small
  web/teacher/test/store/submission.test.ts
Labels: frontend (teacher), test

add student entity for createStudent (#105)
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
  api/proto/user/common.proto
  api/proto/user/service.proto
  api/proto/user/student.proto
Labels: backend (user), test

feat(web/teacher): implement teacher submissions api client (#142)
  web/teacher/src/components/templates/TheSubmission.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/store/submission.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/index.ts
  web/teacher/test/components/templates/TheSubmissionTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/submission.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/submission.test.ts
Labels: frontend (teacher), test

feat(web/teacher): implement ui when shif it not yet accepted
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/static/submission.png
  web/teacher/test/components/templates/TheSubmissionTop.test.ts
Labels: frontend (teacher), test

feat(web/teacher): implement ui when shif it not yet accepted (#144)
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/static/submission.png
  web/teacher/test/components/templates/TheSubmissionTop.test.ts
Labels: frontend (teacher), test

add createStudent interface and detail
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/mock/user/database/database.go
Labels: backend (user), test

add createStudent interface and detail (#146)
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/mock/user/database/database.go
Labels: backend (user), test

fix(classroom-api): fix goroutine in upsert subjects
  api/internal/classroom/api/teacher_subject.go
Labels: backend (classroom)

add NewStudent Method
  api/internal/user/entity/student.go
Labels: backend (user)

fix(classroom-api): add user service client
  api/config/classroom/server/config.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/cmd/server/exec.go
  api/internal/classroom/cmd/server/registry.go
  docker-compose.yaml
Labels: backend (classroom)

fix(classroom-api): fix small
  api/internal/classroom/api/teacher_subject_test.go
Labels: backend (classroom), test

fix(classroom-api): fix goroutine in upsert subjects (#147)
  api/config/classroom/server/config.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/cmd/server/exec.go
  api/internal/classroom/cmd/server/registry.go
  docker-compose.yaml
Labels: backend (classroom), test

feat(infra): update Makefile
  Makefile
Labels: none

add createStudent validator
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
Labels: backend (user), test

make mockgen
  api/mock/user/validation/validator.go
Labels: backend (user)

feat(web/teacher): implement desktop default layout
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/components/organisms/TheSidebar.vue
  web/teacher/src/layouts/default.vue
  web/teacher/test/components/organisms/TheSidebar.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix image size in desktop layout
  web/teacher/src/components/templates/MbShiftTop.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
Labels: frontend (teacher)

fix(web/teacher): fix small
  web/teacher/src/layouts/error.vue
Labels: frontend (teacher)

feat(web/teacher): implement desktop default layout (#149)
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/components/organisms/TheSidebar.vue
  web/teacher/src/layouts/default.vue
  web/teacher/test/components/organisms/TheSidebar.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix image size in desktop layout (#150)
  web/teacher/src/components/templates/MbShiftTop.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/layouts/error.vue
Labels: frontend (teacher)

fix: lint max length
  api/internal/user/entity/student.go
Labels: backend (user)

test: add NewStudent Test
  api/internal/user/entity/student_test.go
Labels: backend (user), test

test: add NewStudent all SchoolType
  api/internal/user/entity/student_test.go
Labels: backend (user), test

feat(web/teacher): implement signin ui for desktop
  web/teacher/.firebaserc
  web/teacher/src/components/organisms/TheSidebar.vue
  web/teacher/src/layouts/auth.vue
  web/teacher/src/pages/signin.vue
Labels: frontend (teacher)

feat(gateway): initialize student gateway
  api/config/gateway/student/config.go
  api/internal/gateway/cmd/student/exec.go
  api/internal/gateway/cmd/student/registry.go
  api/internal/gateway/cmd/student/router.go
  api/internal/gateway/student/v1/handler/api.go
Labels: backend (gateway)

feat(infra): setup student gateway
  .env.temp
  .github/workflows/ci-backend-for-all.yaml
  Makefile
  docker-compose.yaml
  docs/swagger/Makefile
  docs/swagger/package.json
  docs/swagger/student/openapi.yaml
  infra/docker/api/gateway/student/Dockerfile
  infra/docker/api/gateway/student/Dockerfile.development
Labels: infra (docker), docs, workflow

fix(gateway): fix small
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/api_test.go
Labels: backend (gateway), test

fix(gateway): fix small
  api/cmd/gateway/student/main.go
Labels: backend (gateway)

feat(web/teacher): implement signin ui for desktop (#151)
  web/teacher/.firebaserc
  web/teacher/src/components/organisms/TheSidebar.vue
  web/teacher/src/layouts/auth.vue
  web/teacher/src/pages/signin.vue
Labels: frontend (teacher)

Feat/gateway/initialize student gateway (#152)
  .env.temp
  .github/workflows/ci-backend-for-all.yaml
  Makefile
  api/cmd/gateway/student/main.go
  api/config/gateway/student/config.go
  api/internal/gateway/cmd/student/exec.go
  api/internal/gateway/cmd/student/registry.go
  api/internal/gateway/cmd/student/router.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/api_test.go
  docker-compose.yaml
  docs/swagger/Makefile
  docs/swagger/package.json
  docs/swagger/student/openapi.yaml
  infra/docker/api/gateway/student/Dockerfile
  infra/docker/api/gateway/student/Dockerfile.development
Labels: backend (gateway), infra (docker), docs, test, workflow

feat(gateway): implement get auth api
  api/hack/database-seeds/main.go
  api/internal/gateway/entity/student.go
  api/internal/gateway/entity/student_test.go
  api/internal/gateway/student/v1/entity/auth.go
  api/internal/gateway/student/v1/entity/auth_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/auth.go
  api/internal/gateway/student/v1/handler/auth_test.go
  api/internal/gateway/student/v1/response/auth.go
  docs/swagger/Makefile
  docs/swagger/student/components/schemas/common.yaml
  docs/swagger/student/components/schemas/v1/auth.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/me/index.yaml
Labels: backend (gateway), docs, test

feat(classroom-api): define student subjects proto
  api/proto/classroom/service.proto
  api/proto/classroom/student_subject.proto
  infra/mysql/schema/2022010401-classrooms-create-table-student-subjects.sql
Labels: backend (classroom)

feat(ci/cd): setup deploy student web
  .github/workflows/cd-web-student-for-main.yaml
Labels: workflow

feat(ci/cd): setup deploy student web (#154)
  .github/workflows/cd-web-student-for-main.yaml
Labels: workflow

fix(classroom-api): make mockgen
  api/mock/proto/classroom/service_grpc.pb.go.go
Labels: backend (classroom)

feat(classroom-api): define student subjects proto (#155)
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
  api/proto/classroom/student_subject.proto
  infra/mysql/schema/2022010401-classrooms-create-table-student-subjects.sql
Labels: backend (classroom)

feat(classroom-api): implement student subjects db logic
  api/internal/classroom/database/database.go
  api/internal/classroom/database/student_subject.go
  api/internal/classroom/database/student_subject_test.go
  api/internal/classroom/entity/student_subject.go
  api/internal/classroom/entity/student_subject_test.go
  api/mock/classroom/database/database.go
Labels: backend (classroom), test

feat(classroom-api): implement student subjects db logic (#156)
  api/internal/classroom/database/database.go
  api/internal/classroom/database/student_subject.go
  api/internal/classroom/database/student_subject_test.go
  api/internal/classroom/entity/student_subject.go
  api/internal/classroom/entity/student_subject_test.go
  api/mock/classroom/database/database.go
Labels: backend (classroom), test
