Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

feat(gateway): implement list lessons api
  api/internal/gateway/teacher/v1/entity/lesson.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/response/lesson.go
  docs/swagger/teacher/components/schemas/v1/lessons.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/index.yaml
Labels: backend (gateway), docs, test

Feat/lesson api/list lessons api (#227)
  api/internal/gateway/teacher/v1/entity/lesson.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/response/lesson.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/entity/lesson.go
  api/mock/lesson/database/database.go
  api/proto/lesson/service.proto
  docs/swagger/teacher/components/schemas/v1/lessons.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/index.yaml
Labels: backend (gateway), backend (lesson), docs, test

fix(web/teacher): fix lint
  web/teacher/src/components/templates/PcShiftDetail.vue
Labels: frontend (teacher)

feat(web/teacher): implement api client for get user submissions
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix for reviews
  api/internal/classroom/validation/student_subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/proto/classroom/service.proto
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/src/types/store/user.ts
Labels: frontend (teacher), backend (classroom), test

fix(web/teacher): fix lint
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
Labels: frontend (teacher)

fix(web/teacher): fix small
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionDetail.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/submissions/_id.vue
Labels: frontend (teacher)

fix(web/teacher): fix lint
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Labels: frontend (teacher)

fix(web/teacher): fix lint
  web/teacher/src/store/shift.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/src/types/store/submission.ts
  web/teacher/test/helpers/api-mock/submission.ts
Labels: frontend (teacher)

fix(web/teacher): fix for reviews
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

refactor(*): refactor shifts entity
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
Labels: backend (gateway), backend (lesson), test

fix(web/teacher): fix small
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/api-mock/user.ts
Labels: frontend (teacher)

feat(web/teacher): implement api client for list lessons
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/store/shift.ts
Labels: frontend (teacher)

feat(web/teacher): implement api client for get user submissions (#224)
  api/internal/classroom/validation/student_subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/proto/classroom/service.proto
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/TheSubmissionDetail.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/src/types/store/submission.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/api-mock/submission.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), backend (classroom), backend (gateway), backend (lesson), test

Add: added update mail API by BFF
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/teacher.ts
Labels: frontend (teacher)

Remove unnecessary code
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/store/user.ts
Labels: frontend (teacher)

feat(gateway): add ListStudents specification
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/index.yaml
Labels: docs

feat(gateway): add ListStudents mock
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/response/student.go
Labels: backend (gateway), test

fix: delete needless code
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
Labels: docs

types: 型定義を追加
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/subject.ts
Labels: frontend (teacher)

feat: SchoolTypeからnumberに変換する関数の実装
  web/teacher/src/lib/convert.ts
Labels: frontend (teacher)

feat: 開講科目作成機能をAPIと接続
  web/teacher/src/pages/settings/subjects.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/subject.ts
Labels: frontend (teacher)

fix(classroom-api): fix create subject response
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
Labels: backend (classroom), test

feat(gateway): add ListStudents mock (#229)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/response/student.go
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/index.yaml
Labels: backend (gateway), docs, test

fix(classroom-api): fix create subject response (#230)
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
Labels: backend (classroom), test

feat(web/teacher): shift details page ui
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/form/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/props/user.ts
  web/teacher/src/types/store/shift.ts
Labels: frontend (teacher)

feat(web/teacher): fix lint
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
Labels: frontend (teacher)

feat(gateway): add field to shifts response
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

Feat/teacher web/implement new lessons (#231)
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/form/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/props/user.ts
  web/teacher/src/types/store/shift.ts
Labels: frontend (teacher), backend (gateway), docs, test

feat(gateway): add DeleteStudent specification
  docs/swagger/teacher/paths/v1/students/_studentId/index.yaml
Labels: docs

feat(web/teacher): enabled button setting
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/lib/convert.ts
  web/teacher/src/pages/index.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/shift.ts
Labels: frontend (teacher), test

Fix: fixed mail update path
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/store/user.ts
Labels: frontend (teacher)

fix(web/teacher): fix lint
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

feat(web/teacher): new lesson layout (#232)
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/lib/convert.ts
  web/teacher/src/pages/index.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

Refacotr: refactor code
  web/teacher/src/pages/settings/mail.vue
Labels: frontend (teacher)

feat(gateway): add DeleteStudent mock
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
Labels: backend (gateway), test

feat(web/teacher): implement new lessons dialog design
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/form/shift.ts
Labels: frontend (teacher)

feat(web/teacher): implement new lessons dialog design (#234)
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/form/shift.ts
Labels: frontend (teacher)

feat(web/teacher): add loader in shift detail page
  web/teacher/src/pages/shifts/_id.vue
Labels: frontend (teacher)

feat(web/teacher): add loader in shift detail page (#235)
  web/teacher/src/pages/shifts/_id.vue
Labels: frontend (teacher)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
