Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

test: createSubjectのテストケースに漏れがあったので追加
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

test: getAllSubjectsの異常系にも追加
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

style: ボタンの名前を「更新」に変更
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher)

fix(web/teacher): fix small
  web/teacher/src/components/templates/TheTop.vue
  web/teacher/test/components/templates/TheTop.test.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

fix(gateway): fix small
  api/internal/gateway/teacher/v1/handler/lesson_test.go
Labels: backend (gateway), test

feat(web/teacher): implement list lessons api client (#250)
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  web/teacher/src/components/templates/TheTop.vue
  web/teacher/src/pages/index.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/test/components/templates/TheTop.test.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), backend (gateway), backend (lesson), test

refactor(web/teacher): dialog button
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
Labels: frontend (teacher)

refactor(web/teacher): dialog button (#251)
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
Labels: frontend (teacher)

refactor(web/teacher): refactor table style
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheShiftTeacherTable.vue
Labels: frontend (teacher)

fix(web/teacher): fix small
  web/teacher/src/components/organisms/TheShiftEditCard.vue
Labels: frontend (teacher)

refactor(web/teacher): refactor table style (#252)
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheShiftTeacherTable.vue
Labels: frontend (teacher)

feat: web-teacher 開講科目編集・削除機能の実装 (#249)
  web/teacher/src/pages/settings/subjects.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/types/form/subject.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

feat(gateway): implement update student subjects api
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/_studentId/subjects.yaml
Labels: backend (gateway), docs, test

Add: added update password api
  web/teacher/src/pages/settings/password.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/teacher.ts
Labels: frontend (teacher)

Refactor: Fixed lint error
  web/teacher/src/store/user.ts
Labels: frontend (teacher)

feat(gateway): implement update student subjects api (#254)
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/_studentId/subjects.yaml
Labels: backend (gateway), docs, test

Refactor: refactor design
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/pages/settings/password.vue
Labels: frontend (teacher)

feat(user-api): implement update student api
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user), test

refactor(web/teacher): refactor new lesson page style
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
Labels: frontend (teacher)

fix(web/teacher): remove undefined method
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
Labels: frontend (teacher)

Feature/password update (#253)
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/pages/settings/password.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/teacher.ts
Labels: frontend (teacher)

fix: デザインレビュー会で話した内容を反映
  web/teacher/src/components/organisms/TheBoothSettingForm.vue
  web/teacher/src/components/organisms/TheCalendarDetail.vue
  web/teacher/src/components/organisms/TheCalendarHeader.vue
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/components/templates/TheTeacherNew.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher)

test: 変更したコンポーネントのテストを修正
  web/teacher/test/components/templates/TheSubmissionTop.test.ts
Labels: frontend (teacher), test

feat(user-api): implement update student api (#255)
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user), test

fix: デザインレビュー会で話した内容を反映 (#256)
  web/teacher/src/components/organisms/TheBoothSettingForm.vue
  web/teacher/src/components/organisms/TheCalendarDetail.vue
  web/teacher/src/components/organisms/TheCalendarHeader.vue
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/components/templates/TheTeacherNew.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/subjects.vue
  web/teacher/test/components/templates/TheSubmissionTop.test.ts
Labels: frontend (teacher), test

feat(gateway): implement update student api
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/_studentId/mail.yaml
  docs/swagger/teacher/paths/v1/students/_studentId/password.yaml
Labels: backend (gateway), docs, test

fix(gateway): fix small
  api/internal/gateway/teacher/v1/handler/api.go
Labels: backend (gateway)

feat(gateway): implement update student api (#258)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/_studentId/mail.yaml
  docs/swagger/teacher/paths/v1/students/_studentId/password.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement auth api
  api/internal/gateway/student/v1/entity/auth.go
  api/internal/gateway/student/v1/entity/auth_test.go
  api/internal/gateway/student/v1/entity/subject.go
  api/internal/gateway/student/v1/entity/subject_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/auth.go
  api/internal/gateway/student/v1/handler/auth_test.go
  api/internal/gateway/student/v1/request/auth.go
  api/internal/gateway/student/v1/response/auth.go
  docs/swagger/student/components/schemas/v1/auth.request.yaml
  docs/swagger/student/components/schemas/v1/auth.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/me/mail.yaml
  docs/swagger/student/paths/v1/me/password.yaml
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/openapi.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement auth api (#260)
  api/internal/gateway/student/v1/entity/auth.go
  api/internal/gateway/student/v1/entity/auth_test.go
  api/internal/gateway/student/v1/entity/subject.go
  api/internal/gateway/student/v1/entity/subject_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/auth.go
  api/internal/gateway/student/v1/handler/auth_test.go
  api/internal/gateway/student/v1/request/auth.go
  api/internal/gateway/student/v1/response/auth.go
  docs/swagger/student/components/schemas/v1/auth.request.yaml
  docs/swagger/student/components/schemas/v1/auth.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/me/mail.yaml
  docs/swagger/student/paths/v1/me/password.yaml
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/openapi.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement submission api
  api/internal/gateway/student/v1/entity/shift_summary.go
  api/internal/gateway/student/v1/entity/shift_summary_test.go
  api/internal/gateway/student/v1/entity/student.go
  api/internal/gateway/student/v1/entity/student_shift.go
  api/internal/gateway/student/v1/entity/student_shift_test.go
  api/internal/gateway/student/v1/entity/student_submission.go
  api/internal/gateway/student/v1/entity/student_submission_test.go
  api/internal/gateway/student/v1/entity/student_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/submission.go
  api/internal/gateway/student/v1/handler/submission_test.go
  api/internal/gateway/student/v1/request/submission.go
  api/internal/gateway/student/v1/response/submission.go
  docs/swagger/student/components/schemas/v1/submissions.request.yaml
  docs/swagger/student/components/schemas/v1/submissions.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/submissions/_summaryId.yaml
  docs/swagger/student/paths/v1/submissions/index.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement submission api (#261)
  api/internal/gateway/student/v1/entity/shift_summary.go
  api/internal/gateway/student/v1/entity/shift_summary_test.go
  api/internal/gateway/student/v1/entity/student.go
  api/internal/gateway/student/v1/entity/student_shift.go
  api/internal/gateway/student/v1/entity/student_shift_test.go
  api/internal/gateway/student/v1/entity/student_submission.go
  api/internal/gateway/student/v1/entity/student_submission_test.go
  api/internal/gateway/student/v1/entity/student_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/submission.go
  api/internal/gateway/student/v1/handler/submission_test.go
  api/internal/gateway/student/v1/request/submission.go
  api/internal/gateway/student/v1/response/submission.go
  docs/swagger/student/components/schemas/v1/submissions.request.yaml
  docs/swagger/student/components/schemas/v1/submissions.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/submissions/_summaryId.yaml
  docs/swagger/student/paths/v1/submissions/index.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement subjects api
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/subject.go
  api/internal/gateway/student/v1/handler/subject_test.go
  api/internal/gateway/student/v1/response/subject.go
  docs/swagger/student/components/schemas/v1/subjects.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/subjects/index.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement submission api (#261)
  api/internal/gateway/student/v1/entity/lesson.go
  api/internal/gateway/student/v1/entity/lessson_test.go
  api/internal/gateway/student/v1/entity/teacher.go
  api/internal/gateway/student/v1/entity/teacher_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/lesson.go
  api/internal/gateway/student/v1/handler/lesson_test.go
  api/internal/gateway/student/v1/response/lesson.go
  docs/swagger/student/components/schemas/v1/lessons.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/lessons/index.yaml
Labels: backend (gateway), docs, test

fix(gateway): fix typo
  api/internal/gateway/student/v1/entity/lesson_test.go
Labels: backend (gateway), test

fix(gateway): fix small
  api/internal/gateway/student/v1/response/lesson.go
Labels: backend (gateway)

refactor(gateway): remove unnecessary fields
  api/internal/gateway/student/v1/entity/teacher.go
  api/internal/gateway/student/v1/entity/teacher_test.go
  api/internal/gateway/student/v1/handler/lesson_test.go
Labels: backend (gateway), test

refactor(gateway): refactor teacher gateway request
  api/internal/gateway/teacher/v1/entity/schedule.go
  api/internal/gateway/teacher/v1/entity/schedule_test.go
  api/internal/gateway/teacher/v1/handler/schedule.go
  api/internal/gateway/teacher/v1/handler/schedule_test.go
  api/internal/gateway/teacher/v1/request/schedule.go
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/schedules/index.yaml
Labels: backend (gateway), docs, test

refactor(gateway): refactor teacher gateway request (#264)
  api/internal/gateway/teacher/v1/entity/schedule.go
  api/internal/gateway/teacher/v1/entity/schedule_test.go
  api/internal/gateway/teacher/v1/handler/schedule.go
  api/internal/gateway/teacher/v1/handler/schedule_test.go
  api/internal/gateway/teacher/v1/request/schedule.go
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/schedules/index.yaml
Labels: backend (gateway), docs, test

types: 型定義を追加
  web/teacher/src/types/api/v1/classroom.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/store/classroom.ts
  web/teacher/src/types/store/index.ts
Labels: frontend (teacher)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
