Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

infra: Dockerfileを追加
  infra/docker/infra/swagger/student/Dockerfile
Labels: infra (docker)

feat(user-api): add ListStudents proto (#164)
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
Labels: backend (user)

add databese layer
  api/internal/user/database/database.go
  api/internal/user/database/student.go
Labels: backend (user)

feat(gateway): add fields to shifts response
  api/internal/gateway/entity/teacher.go
  api/internal/gateway/entity/teacher_shift.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), backend (lesson), docs, test

fix(gateway): fix small
  api/internal/gateway/entity/teacher_shift.go
Labels: backend (gateway)

fix: SchoolTypeをEnumからUnionに変更 (#167)
  infra/docker/infra/swagger/student/Dockerfile
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/lib/convert.ts
  web/teacher/src/lib/index.ts
  web/teacher/src/pages/index.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/subject.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/lesson.ts
  web/teacher/src/types/form/teacher.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/auth.ts
  web/teacher/test/helpers/api-mock/lesson.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), infra (docker), test

fix(gateway): fix small
  api/internal/gateway/entity/teacher_shift.go
Labels: backend (gateway)

Add: added getDate function
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionEdit.vue
Labels: frontend (teacher)

fix: 教科変更のイベント検知をchangeメソッドからblurメソッドに変更
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher)

feat(gateway): add fields to shifts response (#170)
  api/internal/gateway/entity/teacher.go
  api/internal/gateway/entity/teacher_shift.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), backend (lesson), docs, test

feat: add ListStudents database layer test
  api/internal/user/database/student_test.go
Labels: backend (user), test

Add: added submission edit page
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionEdit.vue
  web/teacher/src/store/submission.ts
Labels: frontend (teacher)

Refactor: refactor code
  web/teacher/src/store/submission.ts
Labels: frontend (teacher)

Refactor: import module
  web/teacher/src/components/templates/TheSubmissionEdit.vue
Labels: frontend (teacher)

Add: added submission edit page
  web/teacher/src/components/templates/TheSubmissionEdit.vue
  web/teacher/src/pages/submissions/_id.vue
Labels: frontend (teacher)

fix: 教科変更のイベント検知をchangeメソッドからblurメソッドに変更 (#171)
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher)

Add: added submission edit type
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionEdit.vue
  web/teacher/src/types/props/submission.ts
  web/teacher/src/types/store/submission.ts
Labels: frontend (teacher)

Add: added props data
  web/teacher/src/components/templates/TheSubmissionEdit.vue
Labels: frontend (teacher)

Add: added getDate function
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionEdit.vue
Labels: frontend (teacher)

Add: added basic layout
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionEdit.vue
Labels: frontend (teacher)

Add: added submission edit page
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionEdit.vue
Labels: frontend (teacher)

fix(web/teacher): fix small
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionDetail.vue
  web/teacher/src/components/templates/TheSubmissionEdit.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/plugins/dayjs.ts
Labels: frontend (teacher)

fix: make mockgen
  api/mock/user/database/database.go
Labels: backend (user)

add databese layer (#169)
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/mock/user/database/database.go
Labels: backend (user), test

fix: typo
  api/proto/user/service.proto
Labels: backend (user)

feat(user-api): add ListStudents validator
  api/internal/user/validation/student.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/validation/validator.go
Labels: backend (user)

Feature/submission edit (#172)
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionDetail.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/plugins/dayjs.ts
  web/teacher/src/types/props/submission.ts
  web/teacher/src/types/store/submission.ts
Labels: frontend (teacher)

feat: ブースなどの設定ページへのリンクを追加
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher)

feat: ブースやコマの設定画面の大枠のレイアウトだけ作成
  web/teacher/src/pages/settings/classroom.vue
Labels: frontend (teacher)

fix: 日本語の修正
  web/teacher/src/pages/settings/classroom.vue
Labels: frontend (teacher)

feat(user-api): add Count method
  api/internal/user/database/database.go
  api/internal/user/database/student.go
Labels: backend (user)

feat(user-api): add ListStudents api
  api/internal/user/api/student.go
Labels: backend (user)

chore: make mockgen
  api/mock/user/database/database.go
Labels: backend (user)

feat(web/teacher): コマ/ブース設定画面のUIだけ作成 (#174)
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher)

feat(web/teacher): implement new lesson page layout
  web/teacher/nuxt.config.js
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

feat: add validation check
  api/internal/user/api/student.go
Labels: backend (user)

feat(web/teacher): implement new lesson page layout (#175)
  web/teacher/nuxt.config.js
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix edit teacher dialog
  web/teacher/src/store/lesson.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

feat(lesson-api): define student submissions
  api/internal/lesson/entity/student_shift.go
  api/internal/lesson/entity/student_shift_test.go
  api/internal/lesson/entity/student_submission.go
  api/internal/lesson/entity/student_submission_test.go
  api/proto/lesson/student_shift.proto
  api/proto/lesson/student_submission.proto
  infra/mysql/schema/2022011401-lessons-create-table-student-shifts.sql
Labels: backend (lesson), test

fix(web/teacher): fix edit teacher dialog (#176)
  web/teacher/src/store/lesson.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test
