Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

fix(classroom-api): fix list subjects api (#56)
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/mock/classroom/database/database.go
  api/proto/classroom/service.proto
Labels: backend (classroom), test

feat(gateway): implement list subjects api
  api/internal/gateway/cmd/teacher/registry.go
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/response/subject.go
  api/mock/user/database/database.go
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/subjects.index.yaml
Labels: backend (gateway), backend (user), docs, test

fix(gateway): fix small
  api/config/gateway/teacher/config.go
  api/internal/gateway/cmd/teacher/exec.go
Labels: backend (gateway)

fix(gateway): fix small
  docker-compose.yaml
Labels: none

feat: ログインをEnterキーでできるようにした
  web/teacher/src/components/templates/TheSignIn.vue
Labels: frontend (teacher)

fix(gateway): fix small
  api/internal/gateway/teacher/v1/handler/subject_test.go
Labels: backend (gateway), test

feat(gateway): implement list subjects api (#57)
  api/config/gateway/teacher/config.go
  api/internal/gateway/cmd/teacher/exec.go
  api/internal/gateway/cmd/teacher/registry.go
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/response/subject.go
  api/mock/user/database/database.go
  docker-compose.yaml
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/subjects.index.yaml
Labels: backend (gateway), backend (user), docs, test

feat(classroom-api): add school type fields to subject
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/internal/user/validation/teacher_test.go
  api/mock/classroom/database/database.go
  api/proto/classroom/common.proto
  api/proto/classroom/service.proto
  api/proto/classroom/subject.proto
Labels: backend (classroom), backend (user), test

fix(classroom-api): fix small
  infra/mysql/schema/2021121901-classrooms-add-column-to-subjects.sql
Labels: none

feat(classroom-api): add school type fields to subject (#59)
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/internal/user/validation/teacher_test.go
  api/mock/classroom/database/database.go
  api/proto/classroom/common.proto
  api/proto/classroom/service.proto
  api/proto/classroom/subject.proto
  infra/mysql/schema/2021121901-classrooms-add-column-to-subjects.sql
Labels: backend (classroom), backend (user), test

feat(gateway): add school type fields to subject
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
Labels: backend (gateway), test

feat(gateway): add school type fields to subject (#60)
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
Labels: backend (gateway), test

docs(swagger): add response field to list subjects
  api/hack/database-seeds/main.go
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
Labels: docs

docs(swagger): add response field to list subjects (#61)
  api/hack/database-seeds/main.go
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
Labels: docs

feat: add student entity test
  api/internal/gateway/entity/student.go
  api/internal/gateway/entity/student_test.go
Labels: backend (gateway), test

feat(user-api):add student entity (#53)
  api/internal/gateway/entity/student.go
  api/internal/gateway/entity/student_test.go
Labels: backend (gateway), test

fix: move student entity
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Labels: backend (user), test

feat(user-api): add Get method detail
  api/internal/user/database/database.go
  api/internal/user/database/student.go
Labels: backend (user)

feat(gateway): add update my subjects api mock
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/me/index.yaml
  docs/swagger/teacher/paths/v1/me/subjects.yaml
  docs/swagger/teacher/paths/v1/subjects/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_id.yaml
  docs/swagger/teacher/paths/v1/teachers/index.yaml
Labels: backend (gateway), docs, test

feat(gateway): add update my subjects api mock (#63)
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/me/index.yaml
  docs/swagger/teacher/paths/v1/me/subjects.yaml
  docs/swagger/teacher/paths/v1/subjects/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_id.yaml
  docs/swagger/teacher/paths/v1/teachers/index.yaml
Labels: backend (gateway), docs, test

fix: testがonClickのままだったのでonSubmitに変更した
  web/teacher/test/components/templates/TheSignIn.test.ts
Labels: frontend (teacher), test

refactor(mysql): refactor mysql schemas
  infra/mysql/schema/2021120902-users-create-table-teachers.sql
  infra/mysql/schema/2021120903-users-create-table-students.sql
  infra/mysql/schema/2021121101-users-alter-table-teachers.sql
  infra/mysql/schema/2021121102-users-alter-table-students.sql
  infra/mysql/schema/2021121801-classrooms-create-table-subjects.sql
  infra/mysql/schema/2021121901-classrooms-add-column-to-subjects.sql
  infra/mysql/schema/2021122101-classrooms-create-table-subjects-teachers.sql
Labels: none

refactor(mysql): refactor mysql schemas (#64)
  infra/mysql/schema/2021120902-users-create-table-teachers.sql
  infra/mysql/schema/2021120903-users-create-table-students.sql
  infra/mysql/schema/2021121101-users-alter-table-teachers.sql
  infra/mysql/schema/2021121102-users-alter-table-students.sql
  infra/mysql/schema/2021121801-classrooms-create-table-subjects.sql
  infra/mysql/schema/2021121901-classrooms-add-column-to-subjects.sql
  infra/mysql/schema/2021122101-classrooms-create-table-subjects-teachers.sql
Labels: none

feat: ログインをEnterキーでできるようにした (#58)
  web/teacher/src/components/templates/TheSignIn.vue
  web/teacher/test/components/templates/TheSignIn.test.ts
Labels: frontend (teacher), test

feat(classroom-api): implement get teacher subject api
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/entity/teacher_subject_test.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/pkg/set/set.go
  api/pkg/set/set_test.go
  api/proto/classroom/service.proto
  api/proto/classroom/teacher_subject.proto
  infra/mysql/schema/2021122102-classrooms-alter-table-teacher-subjects.sql
Labels: backend (classroom), test

fix(classroom-api): fix small
  api/internal/classroom/api/teacher_subject_test.go
Labels: backend (classroom), test

fix(classroom-api): fix small
  api/internal/classroom/api/teacher_subject_test.go
Labels: backend (classroom), test

fix(classroom-api): fix small
  api/internal/classroom/entity/teacher_subject_test.go
Labels: backend (classroom), test

chore(functions): update deps
  infra/functions/gcr-cleaner/go.mod
  infra/functions/gcr-cleaner/go.sum
Labels: infra (functions)

feat(classroom-api): implement get teacher subject api (#65)
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/entity/teacher_subject_test.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/pkg/set/set.go
  api/pkg/set/set_test.go
  api/proto/classroom/service.proto
  api/proto/classroom/teacher_subject.proto
  infra/mysql/schema/2021122102-classrooms-alter-table-teacher-subjects.sql
Labels: backend (classroom), test

feat(gateway): update get auth api
  api/internal/gateway/entity/teacher_subject.go
  api/internal/gateway/entity/teacher_subject_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/response/auth.go
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
Labels: backend (gateway), docs, test

fix(gateway): fix typo
  Makefile
  api/internal/gateway/teacher/v1/response/auth.go
Labels: backend (gateway)

feat(web/teacher): add auth response field
  web/teacher/src/store/auth.ts
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/store/auth.ts
Labels: frontend (teacher)

fix(gateway): fix small
  api/internal/classroom/entity/teacher_subject_test.go
Labels: backend (classroom), test

fix(web/teacher): add test
  web/teacher/src/store/lesson.ts
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/test/helpers/api-mock/auth.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

fix small
  api/internal/classroom/api/teacher_subject_test.go
Labels: backend (classroom), test

feat(gateway): update get auth api (#67)
  Makefile
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/entity/teacher_subject_test.go
  api/internal/gateway/entity/teacher_subject.go
  api/internal/gateway/entity/teacher_subject_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/response/auth.go
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
Labels: backend (classroom), backend (gateway), docs, test

feat(web/teacher): add auth response field (#68)
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/test/helpers/api-mock/auth.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

feat(classroom-api): implement update teacher subjects
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Labels: backend (classroom), test

fix(classroom-api): fix small
  api/hack/database-seeds/main.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/entity/teacher_subject_test.go
Labels: backend (classroom), test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
