Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

style: delete needless code
  docs/swagger/student/openapi.yaml
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
Labels: docs

fix: delete needless path
  docker-compose.yaml
Labels: none

feat(user-api): implement multi get students (#215)
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
  api/proto/user/student.proto
Labels: backend (user), test

feat(lesson-api): implement list lessons api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

refactor(lesson-api): lesson api method in one
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (gateway), backend (lesson), test

feat(lesson-api): implement list lessons api (#216)
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (gateway), backend (lesson), test

feat(gateway): add GetStudent Mock
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/student.go
  api/internal/gateway/student/v1/handler/student_test.go
  api/internal/gateway/student/v1/response/student.go
Labels: backend (gateway), test

feat(lesson-api): update list shifts api request
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/validation/shift_test.go
  api/mock/lesson/database/database.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

fix(lesson-api): fix small
  api/internal/lesson/database/shift_test.go
Labels: backend (lesson), test

feat(lesson-api): update list shifts api request (#217)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/validation/shift_test.go
  api/mock/lesson/database/database.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat: 開講科目設定画面の作成
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher)

Add: added update password page
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/password.vue
  web/teacher/src/types/form/teacher.ts
Labels: frontend (teacher)

chore: move student files into teacher dir
  api/internal/gateway/student/v1/handler/student.go
  api/internal/gateway/student/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/response/student.go
Labels: backend (gateway), test

feat(gateway): insert getStudentSubject
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
Labels: backend (gateway), test

feat(gateway): implement list submissions api
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/teacher.go
Labels: backend (gateway), test

feat(gateway): implement list submissions api (#221)
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/teacher.go
Labels: backend (gateway), test

feat(gateway): add GetStudent Mock (#218)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/response/student.go
Labels: backend (gateway), test

feat: 教科の色の選択に紫チックな色を追加
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher)

feat(lesson-api): alter column student submission table
  api/hack/database-migrate/main.go
  api/internal/gateway/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/entity/student_submission.go
  api/internal/lesson/entity/student_submission_test.go
  api/proto/lesson/service.proto
  api/proto/lesson/student_submission.proto
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  infra/mysql/schema/2022012401-lessons-alter-column-to-student-submissions.sql
Labels: backend (gateway), backend (lesson), docs, test

fix(lesson-api): fix lint
  api/internal/lesson/api/student_shift.go
Labels: backend (lesson)

fix(lesson-api): fix small
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
Labels: backend (lesson), test

feat(lesson-api): alter column student submission table (#222)
  api/hack/database-migrate/main.go
  api/internal/gateway/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/entity/student_submission.go
  api/internal/lesson/entity/student_submission_test.go
  api/proto/lesson/service.proto
  api/proto/lesson/student_submission.proto
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  infra/mysql/schema/2022012401-lessons-alter-column-to-student-submissions.sql
Labels: backend (gateway), backend (lesson), docs, test

feat(gateway): add response field to get student shift api
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/student_shift_test.go
  api/internal/gateway/teacher/v1/response/submission.go
Labels: backend (gateway), test

fix(gateway): update swagger
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: docs

fix(gateway): fix small
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
Labels: backend (gateway), test

feat(gateway): add response field to get student shift api (#223)
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/student_shift_test.go
  api/internal/gateway/teacher/v1/response/submission.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

Feat/frontend/subjects (#219)
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher)

feat(gateway): add CreateStudent specification
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/index.yaml
Labels: docs

fix(lesson-api): fix null pointer in get subumission api
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/teacher_shift.go
Labels: backend (lesson)

feat(gateway): add CreateStudent mock
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
Labels: backend (gateway), test

fix(lint):change receiver name
  api/internal/gateway/teacher/v1/entity/student.go
Labels: backend (gateway)

Add: added update password page (#220)
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/password.vue
  web/teacher/src/types/form/teacher.ts
Labels: frontend (teacher)

fix(lesson-api): fix null pointer in get subumission api (#225)
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/teacher_shift.go
Labels: backend (lesson)

Update docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
Labels: docs

Update docs/swagger/teacher/paths/v1/students/index.yaml
  docs/swagger/teacher/paths/v1/students/index.yaml
Labels: docs

Update docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
Labels: docs

fix: add path
  docs/swagger/teacher/openapi.yaml
Labels: docs

test: add UserSchoolType test
  api/internal/gateway/teacher/v1/entity/student_test.go
Labels: backend (gateway), test

feat(gateway): add CreateStudent mock (#226)
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/student_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/index.yaml
Labels: backend (gateway), docs, test

feat(lesson-api): update list lessons api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/entity/lesson.go
  api/mock/lesson/database/database.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
