Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix: rawError: true にしてエラーハンドリングを丁寧にする
  web/teacher/src/store/lesson.ts
Labels: frontend (teacher)

types: 型定義を別に切り出す
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/types/props/setting.ts
Labels: frontend (teacher)

feat(gateway): implement upsert teacher shifts api
  api/internal/gateway/entity/teacher_shift.go
  api/internal/gateway/entity/teacher_shift_test.go
  api/internal/gateway/teacher/v1/entity/teacher_shift.go
  api/internal/gateway/teacher/v1/entity/teacher_shift_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  api/internal/gateway/teacher/v1/request/submission.go
  api/internal/gateway/teacher/v1/response/submission.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/proto/lesson/service.proto
  docs/swagger/teacher/components/schemas/v1/shifts.request.yaml
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/submissions/_summaryId.yaml
Labels: backend (gateway), backend (lesson), docs, test

feat(gateway): implement upsert teacher shifts api
  api/internal/gateway/entity/teacher_shift.go
  api/internal/gateway/entity/teacher_shift_test.go
  api/internal/gateway/teacher/v1/entity/teacher_shift.go
  api/internal/gateway/teacher/v1/entity/teacher_shift_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  api/internal/gateway/teacher/v1/request/submission.go
  api/internal/gateway/teacher/v1/response/submission.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/proto/lesson/service.proto
  docs/swagger/teacher/components/schemas/v1/shifts.request.yaml
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/submissions/_summaryId.yaml
Labels: backend (gateway), backend (lesson), docs, test

feat(gateway): implement list teacher submissions api
  api/internal/gateway/entity/shift_summary.go
  api/internal/gateway/entity/shift_summary_test.go
  api/internal/gateway/entity/teacher_submission.go
  api/internal/gateway/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  api/internal/gateway/teacher/v1/response/submission.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/submissions/index.yaml
Labels: backend (gateway), docs, test

refactor: 戻るボタンの制御をpagesで行う
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher)

fix(ci): add emulator ping timeout
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(ci): fix small
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(ci): fix small
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(ci): fix small
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(ci): fix small
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(ci): fix small
  .github/workflows/cd-api-classroom-for-main.yaml
  .github/workflows/cd-api-user-for-main.yaml
  .github/workflows/cd-gateway-teacher-for-main.yaml
Labels: workflow

feat(ci): setup lesson api workflow
  .github/workflows/cd-api-lesson-for-main.yaml
Labels: workflow

fix(ci): add emulator ping timeout
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(ci): fix small
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(ci): fix small
  .github/workflows/cd-api-classroom-for-main.yaml
  .github/workflows/cd-api-user-for-main.yaml
  .github/workflows/cd-gateway-teacher-for-main.yaml
Labels: workflow

fix(ci): fix small
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(ci): fix small
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(ci): fix small
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

feat(ci): setup lesson api workflow
  .github/workflows/cd-api-lesson-for-main.yaml
Labels: workflow

feat(hack): chanding default value
  api/hack/database-seeds/main.go
Labels: none

feat(hack): chanding default value (#137)
  api/hack/database-seeds/main.go
Labels: none

feat(lesson-api): implement list teacher shifts
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(lesson-api): implement list teacher shifts (#138)
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(gateway): implement list teacher shifts api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  docs/swagger/teacher/paths/v1/teachers/_teacherId/submissions/_summaryId.yaml
Labels: backend (gateway), docs, test

docs(swagger): fix rooms api
  docs/swagger/teacher/paths/v1/rooms/index.yaml
Labels: docs

fix(lesson-api): add check shift submission
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/entity/shift_summary.go
Labels: backend (lesson), test

frontend: 担当科目更新機能の実装 (#132)
  api/internal/gateway/teacher/v1/entity/subject.go
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/middleware/authenticated.ts
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/lesson.ts
  web/teacher/src/types/props/setting.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/test/components/atoms/TheSelect.test.ts
  web/teacher/test/helpers/api-mock/auth.ts
  web/teacher/test/store/auth.test.ts
Labels: frontend (teacher), backend (gateway), test

feat(gateway): implement list teacher shifts api (#139)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  docs/swagger/teacher/paths/v1/teachers/_teacherId/submissions/_summaryId.yaml
Labels: backend (gateway), docs, test

wip
  web/teacher/src/components/templates/TheSubmission.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/store/submission.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/index.ts
Labels: frontend (teacher)

fix(lesson-api): fix error handling
  api/internal/lesson/api/teacher_shift.go
Labels: backend (lesson)

fix(lesson-api): add check shift submission (#140)
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/entity/shift_summary.go
Labels: backend (lesson), test

fix(lesson-api): fix error handling (#141)
  api/internal/lesson/api/teacher_shift.go
Labels: backend (lesson)

add SchoolType
  api/proto/user/common.proto
  api/proto/user/service.proto
  api/proto/user/student.proto
Labels: backend (user)

fix wrong import and type of year
  api/internal/user/entity/student.go
Labels: backend (user)

import FisicalYear method
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Labels: backend (user), test

add validation and remove useless value
  api/proto/user/service.proto
Labels: backend (user)

add test after april
  api/internal/user/entity/student_test.go
Labels: backend (user), test

add Fill SchoolType and Grade method
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
Labels: backend (user), test

change birthday to birthyear
  api/proto/user/service.proto
  api/proto/user/student.proto
Labels: backend (user)
