Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix; delete needless line
  api/internal/user/database/student.go
Labels: backend (user)

Feat/frontend/settings (#181)
  web/teacher/src/components/molecules/TheHourFormItem.vue
  web/teacher/src/components/organisms/TheBoothSettingForm.vue
  web/teacher/src/components/organisms/TheHourSettingForm.vue
  web/teacher/src/components/organisms/TheRegularHolidaySettingForm.vue
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/setting.ts
  web/teacher/src/types/props/setting.ts
  web/teacher/test/components/templates/TheSettingTop.test.ts
Labels: frontend (teacher), test

feat(lesson-api): implement create lesson api (#190)
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/entity/lesson.go
  api/internal/lesson/entity/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/lesson.proto
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(lesson-api): implement list lessons api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/entity/lesson.go
  api/internal/lesson/entity/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(lesson-api): implement list lessons api (#191)
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/entity/lesson.go
  api/internal/lesson/entity/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(gateway): update list shifts api response
  api/internal/gateway/entity/lesson.go
  api/internal/gateway/entity/lesson_test.go
  api/internal/gateway/entity/shift.go
  api/internal/gateway/entity/shift_test.go
  api/internal/gateway/teacher/v1/entity/lesson.go
  api/internal/gateway/teacher/v1/entity/lesson_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

feat(gateway): update list shifts api response (#192)
  api/internal/gateway/entity/lesson.go
  api/internal/gateway/entity/lesson_test.go
  api/internal/gateway/entity/shift.go
  api/internal/gateway/entity/shift_test.go
  api/internal/gateway/teacher/v1/entity/lesson.go
  api/internal/gateway/teacher/v1/entity/lesson_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

feat(lesson-api): update create lesson api response
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(lesson-api): update create lesson api response (#193)
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(gateway): implement create lesson api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/request/lesson.go
  api/internal/gateway/teacher/v1/response/lesson.go
  docs/swagger/teacher/components/schemas/v1/lessons.request.yaml
  docs/swagger/teacher/components/schemas/v1/lessons.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/index.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement create lesson api (#194)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/request/lesson.go
  api/internal/gateway/teacher/v1/response/lesson.go
  docs/swagger/teacher/components/schemas/v1/lessons.request.yaml
  docs/swagger/teacher/components/schemas/v1/lessons.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/index.yaml
Labels: backend (gateway), docs, test

feat(user-api): add DeleteStudent database layer (#189)
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/mock/user/database/database.go
Labels: backend (user), test

Add: added mail params
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/types/form/teacher.ts
Labels: frontend (teacher)

feat(web/teacher): implement submit teacher shifts
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/TheSubmissionDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/api-mock/submission.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/submission.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix import path
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Labels: frontend (teacher)

fix(web/teacher): fix small
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/types/props/shift.ts
Labels: frontend (teacher)

fix(web/teacher): fix lint
  web/teacher/src/pages/shifts/_id.vue
Labels: frontend (teacher)

fix(web/teacher): fix lint
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/types/props/shift.ts
Labels: frontend (teacher)

feat(web/teacher): implement submit teacher shifts api client (#195)
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/TheSubmissionDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/api-mock/submission.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/submission.test.ts
Labels: frontend (teacher), test

feat(web/teacher): implement create lesson page design
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/templates/MbShiftDetail.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Labels: frontend (teacher)

fix(web/teacher): fix small
  web/teacher/src/components/templates/PcShiftDetail.vue
Labels: frontend (teacher)

fix(web/teacher): fix create shift dialog
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
Labels: frontend (teacher)

fix(gateway): fix lesson total fields
  api/internal/gateway/entity/lesson.go
  api/internal/gateway/entity/lesson_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Labels: backend (gateway), test

feat(web/teacher): implement create lesson page design (#196)
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/templates/MbShiftDetail.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Labels: frontend (teacher)

fix(web/teacher): fix create shift dialog (#197)
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
Labels: frontend (teacher)

fix(gateway): fix lesson total fields (#198)
  api/internal/gateway/entity/lesson.go
  api/internal/gateway/entity/lesson_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Labels: backend (gateway), test

fix(web/teacher): split components in create lessons page
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheShiftTeacherTable.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
Labels: frontend (teacher)

fix(web/teacher): split components in create lessons page (#199)
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheShiftTeacherTable.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
Labels: frontend (teacher)

feat(user-api): add DeleteStudent validator
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
Labels: backend (user), test

chore: make mockgen
  api/mock/user/validation/validator.go
Labels: backend (user)

feat(user-api): add DeleteStudent api
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
Labels: backend (user), test

feat(gateway): implement list enabled teacher shifts api
  api/internal/gateway/teacher/v1/entity/teacher_shift.go
  api/internal/gateway/teacher/v1/entity/teacher_shift_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/teachers/_teacherId.yaml
  web/teacher/src/components/organisms/TheSubmissionList.vue
Labels: frontend (teacher), backend (gateway), docs, test

fix(gateway): fix test code
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
Labels: backend (gateway), test

feat(gateway): implement list enabled teacher shifts api (#201)
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_shift.go
  api/internal/gateway/teacher/v1/entity/teacher_shift_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/teachers/_teacherId.yaml
  web/teacher/src/components/organisms/TheSubmissionList.vue
Labels: frontend (teacher), backend (gateway), docs, test

feat(gateway): implement list enabled student shifts api
  api/internal/gateway/teacher/v1/entity/student_shift.go
  api/internal/gateway/teacher/v1/entity/student_shift_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/student_shift_test.go
  api/internal/gateway/teacher/v1/response/submission.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/students/_studentId.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement list enabled student shifts api (#202)
  api/internal/gateway/teacher/v1/entity/student_shift.go
  api/internal/gateway/teacher/v1/entity/student_shift_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/student_shift_test.go
  api/internal/gateway/teacher/v1/response/submission.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/students/_studentId.yaml
Labels: backend (gateway), docs, test

feat(lesson-api): implement list lessons api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

chore: make mockgen
  api/mock/user/validation/validator.go
Labels: backend (user)

feat(user-api): add DeleteStudent validator
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
Labels: backend (user), test

feat(user-api): add DeleteStudent api
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
Labels: backend (user), test
