Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

Refactor: refactored shs-web -> SHS WEB
  web/student/nuxt.config.js
  web/teacher/nuxt.config.js
Labels: frontend (student), frontend (teacher)

Add: added student submission list page (#289)
  web/student/nuxt.config.js
  web/student/src/components/templates/TheSubmissionTop.vue
  web/student/src/pages/submissions/index.vue
  web/student/src/plugins/store-accessor.ts
  web/student/src/store/submission.ts
  web/student/src/types/api/v1/index.ts
  web/student/src/types/api/v1/submission.ts
  web/student/src/types/store/common.ts
  web/student/src/types/store/index.ts
  web/student/src/types/store/submission.ts
  web/teacher/nuxt.config.js
Labels: frontend (student), frontend (teacher)

Add: added SHS WEB favicon
  web/student/nuxt.config.js
  web/student/src/static/2ndhomespace.ico
  web/teacher/nuxt.config.js
  web/teacher/src/static/2ndhomespace.ico
Labels: frontend (student), frontend (teacher)

Feature/favicon (#291)
  web/student/nuxt.config.js
  web/student/src/static/2ndhomespace.ico
  web/teacher/nuxt.config.js
  web/teacher/src/static/2ndhomespace.ico
Labels: frontend (student), frontend (teacher)

Add: added setting top page
  web/student/src/components/molecules/TheSettingUserFormItem.vue
  web/student/src/components/templates/TheSettingTop.vue
  web/student/src/pages/settings/index.vue
  web/student/src/types/props/setting.ts
Labels: frontend (student)

Add: added setting top page (#292)
  web/student/src/components/molecules/TheSettingUserFormItem.vue
  web/student/src/components/templates/TheSettingTop.vue
  web/student/src/pages/settings/index.vue
  web/student/src/types/props/setting.ts
Labels: frontend (student)

Add: added setting update password page
  web/student/src/pages/settings/password.vue
  web/student/src/store/auth.ts
  web/student/src/types/api/v1/auth.ts
  web/student/src/types/form/index.ts
  web/student/src/types/form/student.ts
  web/student/src/types/form/util.ts
Labels: frontend (student)

Add: added setting update password page (#293)
  web/student/src/pages/settings/password.vue
  web/student/src/store/auth.ts
  web/student/src/types/api/v1/auth.ts
  web/student/src/types/form/index.ts
  web/student/src/types/form/student.ts
  web/student/src/types/form/util.ts
Labels: frontend (student)

fix(web): fix axios config
  web/student/src/plugins/axios-accessor.ts
  web/teacher/src/plugins/axios-accessor.ts
Labels: frontend (student), frontend (teacher)

Add: added setting update mail page
  web/student/src/pages/settings/mail.vue
  web/student/src/store/auth.ts
  web/student/src/types/api/v1/auth.ts
  web/student/src/types/form/student.ts
Labels: frontend (student)

Add: added setting update mail page (#294)
  web/student/src/pages/settings/mail.vue
  web/student/src/store/auth.ts
  web/student/src/types/api/v1/auth.ts
  web/student/src/types/form/student.ts
Labels: frontend (student)

feat(api): update logger config
  api/pkg/log/logger.go
Labels: none

feat(api): update logger config (#295)
  api/pkg/log/logger.go
Labels: none

Fix: fixed layout
  web/teacher/src/components/organisms/TheHourSettingForm.vue
  web/teacher/src/components/organisms/TheShiftLessonList.vue
Labels: frontend (teacher)

Fix: fixed layout (#296)
  web/teacher/src/components/organisms/TheHourSettingForm.vue
  web/teacher/src/components/organisms/TheShiftLessonList.vue
Labels: frontend (teacher)

feat(infra): add load test scenarios
  load/.gitignore
  load/2022021001/index.js
  load/2022021001/package.json
  load/2022021001/yarn.lock
  load/README.md
Labels: none

fix(infra): fix k8s manifests for ingress
  infra/kubernetes/stg/default/common.ingress.yaml
Labels: none

fix(infra): fix k8s manifests for ingress (#297)
  infra/kubernetes/stg/default/common.ingress.yaml
Labels: none

feat(infra): add load test scenarios (#298)
  load/.gitignore
  load/2022021001/index.js
  load/2022021001/package.json
  load/2022021001/yarn.lock
  load/README.md
Labels: none

feat(gateway): subjects sort by color code
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
Labels: backend (gateway), test

feat(gateway): subjects sort by color code or school type
  api/internal/gateway/student/v1/entity/subject.go
  api/internal/gateway/student/v1/entity/subject_test.go
Labels: backend (gateway), test

Add: added submission list parameter
  web/student/src/pages/submissions/_id.vue
  web/student/src/store/submission.ts
  web/student/src/types/api/v1/submission.ts
  web/student/src/types/store/submission.ts
Labels: frontend (student)

fix(gateway): lessons sort by start at
  api/internal/gateway/student/v1/entity/lesson.go
  api/internal/gateway/student/v1/entity/lesson_test.go
  api/internal/gateway/teacher/v1/entity/lesson.go
  api/internal/gateway/teacher/v1/entity/lesson_test.go
Labels: backend (gateway), test

feat(gateway): subjects sort by color code (#299)
  api/internal/gateway/student/v1/entity/subject.go
  api/internal/gateway/student/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
Labels: backend (gateway), test

fix(gateway): lessons sort by start at (#300)
  api/internal/gateway/student/v1/entity/lesson.go
  api/internal/gateway/student/v1/entity/lesson_test.go
  api/internal/gateway/teacher/v1/entity/lesson.go
  api/internal/gateway/teacher/v1/entity/lesson_test.go
Labels: backend (gateway), test

feat: 生徒側の授業希望のカスタム設定画面のUIを作成
  web/student/src/pages/settings/class.vue
Labels: frontend (student)

Add: added submission index page
  web/student/src/pages/submissions/_id.vue
  web/student/src/store/submission.ts
  web/student/src/types/api/v1/submission.ts
Labels: frontend (student)

feat(web/student): implement top page
  web/student/.eslintrc.js
  web/student/src/components/organisms/TheCalendarBody.vue
  web/student/src/components/organisms/TheCalendarDetail.vue
  web/student/src/components/organisms/TheCalendarHeader.vue
  web/student/src/components/templates/TheTop.vue
  web/student/src/lib/convert.ts
  web/student/src/lib/index.ts
  web/student/src/pages/index.vue
  web/student/src/store/auth.ts
  web/student/src/store/lesson.ts
  web/student/src/types/api/v1/auth.ts
  web/student/src/types/api/v1/index.ts
  web/student/src/types/api/v1/lesson.ts
  web/student/src/types/props/calendar.ts
  web/student/src/types/store/auth.ts
  web/student/src/types/store/common.ts
  web/student/src/types/store/index.ts
  web/student/src/types/store/lesson.ts
Labels: frontend (student)

fix(web/student): fix small
  web/student/test/helpers/api-mock/auth.ts
  web/student/test/store/auth.test.ts
Labels: frontend (student), test

fix(web/student): fix lint
  web/student/test/store/auth.test.ts
Labels: frontend (student), test

fix(web/student): fix lint
  web/student/src/plugins/store-accessor.ts
Labels: frontend (student)

feat(web/student): implement top page (#302)
  web/student/.eslintrc.js
  web/student/src/components/organisms/TheCalendarBody.vue
  web/student/src/components/organisms/TheCalendarDetail.vue
  web/student/src/components/organisms/TheCalendarHeader.vue
  web/student/src/components/templates/TheTop.vue
  web/student/src/lib/convert.ts
  web/student/src/lib/index.ts
  web/student/src/pages/index.vue
  web/student/src/plugins/store-accessor.ts
  web/student/src/store/auth.ts
  web/student/src/store/lesson.ts
  web/student/src/types/api/v1/auth.ts
  web/student/src/types/api/v1/index.ts
  web/student/src/types/api/v1/lesson.ts
  web/student/src/types/props/calendar.ts
  web/student/src/types/store/auth.ts
  web/student/src/types/store/common.ts
  web/student/src/types/store/index.ts
  web/student/src/types/store/lesson.ts
  web/student/test/helpers/api-mock/auth.ts
  web/student/test/store/auth.test.ts
Labels: frontend (student), test

fix(gateway): fix list lessons api
  api/internal/gateway/student/v1/handler/lesson.go
  api/internal/gateway/student/v1/handler/lesson_test.go
Labels: backend (gateway), test

fix(messenger-api): fix context
  api/internal/messenger/cmd/notifier/exec.go
Labels: backend (messenger)

Add: added student submission list
  web/student/src/components/organisms/TheSubmissionList.vue
  web/student/src/components/templates/TheSubmissionDetail.vue
  web/student/src/pages/submissions/_id.vue
Labels: frontend (student)

fix(messenger-api): fix pubsub
  api/pkg/pubsub/puller.go
Labels: none

feat(api): add log message
  api/pkg/log/logger.go
Labels: none

Revert "feat(api): add log message"
  api/pkg/log/logger.go
Labels: none

fix(messenger-api): fix execute notifier commands
  api/internal/messenger/cmd/notifier/exec.go
  api/internal/messenger/cmd/notifier/registry.go
  api/internal/messenger/notifier/notifier.go
  api/internal/messenger/notifier/notifier_test.go
  api/pkg/pubsub/client.go
  api/pkg/pubsub/puller.go
Labels: backend (messenger), test

fix(messenger-api): fix execute notifier commands (#305)
  api/internal/messenger/cmd/notifier/exec.go
  api/internal/messenger/cmd/notifier/registry.go
  api/internal/messenger/notifier/notifier.go
  api/internal/messenger/notifier/notifier_test.go
  api/pkg/pubsub/client.go
  api/pkg/pubsub/puller.go
Labels: backend (messenger), test
