Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

feat(web/teacher): implement menu component (#1)
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/components/organisms/TheMenu.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/types/props/menu.ts
  web/teacher/test/components/organisms/TheHeader.test.ts
  web/teacher/test/components/organisms/TheMenu.test.ts
Labels: frontend (teacher), test

feat: implement schedule detail dialog (#2)
  web/teacher/src/components/organisms/TheCalendarBody.vue
  web/teacher/src/components/organisms/TheCalendarDetail.vue
  web/teacher/src/components/organisms/TheCalendarHeader.vue
  web/teacher/src/components/templates/Top.vue
  web/teacher/src/pages/index.vue
  web/teacher/src/plugins/dayjs.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/types/props/calendar.ts
  web/teacher/test/components/organisms/TheCalendarBody.test.ts
  web/teacher/test/components/organisms/TheCalendarDetail.test.ts
  web/teacher/test/components/templates/Top.test.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

fix(web/teacher): add parse datetime format
  web/teacher/src/components/organisms/TheCalendarBody.vue
  web/teacher/test/components/organisms/TheCalendarBody.test.ts
Labels: frontend (teacher), test

fix: test
  web/teacher/test/components/organisms/TheCalendarBody.test.ts
Labels: frontend (teacher), test

fix(web/teacher): add parse datetime format (#3)
  web/teacher/src/components/organisms/TheCalendarBody.vue
  web/teacher/test/components/organisms/TheCalendarBody.test.ts
Labels: frontend (teacher), test

feat(web/teacher): implement shift top page when use smartphone
  web/teacher/src/components/templates/ShiftTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/static/error-404.png
  web/teacher/src/static/error-500.png
  web/teacher/src/static/exception.png
  web/teacher/test/components/templates/ShiftTop.test.ts
Labels: frontend (teacher), test

feat(web/teacher): implement shift top page when use smartphone (#4)
  web/teacher/src/components/templates/ShiftTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/static/error-404.png
  web/teacher/src/static/error-500.png
  web/teacher/src/static/exception.png
  web/teacher/test/components/templates/ShiftTop.test.ts
Labels: frontend (teacher), test

feat(web/teacher): implement setting top page
  web/teacher/nuxt.config.js
  web/teacher/src/components/templates/SettingTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/types/props/setting.ts
  web/teacher/test/components/organisms/TheCalendarBody.test.ts
  web/teacher/test/components/templates/SettingTop.test.ts
  web/teacher/test/helpers/setup.ts
Labels: frontend (teacher), test

fix: workflow
  .github/workflows/ci-frontend-for-all.yaml
Labels: workflow

feat(web/teacher): implement setting top page (#5)
  .github/workflows/ci-frontend-for-all.yaml
  web/teacher/nuxt.config.js
  web/teacher/src/components/templates/SettingTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/types/props/setting.ts
  web/teacher/test/components/organisms/TheCalendarBody.test.ts
  web/teacher/test/components/templates/SettingTop.test.ts
  web/teacher/test/helpers/setup.ts
Labels: frontend (teacher), test, workflow

refactor(web/teacher): changing component name
  web/teacher/src/components/templates/MbShiftTop.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/components/templates/TheSignIn.vue
  web/teacher/src/components/templates/TheTop.vue
  web/teacher/src/pages/index.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/pages/signin.vue
  web/teacher/test/components/templates/MbShiftTop.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/components/templates/TheSettingTop.test.ts
  web/teacher/test/components/templates/TheSignIn.test.ts
  web/teacher/test/components/templates/TheTop.test.ts
Labels: frontend (teacher), test

refactor(web/teacher): changing component name (#6)
  web/teacher/src/components/templates/MbShiftTop.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/components/templates/TheSignIn.vue
  web/teacher/src/components/templates/TheTop.vue
  web/teacher/src/pages/index.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/pages/signin.vue
  web/teacher/test/components/templates/MbShiftTop.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/components/templates/TheSettingTop.test.ts
  web/teacher/test/components/templates/TheSignIn.test.ts
  web/teacher/test/components/templates/TheTop.test.ts
Labels: frontend (teacher), test

feat(web/teacher): implement user list design
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/organisms/TheTeacherList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/props/user.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

feat(web/teacher): implement user list design (#7)
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/organisms/TheTeacherList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/props/user.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

refactor(web/teacher): error page html tag
  web/teacher/src/layouts/error.vue
Labels: frontend (teacher)

refactor(web/teacher): error page html tag (#8)
  web/teacher/src/layouts/error.vue
Labels: frontend (teacher)

feat(web/teacher): implement not found error page
  web/teacher/src/layouts/error.vue
Labels: frontend (teacher)

feat(web/teacher): implement not found error page (#9)
  web/teacher/src/layouts/error.vue
Labels: frontend (teacher)

feat(web/teacher): changing user store
  web/teacher/src/pages/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix small
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
Labels: frontend (teacher), test

feat(web/teacher): changing user store (#10)
  web/teacher/src/pages/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

feat(infra): setup mysql container
  .env.temp
  .github/workflows/ci-backend-for-all.yaml
  Makefile
  docker-compose.ci.yaml
  docker-compose.yaml
  infra/docker/infra/mysql/Dockerfile
  infra/mysql/development.cnf
  infra/mysql/schema/2021120901-setup.sql
  infra/mysql/schema/2021120902-users-create-table-teacher.sql
  infra/mysql/test.ci.cnf
  infra/mysql/test.cnf
Labels: infra (docker), workflow

fix: typo
  docker-compose.ci.yaml
Labels: none

feat(infra): setup mysql container (#11)
  .env.temp
  .github/workflows/ci-backend-for-all.yaml
  Makefile
  docker-compose.ci.yaml
  docker-compose.yaml
  infra/docker/infra/mysql/Dockerfile
  infra/mysql/development.cnf
  infra/mysql/schema/2021120901-setup.sql
  infra/mysql/schema/2021120902-users-create-table-teacher.sql
  infra/mysql/test.ci.cnf
  infra/mysql/test.cnf
Labels: infra (docker), workflow

fix(infra): update docker-compose.yaml for m1 mac
  docker-compose.yaml
Labels: none

fix(infra): update docker-compose.yaml for m1 mac (#12)
  docker-compose.yaml
Labels: none

feat(gateway): implement create teacher api mock
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/teacher.go
  api/internal/gateway/teacher/v1/response/teacher.go
  docs/swagger/teacher/paths/v1/teachers.index.yaml
Labels: backend (gateway), docs, test

task: Makefileのタスクにpsを追加
  Makefile
Labels: none

settings: フロントの開発をvscodeで行うために必要な設定ファイルを追加
  vetur.config.js
Labels: none

feat: add create students table query
  infra/mysql/schema/2021120903-users-create-table-students.sql
Labels: none

fix(infra): update docker-compose.yaml for m1 mac (#12)
  api/config/user/server/config.go
  api/go.mod
  api/go.sum
  api/internal/user/api/api.go
  api/internal/user/api/api_test.go
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/cmd/server/exec.go
  api/internal/user/cmd/server/registy.go
  api/internal/user/database/database.go
  api/internal/user/database/database_test.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/entity/teacher.go
  api/internal/user/entity/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/pkg/database/client.go
  api/pkg/database/client_test.go
  api/pkg/jst/jst_test.go
  api/pkg/uuid/uuid.go
  api/pkg/uuid/uuid_test.go
  api/proto/user/common.proto
  api/proto/user/service.proto
  api/proto/user/teacher.proto
  docker-compose.yaml
  infra/mysql/schema/2021120902-users-create-table-teachers.sql
  infra/mysql/schema/2021121101-users-alter-table-teachers.sql
Labels: backend (user), test

feat(gateway): implement create teacher api mock (#13)
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/teacher.go
  api/internal/gateway/teacher/v1/response/teacher.go
  docs/swagger/teacher/paths/v1/teachers.index.yaml
Labels: backend (gateway), docs, test

fix(user-api): fix small
  api/internal/user/database/teacher.go
Labels: backend (user)

fix(user-api): implement create teacher api (#15)
  api/config/user/server/config.go
  api/go.mod
  api/go.sum
  api/internal/user/api/api.go
  api/internal/user/api/api_test.go
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/cmd/server/exec.go
  api/internal/user/cmd/server/registy.go
  api/internal/user/database/database.go
  api/internal/user/database/database_test.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/entity/teacher.go
  api/internal/user/entity/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/pkg/database/client.go
  api/pkg/database/client_test.go
  api/pkg/jst/jst_test.go
  api/pkg/uuid/uuid.go
  api/pkg/uuid/uuid_test.go
  api/proto/user/common.proto
  api/proto/user/service.proto
  api/proto/user/teacher.proto
  docker-compose.yaml
  infra/mysql/schema/2021120902-users-create-table-teachers.sql
  infra/mysql/schema/2021121101-users-alter-table-teachers.sql
Labels: backend (user), test

chore(*): add pr reviewers
  .github/reviewer.yaml
Labels: workflow

feat(user-api): implement list teachers api
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/entity/teacher.go
  api/internal/user/entity/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user), test

feat(user-api): implement list teachers api (#17)
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/entity/teacher.go
  api/internal/user/entity/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user), test

feat(user-api): implement get teacher api
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/pkg/database/client.go
  api/pkg/jst/jst.go
  api/proto/user/service.proto
Labels: backend (user), test

fix(user-api): fix small
  api/pkg/database/client_test.go
Labels: test

chore(teacher-web): add .node-version
  web/teacher/.node-version
Labels: frontend (teacher)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
