Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

docs(swagger): update teacher api docs
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
  docs/swagger/teacher/components/schemas/v1/user.request.yaml
  docs/swagger/teacher/components/schemas/v1/user.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/auth.index.yaml
  docs/swagger/teacher/paths/v1/teachers.id.yaml
  docs/swagger/teacher/paths/v1/teachers.index.yaml
Labels: docs

docs(swagger): update teacher api docs (#19)
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
  docs/swagger/teacher/components/schemas/v1/user.request.yaml
  docs/swagger/teacher/components/schemas/v1/user.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/auth.index.yaml
  docs/swagger/teacher/paths/v1/teachers.id.yaml
  docs/swagger/teacher/paths/v1/teachers.index.yaml
Labels: docs

chore(*): add pr reviewers (#16)
  .github/reviewer.yaml
Labels: workflow

feat(infra): update docker-compose
  Makefile
Labels: none

feat(infra): update docker-compose (#20)
  Makefile
Labels: none

feat(gateway): add get auth api mock
  api/internal/gateway/cmd/teacher/router.go
  api/internal/gateway/teacher/v1/entity/auth.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/response/auth.go
  api/internal/gateway/util/metadata.go
  api/internal/gateway/util/metadata_test.go
Labels: backend (gateway), test

feat(user-api): implement get teacher api (#18)
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/pkg/database/client.go
  api/pkg/database/client_test.go
  api/pkg/jst/jst.go
  api/proto/user/service.proto
Labels: backend (user), test

fix(gateway): fix lint
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
Labels: backend (gateway), test

feat(gateway): add get auth api mock (#21)
  api/internal/gateway/cmd/teacher/router.go
  api/internal/gateway/teacher/v1/entity/auth.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/response/auth.go
  api/internal/gateway/util/metadata.go
  api/internal/gateway/util/metadata_test.go
Labels: backend (gateway), test

VSCodeの開発環境向けのファイルを用意 (#14)
  Makefile
  vetur.config.js
Labels: none

feat: スマホレイアウトにした際に右側に余白ができる問題への対応
  web/teacher/src/layouts/default.vue
Labels: frontend (teacher)

feat(gateway): implement get auth api
  api/internal/gateway/entity/teacher.go
  api/internal/gateway/entity/teacher_test.go
  api/internal/gateway/teacher/v1/entity/auth.go
  api/internal/gateway/teacher/v1/entity/auth_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/hello_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
Labels: backend (gateway), test

feat(gateway): implement get auth api (#23)
  api/internal/gateway/entity/teacher.go
  api/internal/gateway/entity/teacher_test.go
  api/internal/gateway/teacher/v1/entity/auth.go
  api/internal/gateway/teacher/v1/entity/auth_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/hello_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
Labels: backend (gateway), test

feat(gateway): implement get teacher api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
Labels: backend (gateway), test

fix: add PRYMARY KEY
  infra/mysql/schema/2021121102-users-alter-table-students.sql
Labels: none

feat(gateway): implement get teacher api (#24)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
Labels: backend (gateway), test

feat(gateway): implement create teacher api
  api/internal/gateway/entity/teacher.go
  api/internal/gateway/entity/teacher_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
Labels: backend (gateway), test

feat(gateway): implement create teacher api (#26)
  api/internal/gateway/entity/teacher.go
  api/internal/gateway/entity/teacher_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
Labels: backend (gateway), test

refactor(api): remove unnesessary codes
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/hello.go
  api/internal/gateway/teacher/v1/handler/hello_test.go
  api/internal/gateway/teacher/v1/request/hello.go
  api/internal/gateway/teacher/v1/response/hello.go
  api/internal/user/api/hello.go
  api/internal/user/api/hello_test.go
  api/internal/user/validation/hello.go
  api/internal/user/validation/hello_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (gateway), backend (user), test

fix(gateway): fix authorization middleware
  api/internal/gateway/cmd/teacher/router.go
  api/internal/gateway/teacher/v1/handler/api.go
Labels: backend (gateway)

docs(swagger): fix get auth api path
  docs/swagger/teacher/openapi.yaml
Labels: docs

refactor(api): remove unnesessary codes (#27)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/hello.go
  api/internal/gateway/teacher/v1/handler/hello_test.go
  api/internal/gateway/teacher/v1/request/hello.go
  api/internal/gateway/teacher/v1/response/hello.go
  api/internal/user/api/hello.go
  api/internal/user/api/hello_test.go
  api/internal/user/validation/hello.go
  api/internal/user/validation/hello_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (gateway), backend (user), test

docs(swagger): fix get auth api path (#29)
  docs/swagger/teacher/openapi.yaml
Labels: docs

fix(gateway): fix authorization middleware (#28)
  api/internal/gateway/cmd/teacher/router.go
  api/internal/gateway/teacher/v1/handler/api.go
Labels: backend (gateway)

fix: add PRYMARY KEY (#25)
  infra/mysql/schema/2021121102-users-alter-table-students.sql
Labels: none

feat: add student entity
  api/proto/user/student.proto
Labels: backend (user)

fix: birth_year int
  api/proto/user/student.proto
Labels: backend (user)

fix(mysql): fix typo
  infra/mysql/schema/2021121102-users-alter-table-students.sql
Labels: none

fix(mysql): fix typo (#32)
  infra/mysql/schema/2021121102-users-alter-table-students.sql
Labels: none

feat(gateway): implement list teachers api
  api/internal/gateway/entity/teacher.go
  api/internal/gateway/entity/teacher_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/response/teacher.go
Labels: backend (gateway), test

style: format space and change birth_year type
  api/proto/user/student.proto
Labels: backend (user)

add request and response proto
  api/proto/user/service.proto
Labels: backend (user)

feat(gateway): implement list teachers api (#31)
  api/internal/gateway/entity/teacher.go
  api/internal/gateway/entity/teacher_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/response/teacher.go
Labels: backend (gateway), test

fix(gateway): fix dependency injection in gateway
  api/Makefile
  api/config/gateway/teacher/config.go
  api/config/user/server/config.go
  api/internal/gateway/cmd/teacher/exec.go
  api/internal/gateway/cmd/teacher/registry.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/user/cmd/server/exec.go
  docker-compose.yaml
Labels: backend (gateway), backend (user)

fix(gateway): fix dependency injection in gateway (#33)
  api/Makefile
  api/config/gateway/teacher/config.go
  api/config/user/server/config.go
  api/internal/gateway/cmd/teacher/exec.go
  api/internal/gateway/cmd/teacher/registry.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/user/cmd/server/exec.go
  docker-compose.yaml
Labels: backend (gateway), backend (user)

fix: CI error
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: backend (user)

fix: CI error by installing golang local
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
Labels: backend (user)

fix: make mockgen
  api/mock/proto/user/service_grpc.pb.go.go
Labels: backend (user)

feat: add student proto (#30)
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
  api/proto/user/student.proto
Labels: backend (user)

feat(web/teacher): setup firebase authentication
  .env.temp
  docker-compose.yaml
  web/teacher/.env.temp
  web/teacher/nuxt.config.js
  web/teacher/package.json
  web/teacher/src/components/templates/TheSignIn.vue
  web/teacher/src/middleware/.keep
  web/teacher/src/middleware/authenticated.ts
  web/teacher/src/pages/signin.vue
  web/teacher/src/plugins/axios-accessor.ts
  web/teacher/src/plugins/firebase.ts
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/form/.keep
  web/teacher/src/types/form/auth.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/index.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/templates/TheSignIn.test.ts
  web/teacher/test/helpers/api-mock/auth.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/user.test.ts
  web/teacher/yarn.lock
Labels: frontend (teacher), test
