Repository calmato/shs-web, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (shared), frontend (student), frontend (teacher), backend (classroom), backend (gateway), backend (lesson), backend (messenger), backend (user), backend (workbook), infra (docker), infra (functions), infra (terraform), docs, test, workflow

style: Linterの警告に従ってtypeを追加
  web/teacher/src/components/atoms/TheSelect.vue
Labels: frontend (teacher)

feat: Selectコンポーネントにchipsプロパティの追加
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/test/components/atoms/TheSelect.test.ts
Labels: frontend (teacher), test

add GetStudent API
  api/internal/user/api/api_test.go
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
Labels: backend (user), test

feat(lesson-api): implement list shift summaries api
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat: TheSelectコンポーネントにappendOuterIconプロパティを追加
  web/teacher/src/components/atoms/TheSelect.vue
Labels: frontend (teacher)

test: appendOuterIconのテストケースを追加
  web/teacher/test/components/atoms/TheSelect.test.ts
Labels: frontend (teacher), test

feat(user-api): GetStudent usecase (#91)
  api/internal/user/api/api_test.go
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/user/validation/validator.go
Labels: backend (user), test

feat(lesson-api): implement list shift summaries api (#98)
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(hack): update database seeds command (#94)
  api/hack/database-seeds/main.go
Labels: none

feat(gateway): changing create shifts response
  api/internal/gateway/teacher/v1/entity/shift.go
  api/internal/gateway/teacher/v1/entity/shift_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

feat(gateway): changing create shifts response (#99)
  api/internal/gateway/teacher/v1/entity/shift.go
  api/internal/gateway/teacher/v1/entity/shift_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: backend (gateway), docs, test

Add: added test code
  web/teacher/src/components/templates/TheSubmission.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/types/store/submission.ts
Labels: frontend (teacher)

add request and response proto
  api/proto/user/service.proto
Labels: backend (user)

Add: added submission page (#77)
  web/teacher/src/components/templates/TheSubmission.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/types/props/submission.ts
  web/teacher/src/types/store/submission.ts
Labels: frontend (teacher)

make mockgen
  api/mock/proto/user/service_grpc.pb.go.go
Labels: backend (user)

feat(gateway): implement list shift summaries api
  api/internal/gateway/teacher/v1/entity/shift_summary.go
  api/internal/gateway/teacher/v1/entity/shift_summary_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/index.yaml
Labels: backend (gateway), docs, test

fix(gateway): fix lint
  api/internal/gateway/teacher/v1/entity/shift_summary.go
Labels: backend (gateway)

style: change response proto
  api/proto/user/service.proto
  api/proto/user/student.proto
Labels: backend (user)

add request and response proto (#100)
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
  api/proto/user/student.proto
Labels: backend (user)

feat(hack): create database migrate command
  api/hack/database-migrate/main.go
  api/hack/database-seeds/main.go
  infra/mysql/schema/2021120902-users-create-table-teachers.sql
  infra/mysql/schema/2021121801-classrooms-create-table-subjects.sql
  infra/mysql/schema/2021122501-lessons-create-database.sql
Labels: none

fix(hack): fix small
  infra/mysql/schema/2021120902-users-create-table-teachers.sql
Labels: none

fix(hack): fix lint
  api/hack/database-migrate/main.go
Labels: none

feat(hack): create database migrate command (#103)
  api/hack/database-migrate/main.go
  api/hack/database-seeds/main.go
  infra/mysql/schema/2021120902-users-create-table-teachers.sql
  infra/mysql/schema/2021121801-classrooms-create-table-subjects.sql
  infra/mysql/schema/2021122501-lessons-create-database.sql
Labels: none

feat(gateway): implement list shift summaries api (#102)
  api/internal/gateway/teacher/v1/entity/shift_summary.go
  api/internal/gateway/teacher/v1/entity/shift_summary_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/index.yaml
Labels: backend (gateway), docs, test

feat(infra): setup database migrate container
  Makefile
  bin/database-migrate.sh
  docker-compose.yaml
  infra/docker/api/hack/Dockerfile
Labels: infra (docker)

feat(infra): setup database migrate container (#104)
  Makefile
  bin/database-migrate.sh
  docker-compose.yaml
  infra/docker/api/hack/Dockerfile
Labels: infra (docker)

feat(lesson-api): implement list shifts api
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(lesson-api): implement list shifts api (#106)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(lesson-api): implement get shift summary api
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(lesson-api): implement get shift summary api (#107)
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: backend (lesson), test

feat(gateway): implement list shifts api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId.yaml
Labels: backend (gateway), docs, test

feat(gateway): implement list shifts api (#108)
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId.yaml
Labels: backend (gateway), docs, test

fix(infra): update makefile
  Makefile
Labels: none

feat(web/teacher): implement shift top page when use desktop
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/index.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/organisms/TheShiftTopCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix lint
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/test/helpers/api-mock/shift.ts
Labels: frontend (teacher)

feat(web/teacher): implement shift top page when use desktop (#110)
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/index.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/organisms/TheShiftTopCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

Add: added submission edit page
  web/teacher/src/components/templates/TheSubmission.vue
  web/teacher/src/components/templates/TheSubmissionEdit.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/pages/submissions/teachers/edit.vue
Labels: frontend (teacher)

feat(web/teacher): implement create shifts
  web/teacher/src/components/atoms/TheTextField.vue
  web/teacher/src/components/molecules/.keep
  web/teacher/src/components/molecules/TheDatePicker.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/plugins/vee-validate.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/shift.ts
  web/teacher/src/types/form/util.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/molecules/.keep
  web/teacher/test/components/molecules/TheDatePicker.test.ts
  web/teacher/test/components/organisms/TheShiftNewCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

fix(web/teacher): fix lint
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/plugins/vee-validate.ts
Labels: frontend (teacher)

fix(web/teacher): fix small
  web/teacher/src/pages/shifts/index.vue
Labels: frontend (teacher)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (shared):
- web/shared/**/*
frontend (student):
- web/student/**/*
frontend (teacher):
- web/teacher/**/*

##################################################
# Backend
##################################################
backend (classroom):
- api/**/classroom/**/*
backend (gateway):
- api/**/gateway/**/*
backend (lesson):
- api/**/lesson/**/*
backend (messenger):
- api/**/messenger/**/*
backend (user):
- api/**/user/**/*
backend (workbook):
- api/**/workbook/**/*

##################################################
# Infrastructure
##################################################
infra (docker):
- infra/docker/**/*
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
