Repository calmato/shs-web, pull requests merged in 2021-12, with the labels that each got.

#17 feat(user-api): implement list teachers api
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/entity/teacher.go
  api/internal/user/entity/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: test, backend (user)

#19 docs(swagger): update teacher api docs
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
  docs/swagger/teacher/components/schemas/v1/user.request.yaml
  docs/swagger/teacher/components/schemas/v1/user.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/auth.index.yaml
  docs/swagger/teacher/paths/v1/teachers.id.yaml
  docs/swagger/teacher/paths/v1/teachers.index.yaml
Labels: docs

#16 chore(*): add pr reviewers
  .github/reviewer.yaml
Labels: workflow

#18 feat(user-api): implement get teacher api
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/pkg/database/client.go
  api/pkg/database/client_test.go
  api/pkg/jst/jst.go
  api/proto/user/service.proto
Labels: test, backend (user), mergeable

#14 VSCodeの開発環境向けのファイルを用意
  Makefile
  vetur.config.js
Labels: frontend (teacher), frontend (student), frontend (shared), mergeable

#23 feat(gateway): implement get auth api
  api/internal/gateway/entity/teacher.go
  api/internal/gateway/entity/teacher_test.go
  api/internal/gateway/teacher/v1/entity/auth.go
  api/internal/gateway/teacher/v1/entity/auth_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/hello_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
Labels: test, backend (gateway)

#24 feat(gateway): implement get teacher api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
Labels: test, backend (gateway)

#26 feat(gateway): implement create teacher api
  api/internal/gateway/entity/teacher.go
  api/internal/gateway/entity/teacher_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
Labels: test, backend (gateway)

#27 refactor(api): remove unnesessary codes
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/hello.go
  api/internal/gateway/teacher/v1/handler/hello_test.go
  api/internal/gateway/teacher/v1/request/hello.go
  api/internal/gateway/teacher/v1/response/hello.go
  api/internal/user/api/hello.go
  api/internal/user/api/hello_test.go
  api/internal/user/validation/hello.go
  api/internal/user/validation/hello_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: test, backend (gateway), backend (user)

#29 docs(swagger): fix get auth api path
  docs/swagger/teacher/openapi.yaml
Labels: docs

#28 fix(gateway): fix authorization middleware
  api/internal/gateway/cmd/teacher/router.go
  api/internal/gateway/teacher/v1/handler/api.go
Labels: backend (gateway)

#25 fix: add PRYMARY KEY
  infra/mysql/schema/2021121102-users-alter-table-students.sql
Labels: mergeable

#32 fix(mysql): fix typo
  infra/mysql/schema/2021121102-users-alter-table-students.sql
Labels: bugfix

#31 feat(gateway): implement list teachers api
  api/internal/gateway/entity/teacher.go
  api/internal/gateway/entity/teacher_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/response/teacher.go
Labels: test, backend (gateway)

#33 fix(*): fix dependency injection in gateway
  api/Makefile
  api/config/gateway/teacher/config.go
  api/config/user/server/config.go
  api/internal/gateway/cmd/teacher/exec.go
  api/internal/gateway/cmd/teacher/registry.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/user/cmd/server/exec.go
  docker-compose.yaml
Labels: bugfix, backend (gateway), backend (user)

#30 feat: add student proto
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
  api/proto/user/student.proto
Labels: backend (user), WIP, mergeable

#22 feat: スマホレイアウトにした際に右側に余白ができる問題への対応
  web/teacher/src/layouts/default.vue
Labels: bugfix, enhancement, frontend (teacher), mergeable

#35 fix(workflow): fix coverage flags
  .codecov.yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

#39 feat(web/teacher): implement list teacher api client
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/store/common.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

#41 feat(web/teacher): adjust layout
  web/teacher/src/components/templates/MbShiftTop.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/components/templates/TheSignIn.vue
  web/teacher/src/components/templates/TheTop.vue
  web/teacher/src/components/templates/TheUserTop.vue
Labels: frontend (teacher)

#42 feat(user-api): add total field in list teachers response
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/response/teacher.go
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/mock/user/database/database.go
  api/proto/user/service.proto
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
Labels: test, docs, backend (gateway), backend (user)

#44 feat(web/teacher): update list teachers page
  web/teacher/src/components/organisms/TheTeacherList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/props/user.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

#45 fix(web/teacher): fix field type
  web/teacher/src/components/templates/TheSignIn.vue
Labels: bugfix, frontend (teacher)

#46 feat(web/teacher): implement create teacher page
  web/teacher/nuxt.config.js
  web/teacher/package.json
  web/teacher/src/components/atoms/.keep
  web/teacher/src/components/atoms/TheFormGroup.vue
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/components/atoms/TheTextField.vue
  web/teacher/src/components/organisms/TheTeacherNewForm.vue
  web/teacher/src/components/templates/TheTeacherNew.vue
  web/teacher/src/pages/users/teachers/new.vue
  web/teacher/src/plugins/vee-validate.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/teacher.ts
  web/teacher/src/types/form/util.ts
  web/teacher/src/types/props/teacher.ts
  web/teacher/test/components/atoms/.keep
  web/teacher/test/components/atoms/TheFormGroup.test.ts
  web/teacher/test/components/atoms/TheSelect.test.ts
  web/teacher/test/components/atoms/TheTextField.test.ts
  web/teacher/test/components/organisms/TheTeacherNewForm.test.ts
  web/teacher/test/components/templates/TheTeacherNew.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/helpers/setup.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/user.test.ts
  web/teacher/tsconfig.json
  web/teacher/yarn.lock
Labels: frontend (teacher), test

#47 fix(web/teacher): fix lesson mock
  web/teacher/src/pages/index.vue
Labels: frontend (teacher)

#48 feat(web/teacher): add new teacher page link
  web/teacher/src/components/atoms/TheAlert.vue
  web/teacher/src/components/organisms/TheSnackbar.vue
  web/teacher/src/components/templates/TheSignIn.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/constants/exception.ts
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/signin.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/pages/users/teachers/new.vue
  web/teacher/src/store/common.ts
  web/teacher/src/types/props/snackbar.ts
  web/teacher/src/types/store/common.ts
  web/teacher/test/components/atoms/TheAlert.test.ts
  web/teacher/test/components/organisms/TheSnackbar.test.ts
  web/teacher/test/components/templates/TheSignIn.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/common.test.ts
Labels: frontend (teacher), test

#49 feat(web/teacher): implament signout
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/user.ts
  web/teacher/test/store/auth.test.ts
Labels: frontend (teacher), test

#50 fix(user-api): fix count query
  api/internal/user/database/teacher.go
Labels: backend (user)

#51 feat(classroom-api): initialize classroom api
  .github/workflows/cd-api-classroom-for-main.yaml
  .github/workflows/ci-backend-for-all.yaml
  Makefile
  api/cmd/classroom/server/main.go
  api/config/classroom/server/config.go
  api/hack/database-seeds/main.go
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/cmd/server/exec.go
  api/internal/classroom/cmd/server/registry.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/database_test.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/validation/validator.go
  api/internal/classroom/validation/validator_test.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
  api/proto/classroom/subject.proto
  docker-compose.yaml
  infra/docker/api/classroom/server/Dockerfile
  infra/docker/api/classroom/server/Dockerfile.development
  infra/mysql/schema/2021121801-classrooms-create-table-subjects.sql
Labels: test, backend (classroom), workflow, infra (docker)

#54 feat(classroom-api): implement get subject api
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/validation/subject.go
  api/internal/classroom/validation/subject_test.go
  api/internal/classroom/validation/validator.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher_test.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
Labels: test, backend (classroom), backend (user)

#43 feat(user-api): setup student interface
  api/internal/user/api/api_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/mock/user/database/database.go
Labels: test, backend (user), mergeable

#56 fix(classroom-api): fix list subjects api
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/mock/classroom/database/database.go
  api/proto/classroom/service.proto
Labels: test, backend (classroom)

#57 feat(gateway): implement list subjects api
  api/config/gateway/teacher/config.go
  api/internal/gateway/cmd/teacher/exec.go
  api/internal/gateway/cmd/teacher/registry.go
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/api_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/response/subject.go
  api/mock/user/database/database.go
  docker-compose.yaml
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/subjects.index.yaml
Labels: test, docs, backend (gateway), backend (user)

#59 feat(classroom-api): add school type fields to subject
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/internal/user/validation/teacher_test.go
  api/mock/classroom/database/database.go
  api/proto/classroom/common.proto
  api/proto/classroom/service.proto
  api/proto/classroom/subject.proto
  infra/mysql/schema/2021121901-classrooms-add-column-to-subjects.sql
Labels: test, backend (classroom), backend (user)

#60 feat(gateway): add school type fields to subject
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
Labels: test, backend (gateway)

#53 feat(user-api):add student entity
  api/internal/gateway/entity/student.go
  api/internal/gateway/entity/student_test.go
Labels: test, backend (gateway), mergeable

#63 feat(gateway): add update my subjects api mock
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/me/index.yaml
  docs/swagger/teacher/paths/v1/me/subjects.yaml
  docs/swagger/teacher/paths/v1/subjects/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_id.yaml
  docs/swagger/teacher/paths/v1/teachers/index.yaml
Labels: test, docs, backend (gateway)

#58 feat: ログインをEnterキーでできるようにした
  web/teacher/src/components/templates/TheSignIn.vue
  web/teacher/test/components/templates/TheSignIn.test.ts
Labels: bugfix, enhancement, frontend (teacher), test, mergeable

#65 feat(classroom-api): implement get teacher subject api
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/entity/teacher_subject_test.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/pkg/set/set.go
  api/pkg/set/set_test.go
  api/proto/classroom/service.proto
  api/proto/classroom/teacher_subject.proto
  infra/mysql/schema/2021122102-classrooms-alter-table-teacher-subjects.sql
Labels: test, backend (classroom)

#67 feat(gateway): update get auth api
  Makefile
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/entity/teacher_subject_test.go
  api/internal/gateway/entity/teacher_subject.go
  api/internal/gateway/entity/teacher_subject_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/response/auth.go
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
Labels: test, docs, backend (gateway), backend (classroom)

#68 feat(web/teacher): add auth response field
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/test/helpers/api-mock/auth.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

#69 feat(classroom-api): implement update teacher subjects
  api/hack/database-seeds/main.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/entity/teacher_subject_test.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Labels: test, backend (classroom)

#70 feat(gateway): implement update my subjects
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  docs/swagger/teacher/paths/v1/me/subjects.yaml
Labels: test, docs, backend (gateway)

#71 refactor(classroom-api): remove update api response
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/proto/classroom/service.proto
Labels: test, backend (gateway), backend (classroom)

#74 feat(gateway): implement update email and password api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/me/mail.yaml
  docs/swagger/teacher/paths/v1/me/password.yaml
Labels: test, docs, backend (gateway)

#75 feat(gateway): add query path in list subjects api
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  docs/swagger/teacher/paths/v1/me/index.yaml
  docs/swagger/teacher/paths/v1/subjects/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_id.yaml
  docs/swagger/teacher/paths/v1/teachers/index.yaml
Labels: test, docs, backend (gateway)

#76 feat(classroom-api): implement list schedules api
  api/go.mod
  api/go.sum
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/schedule.go
  api/internal/classroom/api/schedule_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/schedule.go
  api/internal/classroom/database/schedule_test.go
  api/internal/classroom/entity/schedule.go
  api/internal/classroom/entity/schedule_test.go
  api/internal/classroom/entity/teacher_subject.go
  api/internal/classroom/validation/schedule.go
  api/internal/classroom/validation/schedule_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
  api/proto/classroom/schedule.proto
  api/proto/classroom/service.proto
  infra/mysql/schema/2021122401-classrooms-alter-table-schedules.sql
Labels: test, backend (classroom)

#66 chore(functions): update deps
  infra/functions/gcr-cleaner/go.mod
  infra/functions/gcr-cleaner/go.sum
Labels: infra (functions)

#79 feat(classroom-api): implement update schedules api
  api/internal/classroom/api/schedule.go
  api/internal/classroom/api/schedule_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/schedule.go
  api/internal/classroom/database/schedule_test.go
  api/internal/classroom/entity/schedule.go
  api/internal/classroom/entity/schedule_test.go
  api/internal/classroom/validation/schedule.go
  api/internal/classroom/validation/schedule_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Labels: test, backend (classroom)

#80 feat(gateway): implement schedule api
  api/internal/gateway/entity/schedule.go
  api/internal/gateway/entity/schedule_test.go
  api/internal/gateway/teacher/v1/entity/schedule.go
  api/internal/gateway/teacher/v1/entity/schedule_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/schedule.go
  api/internal/gateway/teacher/v1/handler/schedule_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  api/internal/gateway/teacher/v1/request/schedule.go
  api/internal/gateway/teacher/v1/request/teacher.go
  api/internal/gateway/teacher/v1/response/auth.go
  api/internal/gateway/teacher/v1/response/schedule.go
  docs/swagger/teacher/components/schemas/v1/auth.request.yaml
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.request.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.response.yaml
  docs/swagger/teacher/components/schemas/v1/subjects.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/schedules/index.yaml
Labels: test, docs, backend (gateway)

#81 feat(classroom-api): implement subject api
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/subject.go
  api/internal/classroom/database/subject_test.go
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
  api/internal/classroom/validation/subject.go
  api/internal/classroom/validation/subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Labels: test, backend (classroom)

#83 refactor(classroom-api): refactor upper case to color code
  api/internal/classroom/entity/subject.go
  api/internal/classroom/entity/subject_test.go
Labels: test, backend (classroom)

#85 feat(infra): update api container image for dev
  infra/docker/api/classroom/server/Dockerfile.development
  infra/docker/api/gateway/teacher/Dockerfile.development
  infra/docker/api/lesson/server/Dockerfile.development
  infra/docker/api/user/server/Dockerfile.development
  infra/docker/web/teacher/Dockerfile.development
Labels: infra (docker)

#78 chore: yarn.lockを再生成
  web/teacher/yarn.lock
Labels: frontend (teacher), mergeable

#87 feat(gateway): implement update teacher email and password api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/teacher.go
  docs/swagger/openapitools.json
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/subjects/_subjectId.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/index.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/mail.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/password.yaml
  docs/swagger/yarn.lock
Labels: test, docs, backend (gateway)

#92 feat(classroom-api): implement rooms api
  api/hack/database-seeds/main.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/room.go
  api/internal/classroom/api/room_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/room.go
  api/internal/classroom/database/room_test.go
  api/internal/classroom/entity/room.go
  api/internal/classroom/entity/room_test.go
  api/internal/classroom/validation/room.go
  api/internal/classroom/validation/room_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Labels: test, backend (classroom)

#95 feat(lesson-api): define shift entity
  api/internal/lesson/entity/shift.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/entity/shift_test.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
  api/proto/lesson/common.proto
  api/proto/lesson/shift.proto
  api/proto/lesson/shift_summary.proto
  infra/mysql/schema/2021122702-lessons-create-table-shifts.sql
Labels: test, backend (lesson)

#96 feat(lesson-api): implement create shits api
  api/config/lesson/server/config.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/cmd/server/exec.go
  api/internal/lesson/cmd/server/registry.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/database_test.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/entity/schedule.go
  api/internal/lesson/entity/schedule_test.go
  api/internal/lesson/entity/shift.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/entity/shift_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
  docker-compose.yaml
Labels: test, backend (lesson)

#91 feat(user-api): GetStudent usecase
  api/internal/user/api/api_test.go
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/user/validation/validator.go
Labels: test, backend (user), WIP, mergeable

#98 feat(lesson-api): implement list shift summaries api
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#77 Add: added submission page
  web/teacher/src/components/templates/TheSubmission.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/types/props/submission.ts
  web/teacher/src/types/store/submission.ts
Labels: frontend (teacher), mergeable

#100 add request and response proto
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
  api/proto/user/student.proto
Labels: backend (user), mergeable

#102 feat(gateway): implement list shift summaries api
  api/internal/gateway/teacher/v1/entity/shift_summary.go
  api/internal/gateway/teacher/v1/entity/shift_summary_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/index.yaml
Labels: test, docs, backend (gateway)

#104 feat(infra): setup database migrate container
  Makefile
  bin/database-migrate.sh
  docker-compose.yaml
  infra/docker/api/hack/Dockerfile
Labels: infra (docker)

#106 feat(lesson-api): implement list shifts api
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#107 feat(lesson-api): implement get shift summary api
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#108 feat(gateway): implement list shifts api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId.yaml
Labels: test, docs, backend (gateway)

#110 feat(web/teacher): implement shift top page when use desktop
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/plugins/store-accessor.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/index.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/organisms/TheShiftTopCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

#109 fix(infra): update makefile
  Makefile
Labels: mergeable

#112 feat(api): sort list shifts response
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift_test.go
  api/proto/lesson/service.proto
Labels: test, backend (gateway), backend (lesson)

#113 fix(*): add error handling when record already exists at create
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/database/database.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/database/database.go
  api/internal/user/database/database.go
Labels: test, backend (classroom), backend (lesson), backend (user)

#114 feat(lesson-api): implement update shift summary schedule
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#115 test(api): add test code
  api/internal/classroom/database/database_test.go
  api/internal/lesson/database/database_test.go
  api/internal/user/database/database_test.go
Labels: test, backend (classroom), backend (lesson), backend (user)

#117 feat(lesson-api): implement delete shift summary
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#116 feat(gateway): changing list shifts response
  api/internal/gateway/entity/shift.go
  api/internal/gateway/entity/shift_test.go
  api/internal/gateway/teacher/v1/entity/shift.go
  api/internal/gateway/teacher/v1/entity/shift_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/schedules.response.yaml
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: test, docs, backend (gateway)

#118 fix(web/teacher): fix shifts response
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

#120 feat(gateway): implement update shift summary api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/request/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/index.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/schedule.yaml
Labels: test, docs, backend (gateway)

#121 feat(web/teacher): implement update shifts
  web/teacher/src/pages/shifts/index.vue
  web/teacher/src/store/shift.ts
Labels: frontend (teacher)

#122 fix(lesson-api): fix fill status after shift created
  api/internal/lesson/api/shift.go
Labels: bugfix, backend (lesson)
