Repository calmato/shs-web, pull requests merged in 2022-01, with the labels that each got.

#123 docs(swagger): add rooms api
  docs/swagger/teacher/openapi.yaml
Labels: docs

#124 fix(*): fix upsert teacher subject
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/database/teacher_subject.go
  api/internal/classroom/database/teacher_subject_test.go
  api/internal/classroom/validation/teacher_subject.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/classroom/validation/validator.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
Labels: test, backend (gateway), backend (classroom)

#127 feat(api): add grpc error handling
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/user/api/api.go
  api/internal/user/api/api_test.go
Labels: test, backend (classroom), backend (lesson), backend (user)

#126 feat(lesson-api): implement upsert teacher shifts
  api/config/lesson/server/config.go
  api/internal/lesson/api/api.go
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/cmd/server/exec.go
  api/internal/lesson/cmd/server/registry.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/entity/shift.go
  api/internal/lesson/entity/shift_test.go
  api/internal/lesson/entity/teacher_shift.go
  api/internal/lesson/entity/teacher_shift_test.go
  api/internal/lesson/entity/teacher_submission.go
  api/internal/lesson/entity/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/common.proto
  api/proto/lesson/service.proto
  api/proto/lesson/teacher_shift.proto
  api/proto/lesson/teacher_submission.proto
  docker-compose.yaml
  infra/mysql/schema/2022010101-lessons-create-table-teacher-shifts.sql
Labels: test, backend (lesson)

#125 fix(api): fix jst package
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
Labels: test, backend (gateway)

#128 fix(classroom-api): fix upsert teacher subject
  api/internal/classroom/api/api.go
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
Labels: test, backend (classroom)

#129 feat(api): add return fiscal year method
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
Labels: test

#131 feat(lesson-api): implement list teacher submissions
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/entity/teacher_submission.go
  api/internal/lesson/entity/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#133 fix(lesson-api): remove status field
  api/internal/lesson/entity/teacher_submission_test.go
Labels: bugfix, test, backend (lesson), mergeable

#136 feat(ci): setup lesson api workflow
  .github/workflows/cd-api-lesson-for-main.yaml
Labels: workflow

#138 feat(lesson-api): implement list teacher shifts
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#132 frontend: 担当科目更新機能の実装
  api/internal/gateway/teacher/v1/entity/subject.go
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/middleware/authenticated.ts
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/lesson.ts
  web/teacher/src/types/props/setting.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/test/components/atoms/TheSelect.test.ts
  web/teacher/test/helpers/api-mock/auth.ts
  web/teacher/test/store/auth.test.ts
Labels: frontend (teacher), test, backend (gateway), mergeable

#139 feat(gateway): implement list teacher shifts api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  docs/swagger/teacher/paths/v1/teachers/_teacherId/submissions/_summaryId.yaml
Labels: test, docs, backend (gateway)

#140 fix(lesson-api): add check shift submission
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/entity/shift_summary.go
Labels: test, backend (lesson)

#144 feat(web/teacher): implement ui when shift is not yet accepted
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/submissions/index.vue
  web/teacher/src/static/submission.png
  web/teacher/test/components/templates/TheSubmissionTop.test.ts
Labels: frontend (teacher), test

#146 feat(user-api): createStudent database layer
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/mock/user/database/database.go
Labels: test, backend (user), mergeable

#147 fix(classroom-api): fix goroutine in upsert subjects
  api/config/classroom/server/config.go
  api/internal/classroom/api/teacher_subject.go
  api/internal/classroom/api/teacher_subject_test.go
  api/internal/classroom/cmd/server/exec.go
  api/internal/classroom/cmd/server/registry.go
  docker-compose.yaml
Labels: bugfix, test, backend (classroom)

#149 feat(web/teacher): implement desktop default layout
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/components/organisms/TheSidebar.vue
  web/teacher/src/layouts/default.vue
  web/teacher/test/components/organisms/TheSidebar.test.ts
Labels: frontend (teacher), test

#150 fix(web/teacher): fix image size in desktop layout
  web/teacher/src/components/templates/MbShiftTop.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/layouts/error.vue
Labels: frontend (teacher)

#151 feat(web/teacher): implement signin ui for desktop
  web/teacher/.firebaserc
  web/teacher/src/components/organisms/TheSidebar.vue
  web/teacher/src/layouts/auth.vue
  web/teacher/src/pages/signin.vue
Labels: frontend (teacher)

#154 feat(ci/cd): setup deploy student web
  .github/workflows/cd-web-student-for-main.yaml
Labels: workflow

#155 feat(classroom-api): define student subjects proto
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/service.proto
  api/proto/classroom/student_subject.proto
  infra/mysql/schema/2022010401-classrooms-create-table-student-subjects.sql
Labels: backend (classroom)

#156 feat(classroom-api): implement student subjects db logic
  api/internal/classroom/database/database.go
  api/internal/classroom/database/student_subject.go
  api/internal/classroom/database/student_subject_test.go
  api/internal/classroom/entity/student_subject.go
  api/internal/classroom/entity/student_subject_test.go
  api/mock/classroom/database/database.go
Labels: test, backend (classroom)

#157 Feat/classroom api/implement student subject api
  api/internal/classroom/api/api_test.go
  api/internal/classroom/api/student_subject.go
  api/internal/classroom/api/student_subject_test.go
  api/internal/classroom/validation/student_subject.go
  api/internal/classroom/validation/student_subject_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/validation/validator.go
Labels: test, backend (classroom)

#160 feat(user-api): implement delete teacher api
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: test, backend (user)

#159 feat(user-api): implement update teacher role api
  api/hack/database-seeds/main.go
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/entity/teacher.go
  api/internal/user/entity/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: test, backend (user)

#158 feat(gateway): changing update schedules request
  api/internal/gateway/teacher/v1/entity/schedule.go
  api/internal/gateway/teacher/v1/entity/schedule_test.go
  api/internal/gateway/teacher/v1/handler/schedule_test.go
  docs/swagger/teacher/components/schemas/v1/schedules.request.yaml
Labels: test, docs, backend (gateway)

#162 feat(gateway): implement update teacher subjects api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/auth.go
  api/internal/gateway/teacher/v1/handler/auth_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/subject_test.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/request/auth.go
  api/internal/gateway/teacher/v1/request/subject.go
  api/internal/gateway/teacher/v1/request/teacher.go
  api/internal/gateway/teacher/v1/response/teacher.go
  docs/swagger/teacher/components/schemas/v1/auth.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.request.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/teachers/_teacherId/subjects.yaml
Labels: test, docs, backend (gateway)

#148 feat(user-api): CreateStudent usecase layer
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/user/validation/validator.go
Labels: test, backend (user), WIP, mergeable

#166 feat(web/teacher): swith ui by role
  web/teacher/src/components/atoms/TheSelect.vue
  web/teacher/src/components/atoms/TheSelectWithSlot.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/types/props/menu.ts
  web/teacher/test/components/organisms/TheMenu.test.ts
  web/teacher/test/components/organisms/TheSidebar.test.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/auth.test.ts
Labels: frontend (teacher), test

#165 fix(gateway): fix nil pointer for error handling
  api/internal/gateway/teacher/v1/handler/api.go
Labels: bugfix, backend (gateway)

#168 Feat/teacher web/delete teacher
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

#164 feat(user-api): add ListStudents proto
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
Labels: backend (user), mergeable

#167 fix: SchoolTypeをEnumからUnionに変更
  infra/docker/infra/swagger/student/Dockerfile
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/lib/convert.ts
  web/teacher/src/lib/index.ts
  web/teacher/src/pages/index.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/auth.ts
  web/teacher/src/types/api/v1/index.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/subject.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/lesson.ts
  web/teacher/src/types/form/teacher.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/src/types/store/common.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/auth.ts
  web/teacher/test/helpers/api-mock/lesson.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test, infra (docker), mergeable

#170 feat(gateway): add fields to shifts response
  api/internal/gateway/entity/teacher.go
  api/internal/gateway/entity/teacher_shift.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: test, docs, backend (gateway), backend (lesson), mergeable

#171 fix: 教科変更のイベント検知をchangeメソッドからblurメソッドに変更
  web/teacher/src/components/molecules/TheSubjectSelectFormItem.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher), mergeable

#169 add databese layer
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/mock/user/database/database.go
Labels: test, backend (user), WIP, mergeable

#172 Feature/submission edit
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/TheSubmissionDetail.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/plugins/dayjs.ts
  web/teacher/src/types/props/submission.ts
  web/teacher/src/types/store/submission.ts
Labels: frontend (teacher)

#174 feat(web/teacher): コマ/ブース設定画面のUIだけ作成
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher), mergeable

#175 feat(web/teacher): implement new lesson page layout
  web/teacher/nuxt.config.js
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

#176 fix(web/teacher): fix edit teacher dialog
  web/teacher/src/store/lesson.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test

#177 feat(lesson-api): define student submissions entity
  api/internal/lesson/entity/student_shift.go
  api/internal/lesson/entity/student_shift_test.go
  api/internal/lesson/entity/student_submission.go
  api/internal/lesson/entity/student_submission_test.go
  api/proto/lesson/student_shift.proto
  api/proto/lesson/student_submission.proto
  infra/mysql/schema/2022011401-lessons-create-table-student-shifts.sql
Labels: test, backend (lesson)

#182 feat(lesson-api): implement list student submissions api
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
  api/internal/lesson/validation/student_shift.go
  api/internal/lesson/validation/student_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#173 feat(user-api): ListStudents usecase layer
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: test, backend (user), WIP, mergeable

#185 feat(lesson-api): define lesson entity
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/entity/lesson.go
  api/mock/lesson/database/database.go
  infra/mysql/schema/2022011601-lessons-create-table-lessons.sql
Labels: test, backend (lesson)

#184 fix:translate ListStudentRequest
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Labels: bugfix, test, backend (gateway), mergeable

#187 fix(lesson-api): fix test code in lesson db
  api/internal/lesson/database/lesson_test.go
Labels: test, backend (lesson), mergeable

#186 feat(user-api): add DeleteStudent Proto
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
Labels: backend (user)

#188 feat(classroom-api): implement get room api
  api/internal/classroom/api/room.go
  api/internal/classroom/api/room_test.go
  api/internal/classroom/database/database.go
  api/internal/classroom/database/room.go
  api/internal/classroom/database/room_test.go
  api/internal/classroom/entity/room.go
  api/internal/classroom/entity/room_test.go
  api/internal/classroom/validation/room.go
  api/internal/classroom/validation/room_test.go
  api/internal/classroom/validation/validator.go
  api/mock/classroom/database/database.go
  api/mock/classroom/validation/validator.go
  api/mock/proto/classroom/service_grpc.pb.go.go
  api/proto/classroom/room.proto
  api/proto/classroom/service.proto
Labels: test, backend (classroom)

#181 Feat/frontend/settings
  web/teacher/src/components/molecules/TheHourFormItem.vue
  web/teacher/src/components/organisms/TheBoothSettingForm.vue
  web/teacher/src/components/organisms/TheHourSettingForm.vue
  web/teacher/src/components/organisms/TheRegularHolidaySettingForm.vue
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/setting.ts
  web/teacher/src/types/props/setting.ts
  web/teacher/test/components/templates/TheSettingTop.test.ts
Labels: frontend (teacher), test, mergeable

#190 feat(lesson-api): implement create lesson api
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/entity/lesson.go
  api/internal/lesson/entity/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/lesson.proto
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#191 feat(lesson-api): implement list lessons api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/entity/lesson.go
  api/internal/lesson/entity/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#192 feat(gateway): update list shifts api response
  api/internal/gateway/entity/lesson.go
  api/internal/gateway/entity/lesson_test.go
  api/internal/gateway/entity/shift.go
  api/internal/gateway/entity/shift_test.go
  api/internal/gateway/teacher/v1/entity/lesson.go
  api/internal/gateway/teacher/v1/entity/lesson_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: test, docs, backend (gateway)

#193 feat(lesson-api): update create lesson api response
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson), mergeable

#194 feat(gateway): implement create lesson api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/request/lesson.go
  api/internal/gateway/teacher/v1/response/lesson.go
  docs/swagger/teacher/components/schemas/v1/lessons.request.yaml
  docs/swagger/teacher/components/schemas/v1/lessons.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/index.yaml
Labels: test, docs, backend (gateway)

#189 feat(user-api): add DeleteStudent database layer
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/mock/user/database/database.go
Labels: test, backend (user), mergeable

#195 feat(web/teacher): implement submit teacher shifts api client
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/TheSubmissionDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/index.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/api-mock/submission.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/submission.test.ts
Labels: frontend (teacher), test

#196 feat(web/teacher): implement create lesson page design
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/templates/MbShiftDetail.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Labels: frontend (teacher)

#197 fix(web/teacher): fix create shift dialog
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
Labels: frontend (teacher)

#198 fix(gateway): fix lesson total fields
  api/internal/gateway/entity/lesson.go
  api/internal/gateway/entity/lesson_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
Labels: test, backend (gateway)

#199 fix(web/teacher): split components in create lessons page
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheShiftTeacherTable.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
Labels: frontend (teacher)

#202 feat(gateway): implement list enabled student shifts api
  api/internal/gateway/teacher/v1/entity/student_shift.go
  api/internal/gateway/teacher/v1/entity/student_shift_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/student_shift_test.go
  api/internal/gateway/teacher/v1/response/submission.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/students/_studentId.yaml
Labels: test, docs, backend (gateway)

#203 feat(lesson-api): implement list lessons api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#204 fix(gateway): fix teacher response
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/handler/teacher_test.go
  api/internal/gateway/teacher/v1/response/teacher.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/components/schemas/v1/teachers.response.yaml
Labels: test, docs, backend (gateway)

#205 feat(gateway): update student response
  api/internal/gateway/entity/student_subject.go
  api/internal/gateway/entity/student_subject_test.go
  api/internal/gateway/entity/subject.go
  api/internal/gateway/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: test, docs, backend (gateway)

#207 Feat/lesson api/implement list submissions
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/student_shift.go
  api/internal/lesson/database/student_shift_test.go
  api/internal/lesson/database/teacher_shift.go
  api/internal/lesson/database/teacher_shift_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#209 fix: migrate task
  Makefile
Labels: mergeable

#208 feat(gateway): implement list submissions api
  api/internal/gateway/entity/student_shift.go
  api/internal/gateway/entity/student_shift_test.go
  api/internal/gateway/entity/teacher_shift.go
  api/internal/gateway/entity/teacher_shift_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/teacher.go
  api/internal/gateway/teacher/v1/response/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/submissions/_submissionId.yaml
Labels: test, docs, backend (gateway), WIP

#211 Add: Added update mail page
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/types/form/teacher.ts
Labels: frontend (teacher), mergeable

#213 feat(user-api): implement multi get teachers
  api/internal/user/api/teacher.go
  api/internal/user/api/teacher_test.go
  api/internal/user/database/database.go
  api/internal/user/database/teacher.go
  api/internal/user/database/teacher_test.go
  api/internal/user/validation/teacher.go
  api/internal/user/validation/teacher_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: test, backend (user)

#210 設定画面のUIを調整
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/components/templates/TheSettingTop.vue
  web/teacher/src/layouts/default.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/pages/settings/index.vue
Labels: frontend (teacher), mergeable

#214 Refactor: にしくんの苦情を修正
  web/teacher/src/pages/settings/mail.vue
Labels: frontend (teacher), mergeable

#215 feat(user-api): implement multi get students
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/database/student_test.go
  api/internal/user/entity/student.go
  api/internal/user/entity/student_test.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
  api/proto/user/student.proto
Labels: test, backend (user)

#216 feat(lesson-api): implement list lessons api
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (gateway), backend (lesson)

#217 feat(lesson-api): update list shifts api request
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/validation/shift_test.go
  api/mock/lesson/database/database.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson), mergeable

#221 feat(gateway): implement list submissions api
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/teacher.go
Labels: test, backend (gateway)

#218 feat(gateway): add GetStudent Mock
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/handler/subject.go
  api/internal/gateway/teacher/v1/response/student.go
Labels: test, backend (gateway), mergeable

#222 feat(lesson-api): alter column student submission table
  api/hack/database-migrate/main.go
  api/internal/gateway/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/database/student_submission.go
  api/internal/lesson/database/student_submission_test.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/entity/student_submission.go
  api/internal/lesson/entity/student_submission_test.go
  api/proto/lesson/service.proto
  api/proto/lesson/student_submission.proto
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  infra/mysql/schema/2022012401-lessons-alter-column-to-student-submissions.sql
Labels: test, docs, backend (gateway), backend (lesson)

#223 feat(gateway): add response field to get student shift api
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/student_shift_test.go
  api/internal/gateway/teacher/v1/response/submission.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: test, docs, backend (gateway)

#219 Feat/frontend/subjects
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher), mergeable

#220 Add: added update password page
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/password.vue
  web/teacher/src/types/form/teacher.ts
Labels: frontend (teacher), mergeable

#225 fix(lesson-api): fix null pointer in get subumission api
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/teacher_shift.go
Labels: backend (lesson), mergeable

#226 feat(gateway): add CreateStudent mock
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/student_test.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/index.yaml
Labels: test, docs, backend (gateway), mergeable

#227 Feat/lesson api/list lessons api
  api/internal/gateway/teacher/v1/entity/lesson.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/response/lesson.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/entity/lesson.go
  api/mock/lesson/database/database.go
  api/proto/lesson/service.proto
  docs/swagger/teacher/components/schemas/v1/lessons.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/index.yaml
Labels: test, docs, backend (gateway), backend (lesson)

#224 feat(web/teacher): implement api client for get user submissions
  api/internal/classroom/validation/student_subject_test.go
  api/internal/classroom/validation/subject_test.go
  api/internal/classroom/validation/teacher_subject_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/gateway/teacher/v1/handler/teacher_shift.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/proto/classroom/service.proto
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/TheSubmissionDetail.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/pages/submissions/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/store/submission.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/api/v1/submission.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/src/types/store/submission.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/components/organisms/TheStudentList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/helpers/api-mock/submission.ts
  web/teacher/test/helpers/api-mock/user.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test, backend (gateway), backend (classroom), backend (lesson)

#229 feat(gateway): add ListStudents mock
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/response/student.go
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/index.yaml
Labels: test, docs, backend (gateway), mergeable

#230 fix(classroom-api): fix create subject response
  api/internal/classroom/api/subject.go
  api/internal/classroom/api/subject_test.go
Labels: test, backend (classroom), mergeable

#231 Feat/teacher web/implement new lessons
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/form/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/props/user.ts
  web/teacher/src/types/store/shift.ts
Labels: frontend (teacher), test, docs, backend (gateway)

#232 feat(web/teacher): new lesson layout
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/lib/convert.ts
  web/teacher/src/pages/index.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/auth.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/organisms/TheTeacherList.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/shift.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test, WIP

#234 feat(web/teacher): implement new lessons dialog design
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/form/shift.ts
Labels: frontend (teacher)

#236 feat(web/teacher): implement list lessons per user dialog
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/props/shift.ts
  web/teacher/src/types/store/shift.ts
Labels: frontend (teacher)

#238 feat(lesson-api): implement update lesson api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#239 feat(gateway): implement update lesson api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/request/lesson.go
  docs/swagger/teacher/components/schemas/v1/lessons.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/_lessonId.yaml
Labels: test, docs, backend (gateway)

#240 feat(lesson-api): implement delete lesson api
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#233 feat(Gateway): add DeleteStudent mock
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  docs/swagger/teacher/paths/v1/students/_studentId/index.yaml
Labels: test, docs, backend (gateway), mergeable

#241 feat(gateway): implement delete lesson api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/_lessonId.yaml
Labels: test, docs, backend (gateway)

#242 feat(lesson-api): add field to shift summary entity
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/entity/lesson.go
  api/internal/lesson/entity/lesson_test.go
  api/internal/lesson/entity/shift_summary.go
  api/internal/lesson/entity/shift_summary_test.go
  api/internal/lesson/validation/lesson_test.go
  api/mock/lesson/database/database.go
  api/proto/lesson/service.proto
  api/proto/lesson/shift_summary.proto
  infra/mysql/schema/2022013001-lessons-aadd-column-to-shift-summaries.sql
Labels: test, backend (lesson)

#243 feat(gateway): add fields lesson decided
  api/internal/gateway/entity/shift_summary_test.go
  api/internal/gateway/teacher/v1/entity/shift_summary.go
  api/internal/gateway/teacher/v1/entity/shift_summary_test.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: test, docs, backend (gateway)

#245 feat(lesson-api): implement update shift decided api
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/shift_summary.go
  api/internal/lesson/database/shift_summary_test.go
  api/internal/lesson/validation/shift.go
  api/internal/lesson/validation/shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#246 feat(gateway): implement udpate shift decided api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/request/shift.go
  docs/swagger/teacher/components/schemas/v1/shifts.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/decided.yaml
Labels: test, docs, backend (gateway)

#244 teacher-web: 科目追加機能の実装
  web/teacher/src/lib/convert.ts
  web/teacher/src/pages/settings/subjects.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/subject.ts
  web/teacher/src/types/form/index.ts
  web/teacher/src/types/form/subject.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test, mergeable

#247 feat(web/teacher): add shift decided status
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonList.vue
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/components/organisms/TheShiftTopCard.test.ts
  web/teacher/test/components/templates/PcShiftTop.test.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

#248 feat(lesson-api): implement list lessons by duration
  api/internal/gateway/entity/lesson.go
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/lesson.go
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  api/internal/gateway/teacher/v1/response/lesson.go
  api/internal/gateway/teacher/v1/response/shift.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/lesson.go
  api/internal/lesson/database/shift.go
  api/internal/lesson/database/shift_test.go
  api/internal/lesson/entity/shift.go
  api/internal/lesson/validation/lesson.go
  api/internal/lesson/validation/lesson_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
  docs/swagger/teacher/components/schemas/v1/lessons.response.yaml
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/lessons/index.yaml
  docs/swagger/teacher/paths/v1/shifts/_shiftId/lessons/index.yaml
Labels: test, docs, backend (gateway), backend (lesson)

#228 Add: added update mail API by BFF
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/teacher.ts
Labels: frontend (teacher), mergeable

#250 feat(web/teacher): implement list lessons api client
  api/internal/gateway/teacher/v1/handler/lesson_test.go
  api/internal/lesson/api/lesson.go
  api/internal/lesson/api/lesson_test.go
  web/teacher/src/components/templates/TheTop.vue
  web/teacher/src/pages/index.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/lesson.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/lesson.ts
  web/teacher/test/components/templates/TheTop.test.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test, backend (gateway), backend (lesson), mergeable

#251 refactor(web/teacher): dialog button
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/PcShiftTop.vue
Labels: frontend (teacher)
