Repository calmato/shs-web, pull requests merged in 2022-02, with the labels that each got.

#252 refactor(web/teacher): refactor table style
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheShiftTeacherTable.vue
Labels: frontend (teacher)

#249 feat: web-teacher 開講科目編集・削除機能の実装
  web/teacher/src/pages/settings/subjects.vue
  web/teacher/src/store/lesson.ts
  web/teacher/src/types/form/subject.ts
  web/teacher/test/helpers/store-helper.ts
  web/teacher/test/store/lesson.test.ts
Labels: frontend (teacher), test, mergeable

#253 Feature/password update
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/pages/settings/password.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/teacher.ts
Labels: frontend (teacher), mergeable

#255 feat(user-api): implement update student api
  api/internal/user/api/student.go
  api/internal/user/api/student_test.go
  api/internal/user/database/database.go
  api/internal/user/database/student.go
  api/internal/user/validation/student.go
  api/internal/user/validation/student_test.go
  api/internal/user/validation/validator.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/database/database.go
  api/mock/user/validation/validator.go
  api/proto/user/service.proto
Labels: test, backend (user), mergeable

#256 fix: デザインレビュー会で話した内容を反映
  web/teacher/src/components/organisms/TheBoothSettingForm.vue
  web/teacher/src/components/organisms/TheCalendarDetail.vue
  web/teacher/src/components/organisms/TheCalendarHeader.vue
  web/teacher/src/components/organisms/TheShiftEditCard.vue
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftNewCard.vue
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTopCard.vue
  web/teacher/src/components/organisms/TheSubmissionList.vue
  web/teacher/src/components/organisms/TheTeacherEditCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/components/templates/PcShiftTop.vue
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/components/templates/TheSubmissionTop.vue
  web/teacher/src/components/templates/TheTeacherNew.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/pages/settings/index.vue
  web/teacher/src/pages/settings/subjects.vue
  web/teacher/test/components/templates/TheSubmissionTop.test.ts
Labels: frontend (teacher), test, mergeable

#258 feat(gateway): implement update student api
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/students/_studentId/mail.yaml
  docs/swagger/teacher/paths/v1/students/_studentId/password.yaml
Labels: test, docs, backend (gateway)

#260 feat(gateway): implement auth api
  api/internal/gateway/student/v1/entity/auth.go
  api/internal/gateway/student/v1/entity/auth_test.go
  api/internal/gateway/student/v1/entity/subject.go
  api/internal/gateway/student/v1/entity/subject_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/auth.go
  api/internal/gateway/student/v1/handler/auth_test.go
  api/internal/gateway/student/v1/request/auth.go
  api/internal/gateway/student/v1/response/auth.go
  docs/swagger/student/components/schemas/v1/auth.request.yaml
  docs/swagger/student/components/schemas/v1/auth.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/me/mail.yaml
  docs/swagger/student/paths/v1/me/password.yaml
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
  docs/swagger/teacher/openapi.yaml
Labels: test, docs, backend (gateway)

#261 feat(gateway): implement submission api
  api/internal/gateway/student/v1/entity/shift_summary.go
  api/internal/gateway/student/v1/entity/shift_summary_test.go
  api/internal/gateway/student/v1/entity/student.go
  api/internal/gateway/student/v1/entity/student_shift.go
  api/internal/gateway/student/v1/entity/student_shift_test.go
  api/internal/gateway/student/v1/entity/student_submission.go
  api/internal/gateway/student/v1/entity/student_submission_test.go
  api/internal/gateway/student/v1/entity/student_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/submission.go
  api/internal/gateway/student/v1/handler/submission_test.go
  api/internal/gateway/student/v1/request/submission.go
  api/internal/gateway/student/v1/response/submission.go
  docs/swagger/student/components/schemas/v1/submissions.request.yaml
  docs/swagger/student/components/schemas/v1/submissions.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/submissions/_summaryId.yaml
  docs/swagger/student/paths/v1/submissions/index.yaml
Labels: test, docs, backend (gateway), mergeable

#264 refactor(gateway): refactor teacher gateway request
  api/internal/gateway/teacher/v1/entity/schedule.go
  api/internal/gateway/teacher/v1/entity/schedule_test.go
  api/internal/gateway/teacher/v1/handler/schedule.go
  api/internal/gateway/teacher/v1/handler/schedule_test.go
  api/internal/gateway/teacher/v1/request/schedule.go
  docs/swagger/teacher/openapi.yaml
  docs/swagger/teacher/paths/v1/schedules/index.yaml
Labels: test, docs, backend (gateway)

#262 feat(gateway): implement subjects api
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/subject.go
  api/internal/gateway/student/v1/handler/subject_test.go
  api/internal/gateway/student/v1/response/subject.go
  docs/swagger/student/components/schemas/v1/subjects.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/subjects/index.yaml
Labels: test, docs, backend (gateway)

#263 feat(gateway): implement submission api (#261)
  api/internal/gateway/student/v1/entity/lesson.go
  api/internal/gateway/student/v1/entity/lesson_test.go
  api/internal/gateway/student/v1/entity/teacher.go
  api/internal/gateway/student/v1/entity/teacher_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/lesson.go
  api/internal/gateway/student/v1/handler/lesson_test.go
  api/internal/gateway/student/v1/response/lesson.go
  docs/swagger/student/components/schemas/v1/lessons.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/lessons/index.yaml
Labels: test, docs, backend (gateway)

#265 feat(lesson-api): implement student shift template api
  api/internal/lesson/api/api_test.go
  api/internal/lesson/api/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/student_shift_template.go
  api/internal/lesson/database/student_shift_template_test.go
  api/internal/lesson/entity/student_shift_template.go
  api/internal/lesson/entity/student_shift_template_test.go
  api/internal/lesson/validation/student_shift.go
  api/internal/lesson/validation/student_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
  api/proto/lesson/student_shift.proto
  api/proto/lesson/student_submission.proto
  infra/mysql/schema/2022020201-lessons-create-table-student-shift-templates.sql
Labels: test, backend (lesson)

#267 refactor(web/teacher): refactor shift store code
  web/teacher/src/lib/convert.ts
  web/teacher/src/store/shift.ts
  web/teacher/src/store/subject.ts
Labels: frontend (teacher)

#266 feat(gateway): implement submission template api
  api/internal/gateway/entity/student_shift_template.go
  api/internal/gateway/entity/student_shift_template_test.go
  api/internal/gateway/entity/student_submission.go
  api/internal/gateway/entity/student_submission_test.go
  api/internal/gateway/student/v1/entity/studeht_shift_template_test.go
  api/internal/gateway/student/v1/entity/student_shift.go
  api/internal/gateway/student/v1/entity/student_shift_template.go
  api/internal/gateway/student/v1/entity/student_shift_test.go
  api/internal/gateway/student/v1/entity/student_submission.go
  api/internal/gateway/student/v1/entity/student_submission_test.go
  api/internal/gateway/student/v1/handler/api.go
  api/internal/gateway/student/v1/handler/submission.go
  api/internal/gateway/student/v1/handler/submission_test.go
  api/internal/gateway/student/v1/request/submission.go
  api/internal/gateway/student/v1/response/submission.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/handler/student_shift.go
  api/internal/lesson/api/student_shift_test.go
  api/internal/lesson/entity/student_shift_template.go
  api/internal/lesson/entity/student_shift_template_test.go
  api/proto/lesson/student_shift.proto
  docs/swagger/student/components/schemas/v1/submissions.request.yaml
  docs/swagger/student/components/schemas/v1/submissions.response.yaml
  docs/swagger/student/openapi.yaml
  docs/swagger/student/paths/v1/me/submission.yaml
Labels: test, docs, backend (gateway), backend (lesson)

#269 fix(gateway): remove filter subjects
  api/internal/gateway/student/v1/entity/student.go
  api/internal/gateway/student/v1/entity/subject.go
  api/internal/gateway/student/v1/entity/subject_test.go
  api/internal/gateway/student/v1/handler/auth.go
  api/internal/gateway/teacher/v1/entity/student.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
  docs/swagger/teacher/components/schemas/v1/students.response.yaml
Labels: test, docs, backend (gateway)

#273 fix(classroom-api): fix multiple update schedule
  api/internal/classroom/database/schedule.go
Labels: backend (classroom)

#274 feat: 定休日/コマ/ブース 設定の編集機能の実装
  web/teacher/src/components/templates/TheClassroomSetting.vue
  web/teacher/src/pages/settings/classroom.vue
  web/teacher/src/store/classroom.ts
  web/teacher/src/types/api/v1/classroom.ts
  web/teacher/src/types/store/classroom.ts
  web/teacher/test/store/classroom.test.ts
Labels: frontend (teacher), test, mergeable

#275 fix: gが抜けていたので修正
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher), mergeable

#271 feat(web/teacher): add subject name field
  web/teacher/src/components/organisms/TheCalendarBody.vue
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
  web/teacher/src/components/organisms/TheShiftLessonNewCard.vue
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/lib/convert.ts
  web/teacher/src/pages/index.vue
  web/teacher/src/types/store/lesson.ts
  web/teacher/test/components/organisms/TheTeacherEditCard.test.ts
  web/teacher/test/components/templates/TheUserTop.test.ts
  web/teacher/test/store/auth.test.ts
  web/teacher/test/store/lesson.test.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test, mergeable

#270 fix(gateway): fix update student subjects
  api/internal/gateway/teacher/v1/handler/api.go
  api/internal/gateway/teacher/v1/handler/student.go
  api/internal/gateway/teacher/v1/handler/student_test.go
  api/internal/gateway/teacher/v1/request/student.go
  docs/swagger/teacher/components/schemas/v1/students.request.yaml
Labels: test, docs, backend (gateway), mergeable

#278 fix(web/student): fix disable dark mode
  web/student/nuxt.config.js
Labels: frontend (student), mergeable

#280 feat(web/teacher): implement api client for update student
  web/teacher/src/components/organisms/TheStudentEditCard.vue
  web/teacher/src/components/organisms/TheStudentList.vue
  web/teacher/src/components/templates/TheUserTop.vue
  web/teacher/src/pages/users/index.vue
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/user.ts
  web/teacher/src/types/form/student.ts
  web/teacher/src/types/store/user.ts
  web/teacher/test/store/user.test.ts
Labels: frontend (teacher), test

#281 refactor(web/teacher): refactor shift dialog
  web/teacher/src/components/organisms/TheShiftStudentLessonCard.vue
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherLessonCard.vue
  web/teacher/src/components/organisms/TheShiftTeacherSubmissionCard.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/pages/shifts/_id.vue
Labels: frontend (teacher), mergeable

#282 fix(web/teacher): fix update auth page
  web/teacher/src/pages/settings/mail.vue
  web/teacher/src/pages/settings/password.vue
  web/teacher/src/store/auth.ts
  web/teacher/src/store/user.ts
  web/teacher/src/types/api/v1/auth.ts
Labels: frontend (teacher), mergeable

#283 fix(web/teacher): fix lesson list layout
  web/teacher/src/components/organisms/TheShiftLessonCard.vue
Labels: frontend (teacher), mergeable

#284 fix(lesson-api): fix notify lesson decided
  api/internal/lesson/api/shift.go
  api/internal/lesson/api/shift_test.go
Labels: test, backend (lesson), mergeable

#285 chore(*): udpate start container commands
  Makefile
Labels: mergeable

#286 feat(kubernetes): setup kubernetes manifests
  .github/workflows/cd-api-classroom-for-main.yaml
  .github/workflows/cd-api-gateway-for-main.yaml
  .github/workflows/cd-api-lesson-for-main.yaml
  .github/workflows/cd-api-messenger-for-main.yaml
  .github/workflows/cd-api-user-for-main.yaml
  infra/docker/api/messenger/notifier/Dockerfile
  infra/docker/api/messenger/server/Dockerfile
  infra/kubernetes/.gitignore
  infra/kubernetes/Makefile
  infra/kubernetes/stg/default/classroom-api.deployment.yaml.temp
  infra/kubernetes/stg/default/classroom-api.secret.yaml.temp
  infra/kubernetes/stg/default/classroom-api.service.yaml
  infra/kubernetes/stg/default/common.ingress.yaml
  infra/kubernetes/stg/default/common.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.deployment.yaml.temp
  infra/kubernetes/stg/default/lesson-api.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.service.yaml
  infra/kubernetes/stg/default/messenger-api.deployment.yaml.temp
  infra/kubernetes/stg/default/messenger-api.secret.yaml.temp
  infra/kubernetes/stg/default/messenger-api.service.yaml
  infra/kubernetes/stg/default/messenger-notifier.deployment.yaml.temp
  infra/kubernetes/stg/default/messenger-notifier.secret.yaml.temp
  infra/kubernetes/stg/default/student-gateway.deployment.yaml.temp
  infra/kubernetes/stg/default/student-gateway.service.yaml
  infra/kubernetes/stg/default/teacher-gateway.deployment.yaml.temp
  infra/kubernetes/stg/default/teacher-gateway.service.yaml
  infra/kubernetes/stg/default/user-api.deployment.yaml.temp
  infra/kubernetes/stg/default/user-api.secret.yaml.temp
  infra/kubernetes/stg/default/user-api.service.yaml
Labels: workflow, infra (docker)

#288 fix(kubernetes): fix api config
  api/config/user/server/config.go
  api/internal/user/cmd/server/exec.go
  api/internal/user/cmd/server/registy.go
  infra/kubernetes/stg/default/classroom-api.deployment.yaml.temp
  infra/kubernetes/stg/default/common.secret.yaml.temp
  infra/kubernetes/stg/default/lesson-api.deployment.yaml.temp
  infra/kubernetes/stg/default/user-api.deployment.yaml.temp
Labels: backend (user)

#289 Add: added student submission list page
  web/student/nuxt.config.js
  web/student/src/components/templates/TheSubmissionTop.vue
  web/student/src/pages/submissions/index.vue
  web/student/src/plugins/store-accessor.ts
  web/student/src/store/submission.ts
  web/student/src/types/api/v1/index.ts
  web/student/src/types/api/v1/submission.ts
  web/student/src/types/store/common.ts
  web/student/src/types/store/index.ts
  web/student/src/types/store/submission.ts
  web/teacher/nuxt.config.js
Labels: frontend (teacher), frontend (student), mergeable

#294 Add: added setting update mail page
  web/student/src/pages/settings/mail.vue
  web/student/src/store/auth.ts
  web/student/src/types/api/v1/auth.ts
  web/student/src/types/form/student.ts
Labels: frontend (student), mergeable

#296 Fix: fixed layout
  web/teacher/src/components/organisms/TheHourSettingForm.vue
  web/teacher/src/components/organisms/TheShiftLessonList.vue
Labels: frontend (teacher)

#299 feat(gateway): subjects sort by color code
  api/internal/gateway/student/v1/entity/subject.go
  api/internal/gateway/student/v1/entity/subject_test.go
  api/internal/gateway/teacher/v1/entity/subject.go
  api/internal/gateway/teacher/v1/entity/subject_test.go
Labels: test, backend (gateway), mergeable

#300 fix(gateway): lessons sort by start at
  api/internal/gateway/student/v1/entity/lesson.go
  api/internal/gateway/student/v1/entity/lesson_test.go
  api/internal/gateway/teacher/v1/entity/lesson.go
  api/internal/gateway/teacher/v1/entity/lesson_test.go
Labels: test, backend (gateway)

#302 feat(web/student): implement top page
  web/student/.eslintrc.js
  web/student/src/components/organisms/TheCalendarBody.vue
  web/student/src/components/organisms/TheCalendarDetail.vue
  web/student/src/components/organisms/TheCalendarHeader.vue
  web/student/src/components/templates/TheTop.vue
  web/student/src/lib/convert.ts
  web/student/src/lib/index.ts
  web/student/src/pages/index.vue
  web/student/src/plugins/store-accessor.ts
  web/student/src/store/auth.ts
  web/student/src/store/lesson.ts
  web/student/src/types/api/v1/auth.ts
  web/student/src/types/api/v1/index.ts
  web/student/src/types/api/v1/lesson.ts
  web/student/src/types/props/calendar.ts
  web/student/src/types/store/auth.ts
  web/student/src/types/store/common.ts
  web/student/src/types/store/index.ts
  web/student/src/types/store/lesson.ts
  web/student/test/helpers/api-mock/auth.ts
  web/student/test/store/auth.test.ts
Labels: test, frontend (student)

#303 fix(gateway): fix list lessons api
  api/internal/gateway/student/v1/handler/lesson.go
  api/internal/gateway/student/v1/handler/lesson_test.go
Labels: test, backend (gateway), mergeable

#306 fix(messenger-api): fix health check timeout
  api/internal/messenger/cmd/notifier/exec.go
  api/internal/messenger/notifier/notifier.go
  api/internal/messenger/notifier/notifier_test.go
  api/pkg/pubsub/puller_test.go
  infra/kubernetes/stg/default/messenger-notifier.deployment.yaml.temp
Labels: test, backend (messenger)

#301 feat: 生徒側の授業希望のカスタム設定画面のUIを作成
  web/student/src/pages/settings/class.vue
Labels: frontend (student), mergeable

#307 fix(web/teacher): eliminate duplicate processing
  web/teacher/src/middleware/authenticated.ts
  web/teacher/src/store/common.ts
  web/teacher/src/types/store/common.ts
  web/teacher/test/store/common.test.ts
Labels: frontend (teacher), test, mergeable

#313 feat(kubernetes): create helm templates
  .github/labeler.yaml
  .github/workflows/ci-infra-for-all.yaml
  infra/helm/.gitignore
  infra/helm/README.md
  infra/helm/gateway/.helmignore
  infra/helm/gateway/Chart.yaml
  infra/helm/gateway/templates/_helpers.tpl
  infra/helm/gateway/templates/deployment.yaml
  infra/helm/gateway/templates/service.yaml
  infra/helm/gateway/values.yaml
  infra/helm/service/.helmignore
  infra/helm/service/Chart.yaml
  infra/helm/service/templates/_helpers.tpl
  infra/helm/service/templates/deployment.yaml
  infra/helm/service/templates/service.yaml
  infra/helm/service/values.yaml
  infra/kubernetes/.gitignore
  infra/kubernetes/dev/default/classroom-api.deployment.yaml.temp
  infra/kubernetes/dev/default/classroom-api.secret.yaml.temp
  infra/kubernetes/dev/default/classroom-api.service.yaml
  infra/kubernetes/dev/default/common.ingress.yaml
  infra/kubernetes/dev/default/common.secret.yaml.temp
  infra/kubernetes/dev/default/lesson-api.deployment.yaml.temp
  infra/kubernetes/dev/default/lesson-api.secret.yaml.temp
  infra/kubernetes/dev/default/lesson-api.service.yaml
  infra/kubernetes/dev/default/messenger-api.deployment.yaml.temp
  infra/kubernetes/dev/default/messenger-api.secret.yaml.temp
  infra/kubernetes/dev/default/messenger-api.service.yaml
  infra/kubernetes/dev/default/messenger-notifier.deployment.yaml.temp
  infra/kubernetes/dev/default/messenger-notifier.secret.yaml.temp
  infra/kubernetes/dev/default/student-gateway.deployment.yaml.temp
  infra/kubernetes/dev/default/student-gateway.service.yaml
  infra/kubernetes/dev/default/teacher-gateway.deployment.yaml.temp
  infra/kubernetes/dev/default/teacher-gateway.service.yaml
  infra/kubernetes/dev/default/user-api.deployment.yaml.temp
  infra/kubernetes/dev/default/user-api.secret.yaml.temp
  infra/kubernetes/dev/default/user-api.service.yaml
  infra/kubernetes/stg/ingress.yaml
  infra/kubernetes/stg/secret.database.yaml.temp
  infra/kubernetes/stg/secret.gcp-credentials.yaml.temp
  infra/kubernetes/stg/secret.sendgrid.yaml.temp
  test/load/.gitignore
  test/load/2022021001/index.js
  test/load/2022021001/package.json
  test/load/2022021001/yarn.lock
  test/load/README.md
Labels: workflow

#316 feat(web/student): update middleware logic
  web/student/src/middleware/authenticated.ts
  web/student/src/store/common.ts
  web/student/src/types/store/common.ts
Labels: frontend (student)

#326 feat(gateway): add field to list shifts response
  api/internal/gateway/entity/teacher_submission.go
  api/internal/gateway/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/entity/student_submission.go
  api/internal/gateway/teacher/v1/entity/student_submission_test.go
  api/internal/gateway/teacher/v1/entity/teacher_submission.go
  api/internal/gateway/teacher/v1/entity/teacher_submission_test.go
  api/internal/gateway/teacher/v1/handler/shift.go
  api/internal/gateway/teacher/v1/handler/shift_test.go
  docs/swagger/teacher/components/schemas/v1/shifts.response.yaml
Labels: test, docs, backend (gateway)

#327 feat(lesson-api): implement list teacher submissions by teacher ids
  api/internal/lesson/api/teacher_shift.go
  api/internal/lesson/api/teacher_shift_test.go
  api/internal/lesson/database/database.go
  api/internal/lesson/database/teacher_submission.go
  api/internal/lesson/database/teacher_submission_test.go
  api/internal/lesson/validation/teacher_shift.go
  api/internal/lesson/validation/teacher_shift_test.go
  api/internal/lesson/validation/validator.go
  api/mock/lesson/database/database.go
  api/mock/lesson/validation/validator.go
  api/mock/proto/lesson/service_grpc.pb.go.go
  api/proto/lesson/service.proto
Labels: test, backend (lesson)

#325 fix(web): hidden hamburger menu in signin
  web/student/src/components/organisms/TheHeader.vue
  web/student/src/layouts/auth.vue
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/layouts/auth.vue
Labels: frontend (teacher), frontend (student)

#328 feat(web/teacher): add submission flag
  web/teacher/src/components/organisms/TheShiftStudentTable.vue
  web/teacher/src/components/organisms/TheShiftTeacherTable.vue
  web/teacher/src/components/templates/PcShiftDetail.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/api/v1/shift.ts
  web/teacher/src/types/store/shift.ts
  web/teacher/test/helpers/api-mock/shift.ts
  web/teacher/test/store/shift.test.ts
Labels: frontend (teacher), test

#331 feat: 「閉じる」ボタンの追加
  web/teacher/src/pages/settings/subjects.vue
Labels: frontend (teacher), mergeable

#332 feat(web/teacher): add remaining total in student submission
  web/teacher/src/components/organisms/TheShiftStudentSubmissionCard.vue
  web/teacher/src/store/shift.ts
  web/teacher/src/types/store/shift.ts
Labels: frontend (teacher)

#330 fix: add Binary file into gitignore
  infra/terraform/.gitignore
  infra/terraform/main.tf
  infra/terraform/sql/cloud_sql.tf
  vetur.config.js
Labels: infra (terraform), mergeable

#334 fix: メニューの表示がずれないように修正
  web/student/src/components/organisms/TheHeader.vue
  web/student/src/components/organisms/TheMenu.vue
  web/student/src/layouts/default.vue
  web/teacher/src/components/organisms/TheHeader.vue
  web/teacher/src/components/organisms/TheMenu.vue
  web/teacher/src/layouts/default.vue
Labels: frontend (teacher), frontend (student), mergeable
